<div class="x_title">
  <h2>Sign Up</h2>
  <div class="clearfix"></div>
</div>
<div class="x_content">
  <br />
  <form class="form-horizontal form-label-left input_mask" (ngSubmit)="onSignUp()" [formGroup]="signUpForm">
    <div class="row form-fields">
      <div class="col-md-12 form-group has-feedback">
        <input type="text" class="form-control input-form" name="name" formControlName="name" placeholder="Full Name">
        <span class="fa fa-user fa-lg form-control-feedback right" aria-hidden="true"></span>
      </div>
      <div class="col-md-12 form-group has-feedback">
        <input type="email" class="form-control input-form" name="signin-email" formControlName="emailAddress" placeholder="Email">
        <span class="fa fa-envelope fa-lg form-control-feedback right" aria-hidden="true"></span>
      </div>
      <div class="col-md-12 form-group has-feedback">
        <input type="password" class="form-control input-form" name="signin-password" formControlName="password" placeholder="Password">
        <span class="fa fa-key fa-lg form-control-feedback right" aria-hidden="true"></span>
      </div>
      <div id="error-block" class="col-md-12 form-group">
        <div *ngIf="errorObject?.show" class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Error!</strong> {{errorObject?.message}}
        </div>
      </div>
    </div>
    <div class="row form-redirect">
      <div class="col-md-6 form-group">
        <a routerLink="/sign-in">Sign In</a>
      </div>
      <div class="col-md-6 form-group">
        <button type="submit" class="btn btn-primary pull-right btn-form">Sign Up</button>
      </div>
    </div>
  </form>
</div>