<div id="landing-card">
  <div class="x_title">
    <h3>Sign Up</h3>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <br />
    <form class="form-horizontal form-label-left input_mask" [formGroup]="signUpForm">
      <div class="row form-fields">
        <div class="col-md-12 form-group has-feedback">
          <mat-form-field>
            <input type="text" matInput name="id" formControlName="userId" placeholder="User Id">
          </mat-form-field>

        </div>
        <div class="col-md-12 form-group has-feedback" style="display:inline-flex">
          <mat-form-field style="margin-right:7px">
            <input type="text" matInput name="firstName" formControlName="firstName" placeholder="First Name">
          </mat-form-field>
          <mat-form-field>
            <input type="text" matInput name="lastName" formControlName="lastName" placeholder="Last Name">
          </mat-form-field>
        </div>
        <div class="col-md-12 form-group has-feedback">
          <mat-form-field>
            <input type="email" matInput name="signin-email" formControlName="emailAddress" placeholder="Email">
          </mat-form-field>
        </div>
        <div class="col-md-12 form-group has-feedback">
          <mat-form-field>
            <input type="password" matInput name="signin-password" formControlName="password" placeholder="Password">
          </mat-form-field>
          <mat-hint *ngIf="signUpForm.get('password').invalid && showHint == true" style="text-align:left">
            Password must contain atleast 8 characters, 1 lower case letter [a-z], 1 upper case letter [A-Z], 1 numeric character [0-9] and 1 special character.
           </mat-hint>
          <mat-error *ngIf="signUpForm.get('password').invalid && showHint == false" style="text-align:left">
            *Password must contain atleast 8 characters, 1 lower case letter [a-z], 1 upper case letter [A-Z], 1 numeric character [0-9] and 1 special character.
           </mat-error>
        </div>
        <div class="col-md-12 form-group has-feedback">
          <mat-form-field>
            <input type="password" matInput name="signin-confirm-password" formControlName="confirmPassword"
              placeholder="Confirm Password">
          </mat-form-field>
          <mat-error style="text-align:left"
            *ngIf="signUpForm.get('confirmPassword').errors && signUpForm.get('confirmPassword').errors.ConfirmPassword">
            *Password and Confirm Password doesn't match.
          </mat-error>
        </div>
        <!-- <div class="col-md-12 form-group has-feedback">
          <input type="password" class="form-control input-form" name="signin-password" formControlName="password" placeholder="Confirm Password">
          <span class="fa fa-key fa-lg form-control-feedback right" aria-hidden="true"></span>
        </div> -->
        <div id="error-block" class="col-md-12 form-group">
          <div *ngIf="errorObject?.show" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> {{errorObject?.message}}
          </div>
          <div *ngIf="successMessage" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{message}}</strong>
          </div>
        </div>
      </div>
      <div class="row form-redirect">
        <div class="col-md-6 form-group1">
          <a routerLink="/sign-in">Sign In</a>
        </div>
        <div class="col-md-6 form-group">
          <button type="submit" (click)="onSignUp()" class="btn pull-right btn-form btn-primary {{ enableSignUpBtn ? '' : 'bg-disabled'}}"
            [disabled]="!signUpForm.valid">
            SIGN UP
            <i *ngIf="inProgress" class="fa fa-spinner fa-spin inline-loader"></i>
          </button>
          <!-- <button type="submit" class="btn btn-primary pull-right btn-form">SIGN UP</button> -->
        </div>
      </div>
    </form>
  </div>
</div>
