<div id="landing-card">
  <div class="x_title">
    <div><img src="../../assets/loginAvatar.png" width="60" height="auto" /></div>
    <h4>Set Password</h4>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <br />
    <form #formDirective="ngForm" class="form-horizontal form-label-left input_mask" [formGroup]="resetPasswordForm">
      <div class="row form-fields">
        <div class="col-md-12 form-group has-feedback">
          <mat-form-field>
            <input type="password"
              matTooltip="Password must contain atleast 8 characters, 1 lower case letter [a-z], 1 upper case letter [A-Z], 1 numeric character [0-9] and 1 special character."
              required matInput trim="blur" name="newPassword" formControlName="newPassword" placeholder="New Password">
          </mat-form-field>
        </div>
        <div class="col-md-12 form-group has-feedback">
          <mat-form-field>
            <input type="password" required trim="blur" matInput name="confirmPassword"
              formControlName="confirmPassword" placeholder="Confirm Password">
          </mat-form-field>
          <mat-error *ngIf="passwordNotMatch" style="text-align:left">
            Password and Confirm Password doesn't match.
          </mat-error>
        </div>
        <div id="error-block" class="col-md-12 form-group">
          <div *ngIf="errorMessage!==''" class="alert alert-danger alert-dismissible" role="alert"
            style="margin-left: -1%;">
            <button type="button" class="close" (click)="closeErrorMsg()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{errorMessage}}
          </div>
          <div *ngIf="successMessage!==''" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" (click)="closeErrorMsg()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{successMessage}}</strong>
          </div>
        </div>
      </div>
      <div class="row form-redirect">
        <div class="col-md-6 form-group1">
          <a routerLink="/sign-in">Sign In</a>
        </div>
        <div class="col-md-6 form-group">
          <button type="submit" (click)="resetPassword()"
            class="btn pull-right btn-primary {{ resetPasswordForm.valid ? '' : 'bg-disabled'}}"
            [disabled]="!resetPasswordForm.valid">
            Submit
            <i *ngIf="inProgress" class="fa fa-spinner fa-spin inline-loader"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>