.workspace-header {
    height: 20%;
    padding: 25px 0 0;
    /* border-bottom: 1px solid #afadad8c; */
}
.workspace-dropdown {
    position: absolute;
    right: 15px;
    top: 10px;
}

@media screen and (max-width: 480px) {
  .workspace-dropdown {
    top: 50px;
    right: 50px;
  }
}
