.workspace-header {
  /* height: 125px; */
  padding: 20px 0 0;
  border-bottom: 2px solid #E6E9ED;
}
.workspace-dropdown {
  padding: 10px;
}
.workspace-dropdown select {
  border-radius: 3px;
  padding: 5px;
}
.workspace-dropdown option {
  font-size: 15px;
  padding: 5px 2px;
}

/* @media screen and (max-width: 480px) {
  .workspace-dropdown {
    top: 50px;
    right: 50px;
  }
} */
