<div class="container-fluid">
  <div class="row">
    <div id="create-app-header">
      <h3> <a (click)="gotoDashboard()" data-tooltip="Back">
          <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
        </a>IA Adhoc Query Builder</h3>
    </div>
  </div>

  <div class="row-group">
    <div class="col-md-7" id="app-dropdown">
      <mat-form-field>
        <mat-select msInfiniteScroll name="app-select" (infiniteScroll)="getNextBatch()" [threshold]="'0%'" [complete]="5=== applicationInfoList.length"
          [(ngModel)]="appInfoObject.appId" placeholder="Application Name" (selectionChange)="selectedApp($event.value)">
          <mat-option appScrollServerCall *ngFor="let app of applicationInfoList" [value]="app.appId">
            {{app.appName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <a id="open-app" (click)="openAppDialog()" matTooltip="Create Application"><i class="fa fa-plus-circle"></i></a>
    </div>
    <div class="col-md-3 heading-item">
      <div>
        <b>Workspace Name: </b> {{workspaceName | uppercase}}
      </div>
    </div>
    <div class="col-md-2 heading-item">
      <div>
        <b>Metadata Version: </b> {{mmrVersion | uppercase}}
      </div>
    </div>
  </div>
  <div class="row" id="app_desc">
    <b>Application Description</b>
    <p>{{appInfoObject.appDesc}}</p>
  </div>
</div>
<div class="container-fluid">
  <div id="search-screen">
    <mat-form-field>
      <input matInput name="screen-filter" (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <a id="open-app" (click)="addScreen()" matTooltip="Create Screen"><i class="fa fa-plus-circle"></i></a>
  </div>
  <div class="mat-elevation-z8" id="screen-table">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="position">
        <th style="width:8%" mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td style="width:8%" mat-cell *matCellDef="let element; let i = index;">{{element.position}}</td>
      </ng-container>
      <ng-container matColumnDef="screenName">
        <th style="width:13%" mat-header-cell *matHeaderCellDef mat-sort-header> Screen Name </th>
        <td style="width:13%" mat-cell *matCellDef="let element"> <i class="cursor-poniter fa fa-link"></i>
          {{element.screenName}} </td>
      </ng-container>
      <ng-container matColumnDef="linkedScreen">
        <th style="width:13%" mat-header-cell *matHeaderCellDef mat-sort-header> Linked Screen </th>
        <td style="width:13%" mat-cell *matCellDef="let element"> {{element.linkedScreen}} </td>
      </ng-container>
      <ng-container matColumnDef="screenDesc">
        <th style="width:33%" mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td style="width:33%" mat-cell *matCellDef="let element"> {{element.screenDesc}} </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th style="width:6%" mat-header-cell *matHeaderCellDef> Edit </th>
        <td style="width:6%" mat-cell *matCellDef="let element" (click)="gotoScreen(element.screenName)"><i class="cursor-poniter fa fa-edit"></i>
        </td>
      </ng-container>
      <ng-container matColumnDef="nestedLink">
        <th style="width:9%;text-align: center" mat-header-cell *matHeaderCellDef> Nested Link </th>
        <td style="width:9%;text-align: center" mat-cell *matCellDef="let element" (click)="addNestedLink(element.screenId)"><i
            class="cursor-poniter fa fa-plus"></i>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th style="width:9%;text-align: center" mat-header-cell *matHeaderCellDef> Delete</th>
        <td style="width:9%;text-align: center" mat-cell *matCellDef="let element"><i class="cursor-poniter fa fa-trash"></i>
        </td>
      </ng-container>
      <ng-container matColumnDef="download">
        <th style="width:9%;text-align: center" mat-header-cell *matHeaderCellDef> Download </th>
        <td style="width:9%;text-align: center" mat-cell *matCellDef="let element"><i class="cursor-poniter fa fa-download"></i>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
