<div class="container-fluid">
  <div class="row">
    <div id="create-app-header">
      <h3> <a (click)="gotoDashboard()" data-tooltip="Back">
          <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
        </a>IA Adhoc Query Builder</h3>
    </div>
  </div>

  <div class="row-group">
    <div class="col-md-7" id="app-dropdown">
      <mat-form-field>
        <mat-select msInfiniteScroll name="app-select" (infiniteScroll)="getNextBatch()" [threshold]="'0%'"
          [(ngModel)]="selectedAppObject.id" placeholder="Application Name"
          (selectionChange)="selectedApp($event.value)">
          <mat-option appScrollServerCall *ngFor="let app of applicationInfoList" [value]="app.id">
            {{app.appName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <a id="open-app" (click)="openAppDialog()" matTooltip="Create Application"><i class="fa fa-plus-circle"></i></a>
    </div>
    <div class="col-md-3 heading-item">
      <div>
        <b>Workspace Name: </b> {{workspaceName | uppercase}}
      </div>
    </div>
    <div class="col-md-2 heading-item">
      <div>
        <b>Metadata Version: </b> {{mmrVersion | uppercase}}
      </div>
    </div>
  </div>
  <div class="row" id="app_desc">
    <b>Application Description</b>
    <p>{{selectedAppObject.appDesc!==null?selectedAppObject.appDesc :'Created By Archon'}}</p>
  </div>
</div>
<div class="container-fluid">
  <div id="search-screen">
    <mat-form-field>
      <input matInput name="screen-filter" (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <a id="open-app" (click)="addScreen()" matTooltip="Create Screen"><i class="fa fa-plus-circle"></i></a>
  </div>
  <div class="mat-elevation-z8" id="screen-table">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="position">
        <th style="width:8%" mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td style="width:8%" mat-cell *matCellDef="let element; let i = index;">{{element.position}}</td>
      </ng-container>
      <ng-container matColumnDef="screenName">
        <th style="width:13%" mat-header-cell *matHeaderCellDef mat-sort-header> Screen Name </th>
        <td style="width:13%" mat-cell *matCellDef="let element"> <button *ngIf="element.childScreenInfo.length>0"
            (click)="showChildInfo(element.id)" mat-icon-button [matMenuTriggerFor]="menu">
            <i class="cursor-poniter fa fa-link"></i>
          </button>
          {{element.screenName}} </td>
      </ng-container>
      <ng-container matColumnDef="parentScreenInfo.screenName">
        <th style="width:13%" mat-header-cell *matHeaderCellDef> Linked Screen </th>
        <td style="width:13%" mat-cell *matCellDef="let element"> {{element.parentScreenInfo?.screenName}} </td>
      </ng-container>
      <ng-container matColumnDef="screenDesc">
        <th style="width:33%" mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td style="width:33%" mat-cell *matCellDef="let element"> {{element.screenDesc}} </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th style="width:6%" mat-header-cell *matHeaderCellDef> Edit </th>
        <td style="width:6%" mat-cell *matCellDef="let element" (click)="gotoScreen(element.id)"><i
            class="cursor-poniter fa fa-edit"></i>
        </td>
      </ng-container>
      <ng-container matColumnDef="nestedLink">
        <th style="width:9%;text-align: center" mat-header-cell *matHeaderCellDef> Nested Link </th>
        <td style="width:9%;text-align: center" mat-cell *matCellDef="let element"
          (click)="(element.parentScreenInfo?.screenName==='') && addNestedLink(element.id)">
          <i *ngIf="element.parentScreenInfo?.screenName===''" class="cursor-poniter fa fa-plus"></i>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th style="width:9%;text-align: center" mat-header-cell *matHeaderCellDef> Delete</th>
        <td style="width:9%;text-align: center" mat-cell *matCellDef="let element" (click)="deleteScreen(element.id)"><i
            class="cursor-poniter fa fa-trash"></i>
        </td>
      </ng-container>
      <ng-container matColumnDef="download">
        <th style="width:9%;text-align: center" mat-header-cell *matHeaderCellDef> Download </th>
        <td style="width:9%;text-align: center" mat-cell *matCellDef="let element"><i
            class="cursor-poniter fa fa-download"></i>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<mat-menu #menu="matMenu">
  <button *ngFor="let item of childScreenInfo" mat-menu-item>
    <span>{{item.screenName}}</span>
  </button>
</mat-menu>

<button style="display:none" type="button" id="meta-popup-btn" class="btn btn-info btn-lg" data-keyboard="false"
  data-backdrop="static" data-toggle="modal" data-target="#metaDataVersion">Open Modal</button>
<div id="metaDataVersion" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        <p>Metadata is not present for this Workspace, please Add</p>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="gotoMetadata('cancel')" class="btn btn-primary" data-dismiss="modal">Ok</button>
        <button type="button" style="display:none" (click)="gotoMetadata('metadata')" class="btn btn-default"
          data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
