#create-app label {
  padding: 2px 7px 2px 5px;
  float: left;
}

#screen-table {
  margin: 0px 10px 0px 10px;
}

table {
  width: 100%;
}

td,
th {
  text-align: left;
}

::ng-deep #screen-table svg {
  height: 6vh !important;
}

.open-app {
  margin: 3px;
  font-size: 40px;
  cursor: pointer
}

#search-screen {
  text-align: end;
}

#create-app-header {
  display: inline-flex;
  margin: 2px 2px 11px 17px;
  float: left;
}

#create-app-header a {
  padding: 21px 13px 7px 13px;
  text-align: left;
}

.row-group {
  display: flex;
  flex-direction: row;
}

#app-dropdown {
  text-align: left;
  display: inline-flex;
  margin: 2px 20px 2px 0px;
}

.heading-item {
  padding: 15px;
  text-align: right;
  font-size: 16px;
  font-family: roboto;
  word-wrap: break-word;
}

#open-app {
  margin: 10px;
  font-size: 33px;
  cursor: pointer
}

#app_desc {
  padding: 7px 6px 0px 12px;
  font-family: roboto;
  float: left;
  margin: -10px 0px 0px 24px;
  text-align: left;
  background-color: #eef2f9;
  border-radius: 3px;
  width: 19.2%
}

th {
  color: #333;
  font-weight: bold;
  font-size: 15px;
  font-family: "Roboto", "Montserrat", sans-serif;
}

#app-dropdown .mat-form-field {
  width: 244px;
}

#search-screen .mat-form-field {
  width: 265px;
}

p {
  font-size: 14px;
  font-family: roboto;
}

.fa-trash {
  color: #0085f4
}

.fa-plus {
  color: #0085f4
}

.fa-edit {
  color: #0085f4
}

.fa-download {
  color: #0085f4
}

.fa-link {
  color: #0085f4
}

modal-body .p {
  font-size: 15px;
}

.fa-stack {
  font-size: 17px;
  cursor: pointer;
}

.fa-stack .fa {
  color: #2879ff;
}

.fa-stack .fa.fa-circle-thin {
  color: #2879ff;
}

.fa-stack .fa.fa-circle {
  opacity: 0.0;
  color: #2879ff;
}

.fa-stack:hover .fa.fa-plus {
  color: white;
}

.fa-stack:hover .fa.fa-circle-thin {
  color: #2879ff;
}

.fa-stack:hover .fa.fa-circle {
  opacity: 1.0
}



.fa-stack-disabled {
  font-size: 17px;
  cursor: not-allowed;
}

.fa-stack-disabled .fa {
  color: #c3c0c0;
}

.fa-stack-disabled .fa.fa-circle-thin {
  color: #c3c0c0;
}

.fa-stack-disabled .fa.fa-circle {
  opacity: 0.0;
  color: #c3c0c0;
}

.fa-stack-disabled:hover .fa.fa-plus {
  color: white;
}

.fa-stack-disabled:hover .fa.fa-circle-thin {
  color: #c3c0c0;
}

.fa-stack-disabled:hover .fa.fa-circle {
  opacity: 1.0
}

.fa-stack-disabled {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}



.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  max-height: 400px;
  overflow: auto;
  position: relative;
}

::ng-deep div.mat-menu-content {
  padding-top: 0px;
  padding-bottom: 0px;
}

.material-icons {
  font-size: 21px;
  vertical-align: middle;
  margin-right: 16px
}

.material-icons:hover,
.material-icons:focus {
  font-size: 21px;
}

.link-btn {
  padding-left: 25px;
  padding-right: 0px;
  font-size: 15px;
}

a.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
}

a.disabled .material-icons {
  cursor: not-allowed;
}

#app_desc p {
  word-break: break-all;
}

.hide-html {
  display: none;
}

.disabled-cls {
  cursor: not-allowed;
}

.mat-menu-item:hover .material-icons {
  color: #2879ff;
}

.disabled-mat-option {
  opacity: 0.5 !important;
  color: rgba(12, 12, 12, 0.5) !important;
}

.disabled-mat-option-icon {
  opacity: 0.5 !important;
  color: rgba(12, 12, 12, 0.5) !important;
}

.mat-menu-item.disabled-mat-option:hover .material-icons {
  opacity: 0.5 !important;
  color: rgba(12, 12, 12, 0.5) !important;
}

.metadata-warning {
  border-radius: 3px;
  background-color: #eef2f9;
  color: #2879ff;
  height: 33px;
  width: 21%;
  padding: 12px 0px 31px 0px;
  margin-left: 45px;
  margin-top: -18px;
}

.no-record-found {
  background: white;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
  margin-right: 10px;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-left: 10px;
  height: 53px;
  padding: 14px;
}

.mat-paginator-shadow {
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 12px 9px 2px rgba(0, 0, 0, .12) !important;
}

.example-table-container-no-record {
  max-height: 400px;
  overflow: auto;
}

::ng-deep .my-spinner .overlay {
  position: fixed !important;
}

.padding-icon {
  padding-top: 6px;
}

.fonticonbelow {
  float: left;
  color: #fff;
  padding-top: 3px;
  padding-left: 3px;
  /* background-color: #2879ff; */
  width: 31px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  font-size: 13px;
  margin-top: 4px;
  border: 2.2px solid #2879ff;
}

.fonticonbelow:hover {
  background-color: #0A85F8;
  color: #fff;
}

.fonticonbelowdisabled {
  float: left;
  color: #fff;
  padding-top: 3px;
  padding-left: 3px;
  /* background-color: #2879ff; */
  width: 31px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  font-size: 13px;
  margin-top: 4px;
  border: 2.2px solid #c3c0c0;
}

.edit-icon {
  padding-top: 3px;
  font-size: 17px;
  color: #2879ff;
  font-weight: 500;
  cursor: pointer;
}

.edit-icon-disabled {
  padding-top: 3px;
  font-size: 17px;
  color: #c3c0c0;
  font-weight: 500;
  cursor: not-allowed;
}

.edit-icon:hover {
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.edit-icon-disabled:hover {
  color: #c3c0c0;
  font-weight: 500;
  cursor: not-allowed;
}

.fonticonbelow:hover .edit-icon {
  color: #fff;
  font-weight: 500;
}

.deleteapp .material-icons {
  color: #2879ff;
}

.deleteapp .material-icons:hover {
  color: #fff;
}

.fonticonbelow:hover .material-icons {
  color: #fff;
}

.deleteapp {
  margin-left: 5px
}

.material-plus {
  color: #2879ff;
  font-size: 34px
}

.material-plus:hover {
  color: #2879ff;
  font-size: 34px
}

.material-plus-disabled:hover {
  color: #c3c0c0;
  font-size: 34px
}

.material-plus-disabled {
  color: #c3c0c0;
  font-size: 34px
}

.material-icons.material-plus-disabled:hover {
  background-color: #ffffff;
  font-size: 34px;
  cursor: not-allowed;
}

.delete-icon-disabled.material-icons {
  color: #c3c0c0 !important;
  cursor: not-allowed;
}

.delete-icon-disabled.material-icons:hover {
  color: #c3c0c0;
  cursor: not-allowed;
}

.warning-icon {
  font-size: 19px !important;
  color: #fbc41e !important;
  cursor: default;
}

.warning-btn {
  padding-left: 20px;
  padding-right: 0px;
  font-size: 15px;
  margin-bottom: 5px;
}