<div id="drag-search-column" class="row search-screen" cdkDropList [cdkDropListData]="searchCriteria"
  (cdkDropListDropped)="drop($event)">
  <mat-card [class.mat-elevation-z2]="false" cdkDrag *ngFor="let item of searchCriteria"
    class="col-md-4 column-box h-100">
    <mat-card-header>
      <mat-card-title>{{item.label}}
        <span>
          <span class="required-color" *ngIf="item.isRequired">*</span>
          <a class="cursor-poniter" (click)="gotoSearchCriteriaEdit(item?.columnId)"><i class="material-icons">
              edit
            </i></a>
          <a class="cursor-poniter" (click)="deleteSearchCriteria(item?.columnId,item?.tableId)"><i
              class="material-icons">
              delete
            </i></a></span>
      </mat-card-title>
      <mat-card-subtitle>({{item.tableName}})</mat-card-subtitle>
    </mat-card-header>
    <mat-form-field *ngIf="item.fieldType=='TEXT'" class="text-box">
      <input matInput placeholder="Text">
    </mat-form-field>
    <ng-container *ngIf="!item.isDateRange">
      <mat-form-field *ngIf="item.fieldType==='DATE'" class="text-box">
        <input matInput [matDatepicker]="picker" placeholder="Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="item.isDateRange">
      <div>
        <mat-form-field *ngIf="item.fieldType==='DATE'" class="start-end">
          <input matInput [matDatepicker]="picker" placeholder="Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field *ngIf="item.fieldType==='DATE' && item.isDateRange" class="end-date">
          <input matInput [matDatepicker]="picker" placeholder="Date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </ng-container>
    <mat-form-field class="select" *ngIf="item?.fieldType=='COMBO'">
      <mat-select placeholder="Combo">
        <mat-option value="A"></mat-option>
        <mat-option *ngFor="let opt of item?.optionInfo?.option" value="A">
          {{opt.label}},{{opt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-radio-group class="grid-display" *ngIf="item?.fieldType=='RADIO'">
      <mat-radio-button *ngFor="let opt of item?.optionInfo?.option" value="A" name="radio-btn">
        {{opt.label}},{{opt.value}}
      </mat-radio-button>
    </mat-radio-group>
    <ng-container *ngIf="item?.fieldType=='CHECK'">
      <mat-checkbox *ngFor="let opt of item?.optionInfo?.option" value="A" class="example-margin check-display">
        {{opt.label}},{{opt.value}}
      </mat-checkbox>
    </ng-container>
  </mat-card>
</div>