::ng-deep .mat-card-header-text {
  width: 100%;
  margin: 0px !important;
}

::ng-deep .mat-card-title span {
  float: right;
  color: #1385f8  !important;
}

.mat-card.column-box {
  width: 30.25%;
  padding: 11px 10px 8px 10px;
  margin: 0px 9px 17px 17px;
}
::ng-deep .mat-card-title span i{
  padding: 0 7px
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
