
  <mat-card cdkDrag *ngFor="let item of searchColumns" class="col-md-4 column-box">
    <mat-card-header>
      <mat-card-title>{{item.label}}
        <span> <a class="cursor-poniter" (click)="gotoSearchColumnEdit(item?.columnId)"><i class="fa fa-edit"></i></a>
          <a class="cursor-poniter" (click)="deleteSearchColumn(item?.columnId,item?.tableId)"><i class="fa fa-trash"
              aria-hidden="true"></i></a></span>
      </mat-card-title>
      <mat-card-subtitle>({{item.tableName}}/{{item.columnName}})</mat-card-subtitle>
    </mat-card-header>
    <mat-form-field *ngIf="item.fieldType=='TEXT'" class="text-box" appearance="outline">
      <mat-label>Text</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="select" *ngIf="item?.fieldType=='COMBO'">
      <mat-select placeholder="Combo">
        <mat-option *ngFor="let opt of item?.optionInfo?.option" value="A">
          {{opt.label}},{{opt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="select" *ngIf="item?.fieldType=='RADIO'">
      <mat-select placeholder="RADIO">
        <mat-option *ngFor="let opt of item?.optionInfo?.option" value="A">
          <input type="radio"> {{opt.label}},{{opt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="select" *ngIf="item?.fieldType=='CHECK'">
      <mat-select placeholder="CHECK">
        <mat-option *ngFor="let opt of item?.optionInfo?.option" value="A">
          <input type="checkbox">{{opt.label}},{{opt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
