<div id="workspace">
  <a routerLink = "workspace-panel/workspace-info" style="float: left;">Workspace Info</a>    
</div>
<div id="mastermeta">
  <a routerLink = "workspace-panel/manage-master-metadata" style="float: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Manage Master Metadata</a>    
</div>
<div id="managemem">
  <a routerLink = "workspace-panel/manage-members" style="float: right;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ManageMembers</a>
</div>
<div id="memberreq">
  <a routerLink = "workspace-panel/member-request" style="float: right;">Member Request</a>
  <!-- <a [routerLink] = "['/workspace-panel/member-request',{title : MemberREquest Data}]">Member Request</a> -->
</div>
