
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div>
          <h4 class="modal-title">Add Stored Procedures and views</h4>
        </div>        
        <div>
          <div id="primary-tbl-heading">Primary table:</div>        
          <div id="primary-table-value">Table1</div>
        </div>
      </div>
      <div class="modal-body">
           <p>text</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
