<div class="container-fluid site-wrapper">
  <div class="row">
    <app-workspace-header *ngIf="info" [userId]="info.id" [userRole]="info.role"></app-workspace-header>
  </div>

  <div class="row">
    <h3 class="ws-title-position">Workspace
      <i class="fa fa-info-circle " data-toggle="tooltip" data-placement="bottom" title="Workspace Info"></i>
    </h3>
  </div>

  <div class="row">
    <div class="inner cover">
      <div [ngSwitch]="info?.role">
        <div *ngSwitchCase="'Admin'">
          <a href="#">
            <h1>Create a Workspace</h1>
          </a>
        </div>
        <div *ngSwitchCase="'Member'">
          <p class="lead">Please request your administrator to add you to a Workspace</p>
        </div>
      </div>
    </div>
  </div>
</div>