  .modal-dialog {
    margin: 100px auto auto;
    width: 750px;
}

.modal-body {
  height: auto;
}

select {
  -webkit-appearance: none;
}

.time{
  padding-bottom: 1.25em;
  width: 104%;
}

.modal-header {
  padding: 10px;
  padding-left: 15px;
  background-color: #2879ff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
 }
 .modal-title {
  float: left;
  display:inline-block;
  font-size: 18px;
  padding: -1px 15px 10px 15px;
  text-align: left;
  color: #ffffff;
}
.cancelBtn{
  color: #000000;
  background-color: #64b5f6;
  border-color: #64b5f6;
  padding-right: 25px;
  padding-left: 25px;
  text-transform: capitalize;
  transition:0.5s;
}

.cancelBtn:hover , .next:hover {
  transform:scale(1.1,1.1);
  }

.next {
  color: #fff;
  background-color: #2879ff;
  border-color: #2879ff;
  padding-right: 25px;
  padding-left: 25px;
  text-transform: capitalize;
  transition:0.5s;
}

.example-full-width {
  width: 100%;
}

.info-r {
  font-size: 19px;
  padding-left: 7px;
  display:inline-block;  
}

.fa-lg  {
  vertical-align: -7%;
}

  ::ng-deep .cdk-overlay-container{
    z-index: 1200 !important;
}

.heading{
  margin-left: inherit;
  width: 96px;
  padding-top: 30px;
}

::ng-deep table {
  width: 107%;
}

.action-btn button.save {
  background-color: #2879ff;
  color: #ffffff;
  text-transform: inherit;
  transition: 0.5s;
  border-radius: 3px;
  /* float: right; */
}

.action-btn button.save-disabled {
  background-color: #2879ff;
  color: #ffffff;
  text-transform: inherit;
  border-radius: 3px;
}

.action-btn button.cancel {
  background-color: #64b5f6;
  color: #1b1b1b;
  margin-right: 1%;
  text-transform: inherit;
  transition: 0.5s;
  border-radius: 3px;
}

.action-btn button.save:hover {
  transform: scale(1.1, 1.1);

}

.action-btn button.cancel:hover {
  transform: scale(1.1, 1.1);
}





