  <div class="modal-dialog" role="schedulejob">
    <div class="modal-content">
        <div class="info-popup-header-cls">
            <h4 class="popup-title-cls">
              <i class="fa fa-clock-o fa-lg popup-material-icon-cls" style="font-size: 22px;margin-top: 5px;"></i><div class="pop-title" style="margin-left: 0px;margin-top: -3px;">Schedule Job</div></h4>
          </div>
     
      <div class="modal-body">
          <mat-form-field class="example-full-width">
              <input matInput required [(ngModel)]="jobName" placeholder="Job Name">
            </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Job Type</mat-label>
            <select matNativeControl #jobtype (change)="jobType = jobtype.value;reset(jobtype);">
              <option>Schedule Now</option>
              <option>Schedule Later</option>
            </select>
          </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Schedule Server</mat-label>
            <select matNativeControl #jobinstances (change)="instances = jobinstances.value">
                <!-- <option >Local</option> -->
                <option *ngFor="let instances of jobInstancesList" [value]="instances">{{instances}}</option>
            </select>
          </mat-form-field>
        <br>
          <mat-form-field class="example-full-width">
            <input id="datepicker1" matInput [min]="startdate" [matDatepicker]="picker" placeholder="Start Date" [disabled]="jobType !== 'Schedule Later'" [(ngModel)]="startdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="time col-md-12 row">
            <span class="col-md-2 heading">Start Time</span> 
            <div class="col-md-10 input-group"><timepicker [(ngModel)]="mytime" [minuteStep]="1" [secondsStep]="1" [disabled]="jobType !== 'Schedule Later'" [showSeconds]="true" required></timepicker></div>
          </div>
          <mat-form-field class="example-full-width">
              <mat-label>Interval</mat-label>
              <select matNativeControl #Int (change)="Interval = Int.value; calculateRestriction(eventTemp)" [disabled]="jobType !== 'Schedule Later'">
                  <option>Once</option>
                    <option>Days</option>
                    <option>Weeks</option>
                    <option>Months</option>
              </select>
            </mat-form-field>
          <mat-form-field class="example-full-width">
              <input type="number" matInput placeholder="Frequency" min="0" (ngModelChange)="calculateRestriction($event)" [(ngModel)]="Frequency" [disabled]="Interval == 'Once'">
            </mat-form-field>
          <br>
            <mat-form-field class="example-full-width">
              <input matInput id="datepicker2" [min]="restrict" [matDatepicker]="picker2" placeholder="End Date" [(ngModel)]="enddate" [disabled]="Interval == 'Once'">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>  
      <div class="modal-footer">
          <div class="action-btn">
        <button type="button" class="btn cancel btn-padding" data-dismiss="modal" (click)="clearvalues()">Close</button>
        <button type="button" class="btn  {{jobName == ''? 'save-disabled': 'save'}} btn-padding" data-dismiss="modal" (click)="emitObject()" [disabled]="jobName == ''">Schedule</button>
      </div></div>
  </div>
  </div>
