  
  <table datatable class="table" *ngIf="this.isAvailable">
    <thead>
      <tr>
        <th>Sl No</th>
        <th>Master Version</th>
        <th>Description</th>
        <th>Requested Date</th>
        <th>Requested By</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rec of this.memberRequestData">
        <td>{{rec.slNo}}</td>
        <td>{{rec.masterVersion}}</td>
        <td>{{rec.description}}</td>
        <td>{{rec.requestedDate}}</td>
        <td>{{rec.requestedBy}}</td>
        <td>
          <a href="#">Details</a>
        </td>
      </tr>
    </tbody>
  </table>
