td{
    font-size: 14px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
th{
    font-size: 15px;
    text-align: center;
}
.table{
    table-layout: fixed;
    align : center;
    width : 1100px; 
}

ul {
    margin-top: 12px;
    margin-bottom: 10px;
    float: left;
}
span,i {
        cursor: pointer;
}   