td {
    font-size: 12px;
    text-align: center;
    
}
th {
    font-size: 12px;
    text-align: center;
}

span,i {
        cursor: pointer;
}

.icon-button {
  color: red;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}

.manage-members {
  font-size: 12px;
    padding: 30px;
    height: 400px;
    overflow-y: auto;
}

.mem-priv-row {
    display: table-row;
}
.tooltip-left-45 [data-tooltip]:before {
  left: 45%;
}

tr.shown .fa-plus-circle {
  content: "\f056";
}

th.disp-bl {
    display: table-column;
}
.toggle .toggle-show {
    display: none;
}

.toggle-hide {
  display: none;
}

.toggle .toggle-hide {
  display: block;
}

 .add-btn {
    margin-right: 54px;
    margin-top: 15px;
} 
.back {
  color: #fff;
  background-color: #2879ff;
  border-color: #2879ff;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.cancelBtn {
  color: #fff;
  background-color: #64b5f6;
  border-color: #64b5f6;
  padding-right: 25px;
  padding-left: 25px;
  text-transform: capitalize;
}
.next {
  color: #fff;
  background-color: #2879ff;
  border-color: #2879ff;
  padding-right: 25px;
  padding-left: 25px;
  text-transform: capitalize;
}
.modal-header {
  padding: 4px;
  padding-left: 15px;
  background-color: #2879ff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
 }
 .modal-title {
  float: left;
  display:inline-block;
  font-size: 18px;
  padding: -1px 15px 10px 15px;
  text-align: left;
  color: #ffffff;
}