<!-- <div>
  <div class="row">
    <div class="col-md-6">      
      <div class="col-md-8">
        <h3 class="workspace-panel-heading">
          Manage Members
          <span [ngClass]="{'archon-loading-icon' : !isAvailable}"></span>
        </h3>
      </div>
    </div>
    <div class="col-md-6 col-md-push-2">
        <a matTooltip="Add Members" style="font-size: 42px" data-toggle="modal"  data-target="#add-member-modal"><i class="material-icons">
          add_circle
          </i></a>
    </div> 
  </div>
  <div class="row">
    <div id="manager-members" class="workspace-panel-content manage-members">
      
        <table id="manage-members-table" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th></th>
              <th>Members</th>
              <th>Role</th>
              <th>Delete</th>
            </tr>
          </thead>
        </table>
     
    </div>
  </div>
  <div class="row">
    <div class="workspace-panel-content">
      <button (click)="gotoDashboard()" type="submit" class="btn btn-primary pull-right btn-form back ">Back</button>
    </div>
  </div>
</div>
<app-add-members *ngIf="exisitingUserIds.length > 0" [existingUsers]="exisitingUserIds" (updateExistingUsers)="onUpdateExistingUsers($event)"
  [extModifiedExistingUsers]="extModifiedExistingUsers" [ownerAlreadyExist]="ownerAlreadyExist" class="modal fade" id="add-member-modal" role="dialog">
</app-add-members>

<app-manage-user-roles [hidden]="true"></app-manage-user-roles>

<div class="modal fade" id="confirmDelMemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="top: 25%; width: 500px;">
    <div class="modal-content text-left">
      <div class="modal-header">        
        <div class="modal-title">Delete</div>
      </div>
      <div class="modal-body text-center" style="height: 100px;">
          Confirm delete member?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary cancel cancelBtn" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary next" (click)="confirmDelete()" disabled="{{delProgress ? 'true' : null }}">Confirm
            <span [ngClass]="{'archon-loading-icon' : delProgress}"></span>
          </button>
          <div *ngIf="deleteNotif?.show" class="alert alert-danger alert-dismissible m-t-10" role="alert">
            <button type="button" class="close" (click)="closeErrorMsg()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> {{deleteNotif?.message}}
          </div>
      </div>
    </div>
  </div>
</div> -->
<div class="col-md-12" style="padding-left: 5%; padding-right: 5%">
<div class="col-md-12">
    <div class="col-md-6 sub-tittle">      
          Manage Members         
      </div>
       <div class="col-md-6">
         <div class="sub-left">
              <mat-form-field >
              <input [(ngModel)]="searchTableName" matInput placeholder="Search">
            </mat-form-field>
          </div> 
          <div class="sub-right">            
          <a *ngIf="role?.name == 'ROLE_OWNER'" matTooltip="Add Members" style="font-size: 42px" data-toggle="modal"  data-target="#add-member-modal"><i class="material-icons plus col">
            </i></a>
            <a *ngIf="role?.name !== 'ROLE_OWNER'" matTooltip="Only Workspace Owner Can Access" style="font-size: 42px;" data-toggle="modal" ><i class="material-icons plus col" style="color: grey; cursor: not-allowed;">
            </i></a>
        </div>
    </div> 
  </div>
  
      <div class="col-md-12">
      <div class="col-md-12 member-header">
          <div class="ex-mem1" style="display: none" ><i class="material-icons" style="font-size: 23px">delete </i></div>
          <div class="ex-mem2" >User Id</div>
          <div class="ex-mem5" >User Name</div>
          <div class="ex-mem3"  >Role</div>
          <div class="ex-mem4" >Delete</div>
        </div>
  </div>

  <div class="col-md-12">
      <div class="col-md-12 expansion">
      <mat-accordion >
          <mat-expansion-panel [disabled]="role?.name !== 'ROLE_OWNER'" *ngFor="let manage of manageMembers | searchTable:searchTableName; let ind=index;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <div class="ex-header1" style="display: none" ><mat-checkbox (click)="$event.stopPropagation();" [disabled]="manage.workspaceRole.name === 'ROLE_OWNER'"></mat-checkbox></div>
                    <div class="ex-header2" >{{manage.user.id}}</div>
                    <div class="ex-header5" >{{manage.user.name}}</div>
                  <div class="ex-header3"  >{{manage.workspaceRole.name}}</div>
                  <div *ngIf="role?.name == 'ROLE_OWNER'" class="ex-header4" >
                    <a *ngIf="manage.workspaceRole.name !== 'ROLE_OWNER'" data-toggle="modal" data-tooltip="Delete" href="#confirmDelMemModal" (click)="deletemember(manage.user.id)" ><i class="material-icons" style="font-size: 23px" >delete </i></a>
                    <a *ngIf="manage.workspaceRole.name === 'ROLE_OWNER'" data-toggle="modal" data-tooltip="Not Available"><i class="material-icons" style="font-size: 23px; color: #dedede; cursor: not-allowed;" >delete </i></a>
                  </div>
                  <div *ngIf="role?.name !== 'ROLE_OWNER'" class="ex-header4" >
                     <a data-toggle="modal" data-tooltip="Not Available"><i class="material-icons" style="font-size: 23px; color: #dedede; cursor: not-allowed;" >delete </i></a>
                    </div>
              </mat-panel-title>              
            </mat-expansion-panel-header>
            <div class="line"></div>  
            <div class="change-role">Change Role</div>
            <mat-form-field floatLabel="never">
                <mat-select [ngModel]="manage.workspaceRole.name" placeholder="{{manage.workspaceRole.name}}"  [disabled]="manage.workspaceRole.name === 'ROLE_OWNER'" (ngModelChange)="changerole($event,manage.user.id)" >               
                  <mat-option [disabled]="x.roleName === 'ROLE_OWNER' || manage.workspaceRole.name === x.roleName" [value]="x.id" *ngFor="let x of wsRoleList">{{x.roleName}}</mat-option>
                </mat-select>
              </mat-form-field>
                  <div class="acc">Service Access</div>
            <div class="exp-content-outer-header">
                <div class="exp-mat-item">
                  <strong>Services</strong>
                </div>
                <div class="exp-mat-item">
                  <strong>Access</strong>
                </div>
                <div class="exp-mat-item">
                  <strong>Permission</strong>
                </div>
              </div>
              <div class="exp-content-outer" *ngFor="let service of manage.serviceActions">
                <div class="exp-mat-item">{{service.serviceName}} </div>
                <div class="exp-mat-item">                   
                    <mat-slide-toggle *ngIf="service.enableService == true" [checked]="true"  (ngModelChange)="updateaccess($event,service,manage.user.id);service.enableService=$event" [ngModel]="service.enableService"></mat-slide-toggle>
                    <mat-slide-toggle *ngIf="!service.enableService == true" (ngModelChange)="updateaccess($event,service,manage.user.id);service.enableService=$event" [ngModel]="service.enableService"></mat-slide-toggle>
                  <!-- <label class="switch">
                    <input *ngIf="service.enableService == true" type="checkbox" checked (ngModelChange)="updateaccess($event,service,manage.user.id);service.enableService=$event" [ngModel]="service.enableService">
                    <input *ngIf="!service.enableService == true" type="checkbox" (ngModelChange)="updateaccess($event,service,manage.user.id);service.enableService=$event" [ngModel]="service.enableService">
                    <span class="slider round"></span>
                </label> -->
              
              </div>
                <div class="exp-mat-item-select"> 
                  <mat-form-field class="select-cus">                   
                    <mat-select [disabled]="!service.enableService" [ngModel]="service.serviceActionType || 'select'" (selectionChange)="updatepermission($event.value,service,manage.user.id)" >
                      <mat-option  [value]="y" *ngFor="let y of permissionList">{{y}}</mat-option>
                      </mat-select>
                  </mat-form-field></div>               
              </div>              
          </mat-expansion-panel>         
        </mat-accordion>
        
  </div>
</div>
</div>

<!-- change role -->  
<button style="display: none" type="button" id="changeroles" data-toggle="modal" data-target="#confirmchange">Open Modal</button>
<div class="modal fade" id="confirmchange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="width: 480px;">
    <div class="modal-content">
        <div class="info-popup-header-cls">
            <h4 class="popup-title-cls">
              <i class="material-icons popup-material-icon-cls" style="font-size: 22px;margin-top: 3px;">info_outline</i><div class="pop-title" style="margin-left: 0px;margin-top: 3px;">Change Role</div></h4>
          </div>
          <div class="modal-body">
              <p class="popup-paragraph-cls"> Are you sure you want to change this role?</p>
            </div>
     
      <div class="modal-footer">
          <button type="button" class="btn btn-padding btn-secondary-popup"
          data-dismiss="modal" (click)="resetselectedValues()">Cancel</button>
          <button type="button" class="btn btn-padding btn-info-popup-primary-color" (click)="updateRole();" data-dismiss="modal"
          >Confirm</button>         
      </div>
    </div>
  </div>
</div>
<!-- change role -->  
<!-- member delete -->  
<div class="modal fade" id="confirmDelMemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">             
  <div class="modal-dialog"  style="width: 480px;">
    <div class="modal-content">
        <div class="error-popup-header-cls">
            <h4 class="popup-title-cls">
              <i class="material-icons popup-material-icon-cls" style="font-size: 22px;margin-top: 3px;">error_outline</i><div class="pop-title" style="margin-left: 0px;margin-top: 3px;">Delete Confirmation</div></h4>
          </div>
          <div class="modal-body">
              <p class="popup-paragraph-cls"> Are you sure you want to delete this member? </p>
            </div>
      <div class="modal-footer">  
          <div *ngIf="deleteNotif?.show" class="alert alert-danger alert-dismissible m-t-10" role="alert">
              <button type="button" class="close" (click)="closeErrorMsg()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>Error!</strong> {{errorMsg}}
            </div>        
          <button type="button" id="dismissmodel" class="btn btn-padding btn-secondary-popup" (click)="closeErrorMsg();"
          data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-padding btn-error-popup-primary-color" (click)="confirmDelete();"
          >Ok</button> 
      </div>
    </div>
  </div>
</div>

<app-add-members *ngIf="exisitingUserIds.length > 0" [existingUsers]="exisitingUserIds" (updateExistingUsers)="onUpdateExistingUsers($event)"
    [extModifiedExistingUsers]="extModifiedExistingUsers" [ownerAlreadyExist]="ownerAlreadyExist" class="modal fade" id="add-member-modal" role="dialog">
  </app-add-members>
  <app-manage-user-roles [hidden]="true"></app-manage-user-roles>

  <button style="display: none" type="button" id="addmemermsg" data-toggle="modal" data-target="#addmememsg">Open Modal</button>
<div class="modal fade" id="addmememsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">             
  <div class="modal-dialog"  style="width: 480px;">
    <div class="modal-content">
        <div class="error-popup-header-cls">
            <h4 class="popup-title-cls">
              <i class="material-icons popup-material-icon-cls" style="font-size: 22px;margin-top: 3px;">error_outline</i><div class="pop-title" style="margin-left: 0px;margin-top: 3px;">Error</div></h4>
          </div>
          <div class="modal-body">
              <p class="popup-paragraph-cls"> {{errorMsg}} </p>
            </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-padding btn-secondary-popup"  data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-padding btn-error-popup-primary-color" data-dismiss="modal">Ok</button>      
      </div>
    </div>
  </div>
</div>


<button style="display: none" type="button" id="addmemssmsg" data-toggle="modal" data-target="#addmemsmsg">Open Modal</button>
<div class="modal fade" id="addmemsmsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">             
  <div class="modal-dialog"  style="width: 480px;">
    <div class="modal-content">
        <div class="success-popup-header-cls">
            <h4 class="popup-title-cls">
              <i class="material-icons popup-material-icon-cls" style="font-size: 22px;margin-top: 3px;">check_circle_outline</i><div class="pop-title" style="margin-left: 0px;margin-top: 3px;">Success</div></h4>
          </div>
          <div class="modal-body">
              <p class="popup-paragraph-cls">{{successMsg}} </p>
            </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-padding btn-success-popup-primary-color" data-dismiss="modal" (click)="resetselectedValues()">Ok</button>      
      </div>
    </div>
  </div>
</div>
<button style="display: none" type="button" id="addperssmsg" data-toggle="modal" data-target="#addpersmsg">Open Modal</button>
<div class="modal fade" id="addpersmsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">             
  <div class="modal-dialog"  style="width: 480px;">
    <div class="modal-content">
        <div class="success-popup-header-cls">
            <h4 class="popup-title-cls">
              <i class="material-icons popup-material-icon-cls" style="font-size: 22px;margin-top: 3px;">check_circle_outline</i><div class="pop-title" style="margin-left: 0px;margin-top: 3px;">Success</div></h4>
          </div>
          <div class="modal-body">
              <p class="popup-paragraph-cls">{{successMsg}} </p>
            </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-padding btn-success-popup-primary-color" data-dismiss="modal">Ok</button>      
      </div>
    </div>
  </div>
</div>


<button style="display: none" type="button" id="addmemberssmsg" data-toggle="modal" data-target="#addmembersmsg">Open Modal</button>
<div class="modal fade" id="addmembersmsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">             
  <div class="modal-dialog"  style="width: 480px;">
    <div class="modal-content">
        <div class="success-popup-header-cls">
            <h4 class="popup-title-cls">
              <i class="material-icons popup-material-icon-cls" style="font-size: 22px;margin-top: 3px;">check_circle_outline</i><div class="pop-title" style="margin-left: 0px;margin-top: 3px;">Success</div></h4>
          </div>
          <div class="modal-body">
              <p class="popup-paragraph-cls">Member(s) added successfully</p>
            </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-padding btn-success-popup-primary-color" data-dismiss="modal" (click)="resetselectedValues()">Ok</button>      
      </div>
    </div>
  </div>
</div>



