td{
    font-size: 14px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
th {
    font-size: 15px;
    text-align: center;
}

span,i {
        cursor: pointer;
}

.icon-button {
  color: red;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}

.manage-members {
    padding: 30px;
    height: 400px;
    overflow-y: auto;
}

.mem-priv-row {
    display: none;
}
.toggle-expand.mem-priv-row {
  display: table-row;
}

.toggle-expand .expand,
.toggle-collapse .collapse{
    display: block;
}

.toggle-expand .collapse,
.toggle-collapse .expand,
.toggle-collapse.mem-priv-row {
    display: none;
}

