<div>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-1 back-arrow">
        <a (click)="gotoDashboard()" data-tooltip="Back">
          <i class="fa fa-arrow-left fa-lg" aria-hidden="true" ></i>
        </a>
      </div>
      <div class="col-md-8">
        <h3 class="workspace-panel-heading">
          Manage Members
          <span [ngClass]="{'archon-loading-icon' : !isAvailable}"></span>
        </h3>
      </div>
    </div>
    <div class="col-md-6">
            <button  data-toggle="modal" data-target="#add-member-modal" class="btn btn-primary pull-right btn-form add-btn">ADD MEMBERS</button>
      <!-- <button data-toggle="modal" data-target="#myModal1" class="btn btn-primary pull-right add-btn-form">ADD MEMBERS</button> -->
      <!-- <a href="" data-toggle="modal" data-target="#myModal1" (click)="getUserId(user.id)">
        Change Role
      </a> -->
    </div> 
  </div>
  <div class="row">
    <div id="manager-members" class="workspace-panel-content manage-members col-md-7">
      <!-- <div *ngIf="isAvailable"> -->
        <table id="manage-members-table" class="display" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th></th>
              <th>Members</th>
              <th>Role</th>
              <th>Delete</th>
            </tr>
          </thead>
        </table>
      <!-- </div> -->
    </div>
  </div>
  <div class="row">
    <div class="workspace-panel-content">
      <button (click)="gotoDashboard()" type="submit" class="btn btn-primary pull-right btn-form">Back</button>
    </div>
  </div>
</div>
<app-add-members *ngIf="exisitingUserIds.length > 0" [existingUsers]="exisitingUserIds" (updateExistingUsers)="onUpdateExistingUsers($event)"
  [extModifiedExistingUsers]="extModifiedExistingUsers" [ownerAlreadyExist]="ownerAlreadyExist" class="modal fade" id="add-member-modal" role="dialog">
</app-add-members>

<div class="modal fade" id="confirmDelMemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="top: 25%; width: 500px;">
    <div class="modal-content text-left">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Delete</h4>
      </div>
      <div class="modal-body text-center" style="height: 100px;">
          Confirm delete member?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="confirmDelete()" disabled="{{delProgress ? 'true' : null }}">Confirm
            <span [ngClass]="{'archon-loading-icon' : delProgress}"></span>
          </button>
          <div *ngIf="deleteNotif?.show" class="alert alert-danger alert-dismissible m-t-10" role="alert">
            <button type="button" class="close" (click)="closeErrorMsg()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> {{deleteNotif?.message}}
          </div>
      </div>
    </div>
  </div>
</div>

