<div id="metalyzer" class="row">
  <div class="col-md-3">
    <div class="row">
      <div class="ws-name">
        <p>WorkspaceName: {{wsName}}</p>
      </div>
    </div>
    <div class="row">
      <div class="phase-config">
        <p>Phase: {{phase}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="btn-group">
        <button class="btn btn-default export" type="button">Export As</button>
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="export" aria-haspopup="true"
          aria-expanded="false">
          <span>
            <i class="fa fa-angle-down"></i>
          </span>
        </button>
        <ul class="dropdown-menu" id="export-list">
          <li>
            <a (click)="exportxml()">XML</a>
          </li>
          <li>
            <a (click)="exportjson()">JSON</a>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <button class="btn btn-default export" type="button">View Relationship</button>
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="export" aria-haspopup="true"
          aria-expanded="false">
          <span>
            <i class="fa fa-angle-down"></i>
          </span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="#">Selected Table</a>
          </li>
          <li>
            <a href="#">Overall</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr>
