body {

  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.2
}

#ert-header {
  border-bottom: 2px solid #E6E9ED;
}

#heading-jobs-avail {

  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.2;
  padding: 9px 16px;
}

#ert-landing-id {
  margin-top: 10px;
}

#ert-header {
  margin-bottom: 10px;
}

body {

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2;
  padding: 9px 16px;
}

.form-inline {
  padding: 2px 2px 2px 0px;
  font-weight: 500;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0.2;
  margin: 0px 17px 2px 14px;
}

.form-group {
  padding: 5px 19px 7px 10px;
}

#create-app-header {
  display: flex;
  align-items: center;
  padding-left: 12px;
  height: 40px;
}

.back-arrow-cls {
  margin-top: 6px;
  margin-right: 12px;
}

#job-name {
  display: inline-block;
  float: left;
  width: 30%;
}

.job-name-width {
  width: 100%
}

::ng-deep .my-spinner .overlay {
  position: fixed !important;
}

