<div class="x_title">
  <h2>Forgot Password</h2>
  <div class="clearfix"></div>
</div>
<div class="x_content">
  <br />
  <form class="form-horizontal form-label-left input_mask" (ngSubmit)="onForgotPassword()" [formGroup]="forgotPasswordForm">
    <div class="row form-fields">
      <div class="col-md-12 form-group has-feedback">
        <input type="email" class="form-control input-form" name="signin-email" required formControlName="emailAddress" placeholder="Email">
        <span class="fa fa-envelope fa-lg form-control-feedback right" aria-hidden="true"></span>
      </div>
      <div id="error-block" class="col-md-12 form-group">
        <div *ngIf="errorObject?.show" class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Error!</strong> {{errorObject?.message}}
        </div>
        <div *ngIf="successObject?.show" class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Success!</strong> {{successObject?.message}}
        </div>
      </div>
    </div>
    <div class="row form-redirect">
      <div class="col-md-6 form-group">
        <a routerLink="/sign-in">Sign In</a>
      </div>
      <div class="col-md-6 form-group">
        <button type="submit" class="btn btn-primary pull-right btn-form">Submit</button>
        <a routerLink="password-reset">Password-Reset</a>
      </div>
    </div>
  </form>
</div>
