<div class="x_title">
  <h2>Forgot Password</h2>
  <div class="clearfix"></div>
</div>
<div class="x_content">
  <br />
  <form class="form-horizontal form-label-left input_mask" (ngSubmit)="onForgotPassword()" #forgotPasswordForm="ngForm">
    <div class="row form-fields">
      <div class="col-md-12 form-group has-feedback">
        <input type="text" class="form-control input-form" name="signin-email" required [(ngModel)]="forgotpassword.email" placeholder="Email">
        <span class="fa fa-envelope fa-lg form-control-feedback right" aria-hidden="true"></span>
      </div>
    </div>
    <div class="row forgot-password">
      <div class="col-md-6 form-group">
        <a routerLink="/sign-in">Sign In</a>
      </div>
      <div class="col-md-6 form-group">
        <button type="submit" class="btn btn-primary pull-right btn-form">Submit</button>
      </div>
    </div>
  </form>
</div>