

.edit-profile-error {
    margin-left: 25px;
    text-align: center;

}

.edit-profile-error .alert {
    padding: 5px;
    margin: 0;
}

.edit-profile-error .close {
  right: 0;
}



body {
    margin: 5em;
  }
  [data-tooltip]:hover:before, [data-tooltip]:hover:after {
    display: block;
    position: absolute;
    font-size: 0.8em;
    color: white;
  }
  [data-tooltip]:hover:before {
    border-radius: 0.2em;
    content: attr(title);
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: -2.5em;
    padding: 0.3em;
  }
  [data-tooltip]:hover:after {
    content: '';
    margin-top: -2.1em;
    margin-left: 1em;
    border-style: solid;
    border-color: transparent;
    border-top-color: rgba(0, 0, 0, 0.9);
    border-width: 0.5em 0.5em 0 0.5em;
  }
  .action-btn button.save {
    background-color: #2879ff;
    color: #ffffff;
    text-transform: inherit;
    transition: 0.5s;
    border-radius: 3px; 
   }
  
  .action-btn button.save-disabled {
    background-color: #2879ff;
    color: #ffffff;
    text-transform: inherit;
    border-radius: 3px; 
  }
  
  .action-btn button.cancel {
    background-color: #64b5f6;
    color: #1b1b1b;
    text-transform: inherit;
    transition: 0.5s;
    border-radius: 3px;
    margin-right: 5px; 
  }
  
  .action-btn button.save:hover {
    transform: scale(1.1, 1.1);
  
  }
  
  .action-btn button.cancel:hover {
    transform: scale(1.1, 1.1);
  }
  .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    float: left;
    width: 100%;
  }
  button:focus {outline:0 !important;}
  
  ::ng-deep .mat-form-field-required-marker {
    color: #F44336 !important;
  }