#create-app-header {
  display: inline-flex;
    margin: 2px 2px 11px 17px;
    float: left;
}

#create-app-header a {
  padding: 21px 13px 7px 13px;
  text-align: left;
}

#adhoc-header-info {
  display: inline-flex;
  justify-content: space-between;
  font-size: larger;
  word-wrap: break-word;
}
