<div id="ert-table-id">
  <div class="row">
    <div class="col-md-3">
      <div class="card" style="height:455px">
        <div class="card-body" id="ert-tbl-search">
          <div class="row" style="margin-bottom: 12px;">
            <div class="inner-addon right-addon">
              <input type="text" class="form-control search-input" id="listSearch" placeholder="Search">
            </div>
            <div class="col-md-6">
              <label id=table-heading>Tables list</label>
            </div>
          </div>
          <div id="tbl-list">
            <div class="scroll-div border">
              <div class="sticky">
                <div class="first-div">Table</div>
                <div></div>
              </div>
              <div class="well" *ngFor="let item of selectedTableList">
                <div class="first-div">{{item.tableName}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card" style="height:455px">
        <div class="card-body">

          <div class="row">
            <div class="col-md-10">
              <div id="table-name-heading" class="form-group" style="padding: 10px;">
                <label id="lbl-alias">Address</label>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
          <div class="col-md-4">
            <div class="card" style="height:304px">
              <div class="card-body" id="ingest-data">
                <div class="save-extract-heading">
                  <div>
                    <label style="font-weight: bold;">[Original Table]</label>
                  </div>
                </div>
                <div class="form-group">
                  <div *ngFor="let item of showColumns()" class="table-col-exptd">
                    <small>{{item.originalColumnName}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="height:304px">
              <div class="card-body" id="delete-data">
                <div class="del-data">
                  <div>
                    <label style="font-weight: bold;">[Expected Table]</label>
                  </div>
                </div>
                <div class="form-group">
                  <div *ngFor="let item of showColumns()" class="table-col-exptd">
                    <small>{{item.modifiedColumnName}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="nextbtn" style="margin-top: 15px;">
    <button type="button" class="btn btn-primary next" (click)="saveERTJob('READY')" style="float: right;margin-right: 12px">Mark
      As Complete</button>
    <button type="button" class="btn btn-primary next" (click)="saveERTJob('DRAFT')" style="float: right;margin-right: 12px">Save
      As Draft</button>
    <button class="btn btn-primary Previous" (click)="gotoExtractData()" style="float:right;margin-right:5px;">&laquo;
      Back</button>
  </div>
</div>
