<div>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-1 back-arrow">
        <a>
          <i class="fa fa-arrow-left fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Back"></i>
        </a>
      </div>
      <div class="col-md-8">
        <h3 class="workspace-panel-heading">
          Management Panel
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="management-role-info" class="workspace-panel-content">
      <button type="button" class="btn-primary">
        <div class="btn-box">
          <div class="col-md-10">
            <div class="title">
              <h3>Databases</h3>
            </div>
            <div class="body">
              <p>Configure, view and edit databases.
              </p>
            </div>
          </div>
          <div class="col-md-2 btn-lg-arrow">
            <span>
              <i class="fa fa-chevron-right fa-2x" aria-hidden="true" style="float:right;"></i>
            </span>
          </div>
        </div>
      </button>
      <button (click)=gotoWorkspaceList() type="button" class="btn-primary">
        <div class="btn-box">
          <div class="col-md-10">
            <div class="title">
              <h3>Workspaces</h3>
            </div>
            <div class="body">
              <p>Configure, view and edit workspaces.
              </p>
            </div>
          </div>
          <div class="col-md-2 btn-lg-arrow">
            <span>
              <i class="fa fa-chevron-right fa-2x" aria-hidden="true" style="float:right;"></i>
            </span>
          </div>
        </div>
      </button>
      <button (click)=gotoManageUserRoles() type="button" class="btn-primary">
        <div class="btn-box">
          <div class="col-md-10">
            <div class="title">
              <h3>Users</h3>
            </div>
            <div class="body">
              <p>Configure, view and edit users.
              </p>
            </div>
          </div>
          <div class="col-md-2 btn-lg-arrow">
            <span>
              <i class="fa fa-chevron-right fa-2x" aria-hidden="true" style="float:right;"></i>
            </span>
          </div>
        </div>
      </button>
      <button type="button" class="btn-primary">
        <div class="btn-box">
          <div class="col-md-10">
            <div class="title">
              <h3>Permissions</h3>
            </div>
            <div class="body">
              <p>Configure, view and edit permissions.
              </p>
            </div>
          </div>
          <div class="col-md-2 btn-lg-arrow">
            <span>
              <i class="fa fa-chevron-right fa-2x" aria-hidden="true" style="float:right;"></i>
            </span>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
