  .flex-container {
    display: flex;
    padding: 30px 30px 30px 30px;
    justify-content: space-evenly;
  }
  
  .flex-card-header {
    cursor: pointer;
    display: contents;
  }

  .icon-img {
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .example-card {
    max-width: 320px;
    box-shadow: 1px 1px 14px 1px rgba(0,0,0,0.56);
  }
  