.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: rgb(231, 237, 240);
}


.scroll-div {
  height: 355px;
  overflow-y: auto;
}

.bold-parameter {
  font-weight: bolder;
}

table.table td {
  text-align: left;
  width: 30%;
  
  font-size: 16px;
  letter-spacing: 0.2px;
}

.table-heading {
  
  font-weight: bolder;
  font-size: 16px;
  letter-spacing: 0.2px;
}
.modal-header {
  padding: 10px;
  padding-left: 15px;
  background-color: #2879ff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
 }
 .info-r {
  font-size: 18px;
  padding-left: 10px;
  display:inline-block;  
}

.model-title {
  float: left;
  display:inline-block;
  font-size: 20px;
  padding: -1px 15px 10px 15px;
  text-align: left;
  color: #ffffff;
}
.cancel {
  background-color: #2879ff;
  border: #2879ff;
  color: #ffffff;
  transition:0.5s;
}

.cancel:hover {
transform:scale(1.1,1.1);
}
