<div class="container"><div class="scroll-div">
  <table class="table table-bordered table-striped">
    <thead>
      <th class="text-center">Parameter</th>
      <th class="text-center">value</th>
    </thead>
    <tbody>
      <tr>
        <td class="bold-parameter">Database Profile</td>
        <td><a data-toggle="modal" href="#db-profile-model">{{configuredDB.profileName}}</a></td>
      </tr>
      <tr>
        <td class="bold-parameter">Process-configuration</td>
        <td><a (click)="goToEdit('editProcess')">Edit</a></td>
      </tr>
      <tr>
        <td>Process</td>
        <td>{{processDetailsObj?.process}}</td>
      </tr>
      <tr>
        <td>Output format</td>
        <td>{{processDetailsObj?.outputFormat}}</td>
      </tr>
      <tr>
        <td>Include relationship</td>
        <td>{{processDetailsObj?.includeTableRelationship}}</td>
      </tr>
      <tr>
        <td>Table Inclusion rule</td>
        <td>{{processDetailsObj?.tableIncRule}}</td>
      </tr>
      <tr>
        <td class="bold-parameter">Job Parameters</td>
        <td><a (click)="goToEdit('editParameter')" >Edit</a></td>
      </tr>
      <tr>
        <td>Maximum Parallel Process</td>
        <td>{{processDetailsObj?.maxParallelProcess}}</td>
      </tr>
      <tr>
        <td>Xml File Split Size</td>
        <td>{{processDetailsObj?.xmlSplitFileSize}}</td>
      </tr>
      <tr>
        <td>Include Tables</td>
        <td>{{processDetailsObj?.incTable}}</td>
      </tr>
      <tr>
          <td>Include View</td>
          <td>{{processDetailsObj?.incView}}</td>
        </tr>
      <!-- <tr>
        <td>Query Details</td>
        <td>No</td>
      </tr>
      <tr>
        <td>Query Name</td>
        <td>No</td>
      </tr>
      <tr>
        <td>Query File</td>
        <td>No</td>
      </tr>
      <tr>
        <td>Query</td>
        <td>No</td>
      </tr> -->        
    </tbody>
  </table>
</div>
  <button class="btn btn-primary next" data-toggle="modal" href="#successModel" data-keyboard="false" data-backdrop="static" (click)="Start()" style="float: right;">Start</button>
  <button class="btn btn-primary Previous" (click)="prevStepTwo()" style="float: right;margin-right: 5px;">&laquo;
    Previous</button>
  <br>
  <br>
</div>
<div id="db-profile-model" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Database Profile</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead></thead>
          <tbody>
            <tr>
              <td>Database Profile Name</td>
              <td>{{configuredDB.profileName}}</td>
            </tr>
            <tr>
              <td class="text-left">Database Type</td>
              <td>{{configuredDB.type}}</td>
            </tr>
            <tr>
              <td>Database Host/Ip</td>
              <td>{{configuredDB.host}}</td>
            </tr>
            <tr>
              <td>Database Port</td>
              <td>{{configuredDB.port}}</td>
            </tr>
            <tr>
              <td>Database Name</td>
              <td>{{configuredDB.databaseName}}</td>
            </tr>
            <tr>
              <td>Database Schema</td>
              <td>{{configuredDB.schemaName}}</td>
            </tr>
            <tr>
              <td>Database User Name</td>
              <td>{{configuredDB.userName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="successModel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h1>Your job has started</h1>
        <p>check on Job Status page</p>
      </div>
      <div class="modal-footer">
        <button type="button"   class="btn btn-default" data-dismiss="modal" (click)="close()">Close</button>
      </div>
    </div>

  </div>
</div>