.save-extract-heading {
  width: 100%;
  border-bottom: 2px solid #E6E9ED
}

#ert-table-id {
  position: relative;
  
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.2
}

.save-extract-heading div {
  margin: 0px 0px 0px 20px;
  text-align: left;
}

.save-extract-heading label {
  padding: 15px;
}

#extract-slider-heading {
  margin: 21px 28px 27px 21px;
  text-align: left;
}

mv-slider::ng-deep .slider-selection.tick-slider-selection {
  background-image: linear-gradient(to bottom, #2196F3 0, #2e6da4 100%);
}

mv-slider::ng-deep .slider-handle {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #337ab7;
  background-image: linear-gradient(to bottom, #337ab7 0, #2e6da4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);
  -webkit-filter: none;
  filter: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
  border: 0 solid transparent;
}

#ingest-data input[type=text] {
  border: none;
  border-bottom: 1px solid #2196F3;
  margin-left: 13px;
}

#ingest-data input[type=password] {
  font-size: 12px;
  border: none;
  border-bottom: 1px solid #2196F3;
  margin-left: 13px;
}
#ingest-data .form-group div {
  margin: 18px 26px 40px 0px;
}

#ingest-data small {
  font-size: 12px;
  float: left;
  padding: 3px 8px 5px 16px;
}


#saveBtnId {
  position: absolute;
  right: 16px;
  margin-top: 20px;
}

#delete-data {
  border-bottom: 2px solid #E6E9ED
}

#delete-data div {
  margin: 27px 3px 5px 6px;
}

#delete-data label {
  padding: 15px;
}

.slider-bottom-margin {
  margin-bottom: 42px;
}

.slider-tick-label {
  width: 24px;
}

mv-slider::ng-deep .slider-horizontal {
  width: 90%;
}

#extract-title-name {
  border: none;
  border-bottom: 1px solid #2196F3;
  margin: 14px 19px 26px;
  width: 92%;
}

#extract-application-name {
  border: none;
  border-bottom: 1px solid #2196F3;
  margin: 14px 19px 26px;
  width: 92%;
}

#extract-holding-name {
  border: none;
  border-bottom: 1px solid #2196F3;
  margin: 14px 19px 26px;
  width: 92%;
}
.cancelBtn {
  color: #fff;
  background-color: #64b5f6;
  border-color: #64b5f6;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.next {
  color: #fff;
  background-color: #2879ff;
  border-color: #2879ff;
  padding-right: 25px;
  padding-left: 25px;
  text-transform: capitalize;
}
.back {
  color: #fff;
  background-color: #2879ff;
  border-color: #2879ff;
  padding-right: 25px;
  padding-left: 25px;
  text-transform: capitalize;
}
.modal-header {
  padding: 4px;
  padding-left: 15px;
  background-color: #2879ff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
 }
 .modal-title {
  float: left;
  display:inline-block;
  font-size: 18px;
  padding: -1px 15px 10px 15px;
  text-align: left;
  color: #ffffff;
}
.cancelBtnp {
  color: #fff;
  background-color: #64b5f6;
  border-color: #64b5f6;
  padding-right: 25px;
  padding-left: 25px;
  text-transform: capitalize;
}
