
<div class="phase-configuration">
    <div class="row">
      <table>
        <tr>
          <td class="left" rowspan="2">Choose working mode:</td>
          <td class="middle">
            <input type="radio" value="work-mode" name="Private"> Private
          </td>
          <td class="right" rowspan="2">
            <i class="fa fa-info-circle fa-2x"></i>
          </td>
        </tr>
        <tr>
          <td class="middle">
            <input type="radio" value="work-mode" name="Public"> Public
          </td>
        </tr>
        <hr class="closing">
        <tr>
          <td class="left" rowspan="5">Choose modes:</td>
          <td class="middle">
            <input type="checkbox" value="mode" name="schema"> Schema
          </td>
          <td class="right" rowspan="5">
            <i class="fa fa-info-circle fa-2x"></i>
          </td>
        </tr>
        <tr>
          <td class="middle">
            <input type="checkbox" value="mode" name="schema"> Schema
          </td>
        </tr>
        <tr>
          <td class="middle">
            <input type="checkbox" value="mode" name="column-match"> Column Match
          </td>
        </tr>
        <tr>
          <td class="middle">
            <input type="checkbox" value="mode" name="store-procedure"> Stored Procedures/View
          </td>
        </tr>
        <tr>
          <td class="middle">
            <input type="checkbox" value="mode" name="data-crawl"> Data Crawl
          </td>
        </tr>
        <hr class="closing">
        <tr>
          <td class="left" rowspan="2">Include Master metadata copy results for Phase-2 analysis</td>
          <td class="middle">
            <input type="radio" value="work-mode" name="yes"> Yes(Recommended)
          </td>
          <td class="right" rowspan="2">
            <i class="fa fa-info-circle fa-2x"></i>
          </td>
        </tr>
        <tr>
          <td class="middle">
            <input type="radio" value="work-mode" name="no"> No
          </td>
        </tr>
      </table>
    </div>
    <div class="row" id="footer">
      <button type="button" class="btn btn-primary">Cancel</button>
      <button type="button" class="btn btn-primary">Start Analysis</button>
    </div>
  </div>
  