#custom-nav {
  background-color: #269af8;
  /* background-color: #2c3e50; */
  margin-bottom: 0px;
}
.navbar-nav>li>a,
.navbar-nav>li>a:active{
  color: #fff;
  text-align: right;
  /* padding: 13px 18px 15px 12px; */
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
  color: #d9d9d9;
}
.navbar-nav>li.dropdown.open>a.dropdown-toggle {
  color: #d9d9d9;
}
.user-menu,
.user-menu .dropdown-menu {
  max-width: 108px;
}
/* default .dropdown-menu css has min-width:160px, hence overriding for max 10 letters width*/
.user-menu .dropdown-menu {
  min-width: 108px!important;
}
.user-menu li>a {
  width: 95px;
  margin: 0 8px;
}
.user-menu a>.caret {
  position: absolute;
  right: 4px;
  top: 24px;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: #269af8;
}

.badge {
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  padding: 2px 6px;
  position: absolute;
  right: 2px;
  top: 8px;
}

.bg-red {
  background: #E74C3C !important;
  border: 1px solid #E74C3C !important;
  color: #fff;
}

ul.msg_list li {
  background: #f7f7f7;
  padding: 5px;
  display: -ms-flexbox;
  display: flex;
  margin: 6px 6px 0;
  width: 93% !important;
}

ul.msg_list li:last-child {
  margin-bottom: 6px;
  padding: 10px;
}

ul.msg_list li a {
  padding: 3px 5px !important;
}

ul.msg_list li a .image img {
  border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  float: left;
  margin-right: 10px;
  width: 11%;
}

ul.msg_list li a .time {
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  right: 35px;
}

ul.msg_list li a .message {
  display: block !important;
  font-size: 11px;
}

.dropdown-menu.msg_list span {
  white-space: normal;
}

.nav-brand-img {
  width: 120px;
  height: 20px;
}
.fa-sign-out {
  color: #269af8;
}

/* updtd styles */
.navbar{
  border-radius:  0px !important;
}
.navbar-default{
  border-color: transparent!important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  /* color: #555; */
   background-color: transparent!important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #555;
  background-color: transparent!important;
}