<nav id="custom-nav" class="navbar navbar-default">
  <div class="container-fluid" style="padding-left: 12px;">
    <div class="navbar-header" style="text-align: right;">
      <a [routerLink]="['/workspace/workspace-dashboard']">
        <img alt="Brand" src="assets/archonWhite.png" class="org-logo">
      </a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right" style="margin-top: 5px;">
        <li class="active">
          <a [routerLink]="['/workspace/workspace-dashboard']" (click)="getNotification();loadfirst=0;"><i
              class="fa fa-home" matTooltip="Home"></i>
          </a>
        </li>
        <li class="dropdown user-menu1">
          <a href="#" class="dropdown-toggle trim-text" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"> <i class="fa fa-list-alt" matTooltip="My Activities"></i> </a>
          <ul class="dropdown-menu" style="max-width: 200px">
            <li title="Status Monitor">
              <a [routerLink]="['/activity/status']" class="trim-text">Status Monitoring</a>
            </li>
            <li title="Status Monitor">
              <a class="trim-text" [routerLink]="['/activity/schedule-monitoring']">Schedule Monitoring</a>
            </li>
            <li title="Status Monitor" *ngIf="enableAudit">
              <a class="trim-text" [routerLink]="['/activity/audit']">Auditing</a>
            </li>
          </ul>
        </li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" (click)="getNotification()">
            <i class="fa fa-bell" data-toggle="tooltip" data-placement="bottom" matTooltip="Notifications"></i>
            <span class="badge bg-red">{{count}}</span>
          </a>
          <ul id="notifications" class="dropdown-menu msg_list notification-height" role="menu">
            <li *ngFor="let i of notifiactionArray" matTooltip="Marked as Read"
              [routerLink]="[i.route, {notification:true}]" (mouseleave)="updateNotification(i.id)"
              [ngClass]="i.read? 'read' : 'unread'">
              <a>
                <span class="message">
                  {{i.message}}
                </span>
                <span>
                  <span>&nbsp;
                    <!--{{i.userId}}--></span>
                  <span class="time">{{i.createdAt * 1000 | date:'medium'}}</span>
                </span>
              </a>
            </li>
            <li *ngIf="notifiactionArray.length === 0" class="all-notification">
              <div class="text-center">
                <div id="see-all-notif" style="padding: 7px">Notifications</div>
              </div>
            </li>
          </ul>
        </li>
        <li class="dropdown user-menu">
          <a href="#" class="dropdown-toggle trim-text" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"><img class="userImg" src="../../assets/loginAvatar.jpg" />
            <span class="user-role"> {{userid}} </span>

          </a>
          <ul class="dropdown-menu" style="max-width: 108px">
            <li title="Profile">
              <a [routerLink]="['/user-profile']" (click)='callUserProfile()' class="trim-text">Profile</a>
            </li>
            <!-- removed *ngIf="info?.show" in the below two li-->
            <li role="separator" class="divider"></li>
            <li title="Manage">
              <a [routerLink]="['/management-landing-page/management-panel']" class="trim-text">Manage</a>
            </li>
            <li role="separator" class="divider"></li>
            <li title="Logout">
              <a (click)="logout()" class="info-number">
                Logout
                <!-- <i class="fa fa-sign-out fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Logout"></i> -->
              </a>
            </li>
          </ul>
        </li>
        <li role="presentation">

        </li>
      </ul>


    </div>
  </div>

</nav>

<!--license expired-->

<button style="display: none" type="button" #licensebutton data-toggle="modal" data-target="#license"
  data-backdrop="static" data-keyboard="false">Open Modal</button>
<div class="modal fade" id="license" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" style="width: 480px;">
    <div class="modal-content">
      <div class="error-popup-header-cls">
        <h4 class="popup-title-cls">
          <i class="material-icons popup-material-icon-cls" style="font-size: 22px;margin-top: 3px;">warning</i>
          <div class="pop-title" style="margin-left: 0px;margin-top: 3px;">License Expired</div>
        </h4>
      </div>
      <div class="modal-body">
        <p class="popup-paragraph-cls" *ngIf="userId === 'superadmin'"> Your License has expired. Please upload license
          to renew.</p>
        <p class="popup-paragraph-cls" *ngIf="userId !== 'superadmin'"> Your License has expired. Please contact
          superadmin.</p>
      </div>
      <div class="modal-footer" *ngIf="userId === 'superadmin'">
        <form [formGroup]="uploadForm">
          <span class="alert alert-danger" *ngIf="errorlicense" role="alert"
            style="margin-right: 3%; padding: 10px;">Please upload a valid license</span>
          <button class="btn btn-padding secondary-btn-color" (click)="logout()" data-dismiss="modal"
            style="margin-right: 5px;">Not Now</button>
          <button type="button" class="btn btn-padding primary-btn-color"
            (click)="uploader.click();errorlicense = false;">Upload License</button>
          <input style="display: none" type="file" #uploader accept=".lic" name="profile"
            (change)="uploadFile($event.target.files)" />
          <button style="display: none" #succesdismiss data-dismiss="modal"></button>
        </form>
      </div>
      <div class="modal-footer" *ngIf="userId !== 'superadmin'">
        <button type="button" class="btn btn-padding primary-btn-color" data-dismiss="modal" (click)="logout()">Log
          Out</button>
      </div>
    </div>
  </div>
</div>

<button style="display:none" type="button" id="token-popup-btn" class="btn btn-info btn-lg" data-keyboard="false"
  data-backdrop="static" data-toggle="modal" data-target="#tokenpopup">Open Modal</button>
<div id="tokenpopup" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 480px;">
    <div class="modal-content">
      <div class="modal-header error-popup-header-cls">
        <h4 class="modal-title popup-title-cls">
          <i class="material-icons popup-material-icon-cls">error_outline</i>
          <div class="pop-title-ert">Error</div>
        </h4>
      </div>
      <div class="modal-body">
        <p class="popup-paragraph-cls">Token has been expired. Redirecting to sign-in page.</p>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="logout()" class="btn btn-padding btn-error-popup-primary-color"
          data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>