<nav id="custom-nav" class="navbar navbar-default">
  <div class="container-fluid" style="padding-left: 20px;">
    <div class="navbar-header">
      <a href="#">
        <img alt="Brand" src="assets/archonWhite.png" class="org-logo"> 
         
      </a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right" style="margin-top: 5px;">
        <li class="active">
          <a [routerLink]="['/workspace/workspace-dashboard']"><i class="fa fa-home" matTooltip="Home"></i>
          </a>
        </li>
        <li class="dropdown user-menu1">
          <a href="#" class="dropdown-toggle trim-text" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"> <i class="fa fa-list-alt" matTooltip="My Activities"></i> </a>
          <ul class="dropdown-menu">
            <li title="Status Monitor">
              <a [routerLink]="['/status']" class="trim-text">Status Monitoring</a>
            </li>
            <li title="Status Monitor">
              <a class="trim-text" [routerLink]="['/schedule-monitoring']">Schedule Monitoring</a>
            </li>
            <li title="Status Monitor">
              <a  class="trim-text" [routerLink]="['/audit']">Auditing</a>
            </li>
          </ul>
        </li>
        <li role="presentation" class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bell" data-toggle="tooltip" data-placement="bottom" matTooltip="Notifications" ></i>
            <span class="badge bg-red">6</span>
          </a>
          <ul id="notifications" class="dropdown-menu msg_list" role="menu">
            <li>
              <a href="#">
                <span>
                  <span>User 1</span>
                  <span class="time">3 mins ago</span>
                </span>
                <span class="message">
                  Performed an activity.
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>
                  <span>User 1</span>
                  <span class="time">3 mins ago</span>
                </span>
                <span class="message">
                  Performed an awesome activity which u need to see immediatly and perform some operation on top of it.
                </span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>
                  <span>User 1</span>
                  <span class="time">3 mins ago</span>
                </span>
                <span class="message">
                  Performed an activity.
                </span>
              </a>
            </li>
            <li class="all-notification">
              <div class="text-center">
                <a href="#">
                  <div id="see-all-notif">See All Notifications</div>

                </a>
              </div>
            </li>
          </ul>
        </li>
        <li class="dropdown user-menu">
          <a href="#" class="dropdown-toggle trim-text" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"><img class="userImg" src="../../assets/loginAvatar.jpg"  />
           <span class="user-role"> {{userChangeName}} </span>

          </a>
          <ul class="dropdown-menu">
            <li title="Profile">
              <a [routerLink]="['/user-profile']" (click)='callUserProfile()' class="trim-text">Profile</a>
            </li>
            <li *ngIf="info?.show" role="separator" class="divider"></li>
            <li *ngIf="info?.show" title="Manage">
              <a [routerLink]="['/management-landing-page/management-panel']" class="trim-text">Manage</a>
            </li>
            <li role="separator" class="divider"></li>
            <li title="Logout">
              <a href="" (click)="logout()" class="info-number">
                Logout
                <!-- <i class="fa fa-sign-out fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Logout"></i> -->
              </a>
            </li>
          </ul>
        </li>
        <li  role="presentation">
           
        </li>
      </ul>


    </div>
  </div>

</nav>
