<div class="x_title">
  <h2>Sign In</h2>
  <div class="clearfix"></div>
</div>
<div class="x_content">
  <form class="form-horizontal form-label-left input_mask" (ngSubmit)="onSubmit(signinForm)">
    <div class="col-md-12 form-group has-feedback">
      <input type="text" class="form-control has-feedback-right" placeholder="Email" name = "email" required ngModel>
      <span class="fa fa-envelope form-control-feedback right" aria-hidden="true"></span>
    </div>
    <div class="col-md-12 form-group has-feedback">
      <input type="password" class="form-control" placeholder="Password" name="password" required ngModel>
      <span class="fa fa-key form-control-feedback right" aria-hidden="true"></span>
    </div>
    <div class="col-md-12 form-group">
      <button type="submit" class="btn btn-primary pull-right">Submit</button>
    </div>
  </form>
</div>
