<div id="landing-card">
  <div class="x_title">
    <div><img src="../../assets/loginAvatar.png" width="60" height="auto" /></div>
    <h4>Sign in to your account</h4>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <br />
    <form class="form-horizontal form-label-left input_mask" (ngSubmit)="onSignIn()" [formGroup]="signInForm">
      
      <div class="row form-fields">
        <div class="col-md-12 form-group has-feedback">
          <mat-form-field>
          <input type="text" matInput name="signin-email" formControlName="userId" placeholder="UserID" (keyup)="enableSignIn()">
        </mat-form-field>
        </div>
        <div class="col-md-12 form-group has-feedback">
            <mat-form-field>
          <input type="password" matInput name="signin-password" formControlName="password" placeholder="Password" (keyup)="enableSignIn()">
        </mat-form-field>
        </div>
        <div class="col-md-12 capt" *ngIf="count > 3">
          <div class="col-md-12">
                <mat-card> <mat-card-header><i class="material-icons" style="padding-left: 7%"  (click)="Captcha()">refresh</i>
                  <mat-card-title style="margin-bottom: 0px"><b><i>{{code}}</i></b></mat-card-title></mat-card-header></mat-card></div>
                <!-- <h2 type="text" id="mainCaptcha"></h2> -->
                <!-- <input type="text" id="txtInput"/>   -->
                <div class="col-md-12 form-group" style="padding-top: 5.5%;padding-left: 6.5%;">
                    <mat-form-field>
                        <input matInput placeholder="Type Captcha Here" (keyup)="enableSignIn()" formControlName="captcha">
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                      </mat-form-field>
                </div>
                <!-- <div class="col-md-4">
                <button type="submit" id="Button1" class="btn pull-right btn-primary" value="Check" (click)="ValidCaptcha()" >Check</button> 
                </div>  -->
                <!-- <input id="Button1" type="button" value="Check" onclick="alert(ValidCaptcha());"/> -->
        <!-- <re-captcha (resolved)="resolved($event)" siteKey="6Le48qwUAAAAAJSCjWPfEBot4JeQFWqOLmjfkJDe"></re-captcha> -->
        </div>
        <div id="error-block" class="col-md-12 form-group">
          <div *ngIf="errorObject?.show" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close"  (click)="closeErrorMsg()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong> {{errorObject?.message}}
          </div>
        </div>
      </div>
      <div class="row form-redirect">
        <div class="col-md-6 form-group1">
          <a routerLink="/forgot-password">Forgot Password</a>
        </div>
        <div class="col-md-6 form-group">
          <button type="submit" class="btn pull-right btn-primary {{ enableSignInBtn ? '' : 'bg-disabled'}}" [disabled]="!enableSignInBtn">
            Login
             <i *ngIf="inProgress" class="fa fa-spinner fa-spin inline-loader"></i>
            </button>
        </div>
      </div>
    </form>
  </div>
</div>
