<div class="col col-lg-4">
    <div *ngIf="currentWorkspace">
        <div class="col-lg-4">
            <div class="col-lg-12 title">Workspace</div>
            <div class="col-lg-12">{{currentWorkspace.name}}</div> <!-- use trimming class -->
        </div>
        <div class="col-lg-2">
            <div class="col-lg-12 title">Role</div>
            <div class="col-lg-12">{{currentWorkspace.role}}</div> <!-- use trimming class -->
        </div>
        <div class="col-lg-6">
            <div class="col-lg-12 title">Master Metadata Version </div>
            <div class="col-lg-12">{{currentWorkspace.masterMetaVersion}}</div><!-- use trimming class -->
        </div>
    </div>
</div>