<div class="col-md-12 workspace-header-info" id="workspace-header-info">
  
  <!-- <div class="col-md-4">
    <div class="col-md-12">Workspace
      <span [ngClass]="{'archon-loading-icon' : !currentWorkspace?.workspaceName}"></span>
    </div>
    <div class="col-md-12 title" title="{{(currentWorkspace?.workspaceName) ? (currentWorkspace?.workspaceName) : '&nbsp;'}}">{{(currentWorkspace?.workspaceName) ? (currentWorkspace?.workspaceName) : '&nbsp;'}}
    </div>
  </div>
  <div class="col-md-3">
    <div class="col-md-12">Role
      <span [ngClass]="{'archon-loading-icon' : !currentWorkspace?.workspaceName}"></span>
    </div>
    <div class="col-md-12 title">{{currentWorkspace?.workspaceRole?.name}}</div>
  </div>
  <div class="col-md-5">
    <div class="col-md-12">Manage Metadata Version
      <span [ngClass]="{'archon-loading-icon' : !currentWorkspace?.workspaceName}"></span>
    </div>
    <div class="col-md-12 title">{{currentWorkspace?.masterMetadataVersion}}</div>
  </div> -->
</div>