.workspace-header-info {
    font-size: 18px;
    text-align: left;
}
.title {
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}
.loading {
    font-size: 14px;
}
