<div class="col-md-12 workspace-header-info" id="workspace-header-info">
  <div class="col-md-4">
    <div class="col-md-12">Workspace</div>
    <div class="col-md-12 title">{{currentWorkspace?.workspaceName}}</div>
    <!-- use trimming class -->
    <div *ngIf="!currentWorkspace">
      <i class="fa fa-spinner fa-spin loading"></i>
    </div>
  </div>
  <div class="col-md-3">
    <div class="col-md-12">Role</div>
    <div class="col-md-12 title">{{currentWorkspace?.role?.name}}</div>
    <!-- use trimming class -->
    <div *ngIf="!currentWorkspace">
      <i class="fa fa-spinner fa-spin loading"></i>
    </div>
  </div>
  <div class="col-md-5">
    <div class="col-md-12">Master Metadata Version </div>
    <div class="col-md-12 title">{{currentWorkspace?.masterMetadataVersion}}</div>
    <!-- use trimming class -->
    <div *ngIf="!currentWorkspace">
      <i class="fa fa-spinner fa-spin loading"></i>
    </div>
  </div>
</div>
