<div id="extractor-landing-card">
<div class="container">
  <div class="row">
    <div class="col-md-3 label-style">
      <label>Query Name</label>    
    </div>
    <div class="col-md-9 col-md-pull-1">
      <input type="text" style="margin-left: 36px" placeholder="Query Name" class="form-control">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3 label-style">
      <label>Read Query from file</label>
      </div>
    <div class="col-md-2 col-md-pull-1" id="exec-file-upload-btn">
      <label class="switch">
        <input type="checkbox" (change)="uploadQueryFile()">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="col-md-7">
      <label class="btn btn-primary" for="my-file-selector" style="width:85%" *ngIf="showFileUpload">
          <input type="file" id="uploadReadQueryFile">
        </label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2 label-style">
        <label>Query</label>
      </div>
      <div class="col-md-10">
          <textarea class="textarea-size"></textarea>
      </div>  
  </div>
  <br>
   <div class="row" id="start-btn"> 
      <button class="btn btn-primary next" (click)="gotoStepTwo()" style="float: right;margin-right: 12px">Next &raquo;</button>
      <button class="btn btn-primary Previous" (click)="prevStepOne()" style="float:right;margin-right:5px;">&laquo;
        Previous</button>
    </div> 
  <br>
</div>
</div>