<div id="extractor-landing-card">
<div class="container">
  <form  [formGroup]="executeQueryForm" (ngSubmit)="gotoStepTwo()">     
  <div class="row">
    <div class="col-md-3 label-style required">
      <label class="control-label">Query Name</label>    
    </div>
    <div class="col-md-9 col-md-pull-1">
      <input type="text" formControlName="queryTitle" style="margin-left: 36px" (keyup)="enableNextBtnFn()" placeholder="Query Name" class="form-control">
    </div>
    <div class="col-md-12 text-danger" style="padding-bottom: 0px;
      margin-top: 0px;" >Note: In multiple query cases, Specify individual query name for each query separated by semicolon ( ; ) </div>     
 
  </div>
  <br>
  <div class="row">
    <div class="col-md-3 label-style required">
      <label [ngClass]="{'control-label': showFileUpload}">Read Query from file</label>
      </div>
    <div class="col-md-2 col-md-pull-1" id="exec-file-upload-btn">
      <label class="switch">
        <input type="checkbox"  formControlName="isQueryFile"  (change)="setUploadQueryFile()">
        <span class="slider round"></span>
      </label>
    </div>
    <div class="col-md-7" *ngIf="showFileUpload">

      <!-- <label class="btn btn-primary" for="my-file-selector" style="width:85%" > -->
          <button type="button" style="float:left" class="btn btn-secondary browse-btn" onclick="document.getElementById('uploadReadQueryFile').click()">Upload files</button>
          <input type="file" class="hide btn btn-secondary browse-btn" accept=".sql" id="uploadReadQueryFile" (change)="uploadQueryFile($event.target.files)" formControlName="queryFileToUpload" >
        <!-- </label> -->
        <p style="margin-top:6px">{{queryFileName}}</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2 label-style required">
        <label [ngClass]="{'control-label': !showFileUpload}">Query</label>
      </div>
      <div class="col-md-10">
          <textarea class="textarea-size" (keyup)="enableNextBtnFn()" formControlName="query"></textarea>
      </div>  
  </div>
  <br>
   <div class="row" id="start-btn"> 
      <button type="button" class="btn btn-primary next" (click)="gotoStepTwo()" [disabled]="enableNextBtn" style="float: right;margin-right: 12px">Next &raquo;</button>
      <button class="btn btn-primary Previous" (click)="prevStepOne()" style="float:right;margin-right:5px;">&laquo;
        Previous</button>
    </div> 
  <br>
</form>
</div>
</div>