<!-- <div>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-1 back-arrow">
        <a (click)="gotoDashboard()" data-tooltip="Back">
          <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-md-8">
        <h3 class="extractor-panel-heading">
          RDBMS Extractor
        </h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <br>
      <div class="card">
        <div class="card-body">
          <br>
          <div class="progress" id="db-extractor-progress-bar">
            <div class="progress-bar progress-bar-step progress-bar-primary" role="progressbar" style="width:33.33%">
              Select Process
            </div>
            <div *ngIf="progressBarObj.stepTwoProgBarValue>0" class="progress-bar progress-bar-step progress-bar-primary" role="progressbar" [style.width.%]="progressBarObj.stepTwoProgBarValue">
              Select Parameters
            </div>
            <div *ngIf="progressBarObj.stepThreeProgBarValue>0" class="progress-bar progress-bar-step progress-bar-primary" role="progressbar" [style.width.%]="progressBarObj.stepThreeProgBarValue">
              Summary
            </div>
          </div>
        </div>
        <br>
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="col-md-12" style="padding-left: 22%; padding-right: 22%">
    <div class="col-md-12"> 
            <div class="back-arrow-icon">
              <a (click)="gotoDashboard()" data-tooltip="Back">
                <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
              </a>
            </div>
              <h3 class="extractor-panel-heading">
                RDBMS Extractor
              </h3>
    </div>
    <div class="col-md-12"> 
        <ul class="flex-container flex-end">
          <li class="flex-item"><strong> Workspace Name:</strong> {{workspaceName | uppercase}}</li>
          <li class="flex-item"><strong>Database Profile:</strong> {{configuredDB.profileName}}  &nbsp; <a data-toggle="modal" href="#RDBMSDB-detailConfig"><i class="fa fa-info-circle fa-1x"></i></a></li>
        </ul>                 
    </div>











    <div class="col-md-12">  
        <div class="card card-3">    
          <div class="col-md-12" style="padding-right: 0px; padding-left: 0px;">  
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>Process</mat-label>
              <mat-select required (selectionChange)="processChange($event.value)">
                  <mat-option value="Data">Extract Data</mat-option>
                  <mat-option value="Query">Execute Query</mat-option>
                  <mat-option value="Count">Get Record Count</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">           
          </div>
          </div>

          
          <div class="col-md-6">
              <mat-form-field>
                  <mat-label>Output format</mat-label>
                  <mat-select required>
                      <mat-option value="option1">xml</mat-option>
                      <mat-option value="option2">csv</mat-option>
                      <mat-option value="option3">txt</mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
          <div class="col-md-6">
              <mat-form-field>
                  <input matInput placeholder="Table Inclusion Rule" value="">
                </mat-form-field>
          </div>
          <div class="col-md-6">
              <mat-form-field>
                  <input matInput placeholder="Enter SIP Application Name" value="" required>
                </mat-form-field>
          </div>
          <div class="col-md-6">
              <mat-form-field>
                  <input matInput placeholder="Enter Holding Prefix" value="" required>
                </mat-form-field>
          </div>
         

          <!--view start only query mode-->
          <div *ngIf="ExtractData">
          <div class="col-md-12">
              <mat-form-field>
                  <input matInput placeholder="Query Name" value="" required>
                </mat-form-field>
          </div>
          <div class="col-md-12" style="padding-right: 0px; padding-left: 0px;">  
              <div class="col-md-6">
                  <mat-slide-toggle>Read Query from file</mat-slide-toggle>
              </div>
              <div class="col-md-6">  
                  <div class="action-btn" style="float: left">                     
                      <button class="btn file btn-padding">File Upload</button> 
                      <button class="btn file-name btn-padding">filename.txt <a>x</a></button>                
                    </div>        
              </div>
          </div>
          <div class="col-md-12 query">Query </div>

          <div class="col-md-12" style="margin-bottom: 15px">  
              <ace-editor
              #editor [mode]="'sql'"
               style="height:200px;">
              </ace-editor>
          </div>
          </div>
           <!--view end only query mode -->


          <div class="col-md-12">
          <div class="bg">Modify Default parameters
            </div>
        </div>
        <div class="col-md-12">
        <div class="col-md-6">
            <mat-form-field>
                <mat-label>XML File Split Size(MB)</mat-label>
                <mat-select>
                    <mat-option value="option1">xml</mat-option>
                    <mat-option value="option2">csv</mat-option>
                    <mat-option value="option3">txt</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field>
                <mat-label>Maximum Parallel Process</mat-label>
                <mat-select>
                    <mat-option value="option1">xml</mat-option>
                    <mat-option value="option2">csv</mat-option>
                    <mat-option value="option3">txt</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        </div>
        <div class="col-md-12">
        <div class="col-md-6"><mat-checkbox>Include Table</mat-checkbox></div>
        <div class="col-md-6"><mat-checkbox>Include Views</mat-checkbox></div>
      </div>
      <div class="col-md-12">
        <div class="col-md-6"><mat-checkbox>Date in XML for XML compability</mat-checkbox></div>
        <div class="col-md-6"><mat-checkbox>Extract LOB Within XML</mat-checkbox></div>
      </div>
    </div>            
</div>
<div class="col-md-12"> 
    <div class="action-btn">
    <button class="btn cancel btn-padding" (click)="gotoDashboard();">Cancel</button>
    <button class="btn save btn-padding">Schedule</button>                
  </div>
</div>
</div>

















<div id="RDBMSDB-detailConfig" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="info-popup-header-cls">
            <h4 class="popup-title-cls">
              <i class="material-icons popup-material-icon-cls" style="font-size: 22px;margin-top: 3px;">info_outline</i><div class="pop-title" style="margin-left: 0px;margin-top: 3px;">Database Profile</div></h4>
          </div>
       <table class="table table-hover">
        <tbody>
            <tr>
                <td class="tdl">Database Profile Name</td>
                <td class="tdr">{{configuredDB.profileName}}</td>
              </tr>
              <tr>
                <td class="tdl">Database Type</td>
                <td class="tdr">{{configuredDB.type}}</td>
              </tr>
              <tr>
                <td class="tdl">Database Host/Ip</td>
                <td class="tdr">{{configuredDB.host}}</td>
              </tr>
              <tr>
                <td class="tdl">Database Port</td>
                <td class="tdr">{{configuredDB.port}}</td>
              </tr>
              <tr>
                <td class="tdl">Database Name</td>
                <td class="tdr">{{configuredDB.databaseName}}</td>
              </tr>
              <tr>
                <td class="tdl">Database Schema</td>
                <td class="tdr">{{configuredDB.schemaName}}</td>
              </tr>
              <tr>
                <td class="tdl">Database User Name</td>
                <td class="tdr">{{configuredDB.userName}}</td>
              </tr>         
        </tbody>
      </table>
      <div class="modal-footer">
        <button type="button" class="btn btn-padding btn-info-popup-primary-color" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>