#db-extractor-progress-bar {
  height: 27px
}

.progress-bar-step {
  line-height: 29px;
  font-size: 19px;
}

.progress-bar {
  /* background-color: #269af8; */
  background-color: #1abc9c;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.2
}

.back-arrow-icon {
  margin-top: 20px;
  float: left;
  padding-right: 81px;
}

.extractor-panel-heading {
  float: left
}

option {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.2
}

