<div class="container border">
  <div class="well">
      <b><a class="glyphicon glyphicon-arrow-left pull-left"> Workspace Information</a></b>
      <!-- <br><br>  
      <ul>
      <p>name  :       <b>{{this.info['name']}}</b></p>
      <p>owner  :      <b>{{this.info['owner']}}</b></p>
      <p>approver  :   <b>{{this.info['approver']}}</b></p>
    </ul> -->
    <br><br>
    <app-workspace-info></app-workspace-info>
    <button class="btn btn-primary btn-header">Back</button>
    
    </div>
</div>