<div>
  <div class="row">
    <div class="col-md-6">
      <!-- <div class="col-md-1 back-arrow">
        <a (click)="gotoDashboard()" data-tooltip="Back">
          <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
        </a>
      </div> -->
      <div class="col-md-8">
        <h3 class="workspace-panel-heading">
          Manage Metadata Version
          <!-- <span [ngClass]="{'archon-loading-icon' : !isProgress}"></span> -->
        </h3>
      </div>
    </div>
    <div class="col-md-6 col-md-push-2" *ngIf="role.name == 'ROLE_OWNER'">
      <a data-toggle="modal" (click)="openMMRVersionModel()" style="font-size: 42px" data-toggle="modal" title="Create New Version" data-target="#mmr-config-model"><i class="fa fa-plus-circle" style="cursor: pointer;"></i></a>
    </div>
  </div>
  <div class="row">
    <div id="manager-master-metadata" class="workspace-panel-content manage-members">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>SL.No</th>
            <th>Version</th>
            <th>Description</th>
            <th>Created Date</th>
            <th>Status</th>
            <!-- <th>Action</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rec of manageMasterMetaList | paginate: { itemsPerPage: 10, currentPage: page };let item=index" class="man-mast-rec">
            <td class="man-mast-data">{{item+1}}</td>
            <td class="man-mast-data">{{rec.versionNo}}</td>
            <td class="man-mast-data">{{rec.description}}</td>
            <td class="man-mast-data">{{rec.createdAt * 1000|  date: 'medium'}}</td>
            <td class="man-mast-data">{{rec.status}}</td>
            <!-- <td>
              <a href="#"></a>
            </td> -->
            <!-- <td>
              <button (click)="deleteManageMasterRecord(rec)" class="icon-button">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td> -->
          </tr>
        </tbody>
      </table>
      <pagination-controls style="text-align: right" (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>

<div id="mmr-config-model" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Version Configuration</div>
      </div>
      <div class="modal-body" id="mmr-version">
        <div class="form-inline"><b>Version:</b>
          <div class="">
            <input id="version" type="text" [(ngModel)]="versionNo" (keyup)="enableSaveBtn()" class="inc-width form-control" placeholder="Enter Version Identification">
          </div>
        </div>
        <div class="form-inline"><b>Description:</b>
          <div class="">
            <textarea id='desc' type="text" [(ngModel)]="desc" (keyup)="enableSaveBtn()" class="inc-width form-control" placeholder="Enter Description"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary cancelBtn" data-dismiss="modal">Close</button>
        <button type="button" [disabled]="disabledSaveBtn" data-dismiss="modal" (click)="saveMMRVersion()" class="btn btn-primary next">Save</button>
        
      </div>
    </div>
  </div>
</div>
