th,
td {
  text-align: center;
}

.icon-button {
  color: red;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}

ul {
  margin-top: 12px;
  margin-bottom: 10px;
  float: left;
}

td {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  font-size: 15px;
}

#mmr-version {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2;
}

#mmr-version .form-inline {
  padding: 11px 7px 10px 9px;
  margin: 6px 8px 13px 8px;
  text-align: left;
}

.inc-width {
  margin: 10px 2px 2px 2px;
  width: 550px;
}

textarea {
  width: 531px;
}

