  
  <table datatable class="table" *ngIf="this.isAvailable">
    <thead>
      <tr>
        <th>Sl No</th>
        <th>Version</th>
        <th>Description</th>
        <th>Created Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rec of this.manage_Master_Metadata">
        <td>{{rec.slNo}}</td>
        <td>{{rec.version}}</td>
        <td>{{rec.description}}</td>
        <td>{{rec.createdDate}}</td>
        <td>
          <a href="#">View Changes</a>
        </td>
        <td (click) = "deleteManageMasterRecord(rec.sloNo)">Delete</td>
      </tr>
    </tbody>
  </table>
