
th,td{
    text-align: center;
}
.table{
    table-layout: fixed;
    align : center;
    width : 1100px; 
}
.icon-button {
    color: red;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
}