<div>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-1 back-arrow">
        <a (click)="gotoDashboard()">
          <i class="fa fa-arrow-left fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Back"></i>
        </a>
      </div>
      <div class="col-md-8">
        <h3 class="workspace-panel-heading">
          Manage Master Metadata
          <i *ngIf="!isProgress" class="fa fa-spinner fa-spin fa-1x"></i>
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="manager-master-metadata" class="workspace-panel-content">
      <table datatable class="table table-bordered table-hover" *ngIf="this.isAvailable">
        <thead>
          <tr>
            <th>SL.No</th>
            <th>Version</th>
            <th>Description</th>
            <th>Created Date</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rec of this.manage_Master_Metadata" class="man-mast-rec">
            <td class="man-mast-data">{{rec.slNo}}</td>
            <td class="man-mast-data">{{rec.version}}</td>
            <td class="man-mast-data">{{rec.description}}</td>
            <td class="man-mast-data">{{rec.createdDate}}</td>
            <td>
              <a href="#">View Changes</a>
            </td>
            <td>
              <button (click)="deleteManageMasterRecord(rec)" class="icon-button">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
      <div class="workspace-panel-content">
        <button (click)="gotoDashboard()" type="submit" class="btn btn-primary pull-right btn-form">Back</button>
      </div>
  </div>
</div>
