   
<div class="x_title">
  <h2>Enter New Password</h2>
  <div class="clearfix"></div>
</div>
<div class="x_content">
  <br />
  <form #f="ngForm" novalidate (ngSubmit)="onSubmit(f.value.password)">
    <div class="form-group">
      <input type="password" class="form-control" name="password" [ngModel]="passwordReset.password" 
        required validateEqual="confirmPassword" reverse="true" #password="ngModel" placeholder="New Password">
      <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
        Password is required
      </small>
      <!--<pre *ngIf="password.errors" class="margin-20">{{ password.errors | json }}</pre>-->
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="confirmPassword" [ngModel]="passwordReset.confirmPassword" 
        required validateEqual="password" reverse="false" #confirmPassword="ngModel" placeholder="Confirm Password">
        <p class="bg-danger">        
      <small class="bg-danger" [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
        Password mismatch
      </small></p>
      <!--<pre *ngIf="confirmPassword.errors" class="margin-20">{{ confirmPassword.errors | json }}</pre>-->
    </div>
    <div class="col-md-6 form-group">
      <a routerLink="/sign-in">Sign in</a>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>