<div id="landing-card">
  <div class="x_title">
    <h2>Enter New Password</h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <br />
    <form class="form-horizontal form-label-left input_mask" (ngSubmit)="onSubmit()" [formGroup]="passwordResetForm">
      <div class="row form-fields">
        <div class="col-md-12 form-group has-feedback">
          <input id="password" type="password" class="form-control input-form" name="password" formControlName="password"
            placeholder="New Password">
          <span class="fa fa-key fa-lg form-control-feedback right" aria-hidden="true"></span>
        </div>
        <div class="col-md-12 form-group has-feedback">
          <input id="confirmPassword" type="password" class="form-control input-form" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password">
          <span class="fa fa-key fa-lg form-control-feedback right" aria-hidden="true"></span>
        </div>
        <div id="error-block" class="col-md-12 form-group">
          <div *ngIf="(password.invalid && password.dirty)" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong>
            <span *ngIf="password.errors.required">
              Password field is required
            </span>
            <span *ngIf="password.errors.minlength">
              Password field should be atleast 4 characters
            </span>
            <span>
               {{errorObject?.message}}
            </span>
          </div>
          <div *ngIf="confirmPassword.invalid && confirmPassword.dirty"
            class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <strong>Error!</strong>
            <span *ngIf="confirmPassword.errors.required">
              Confirm Password field is required
            </span>
            <div>
              {{errorObject?.message}}
            </div>
          </div>
        </div>
      </div>
      <div class="row form-redirect">
        <div class="col-md-6 form-group">
          <a routerLink="/sign-in">Sign in</a>
        </div>
        <div class="col-md-6 form-group">
          <button type="submit" class="btn btn-primary pull-right btn-form">SUBMIT</button>
        </div>
      </div>
    </form>
  </div>
</div>
