
<div class="modal fade" id="changePasswordModal" role="dialog">
    <form (ngSubmit)="changeUserPassword()" [formGroup]="changePasswordForm">

  <div class="modal-dialog">
      <div class="modal-content" style="width: 480px;">
          <div class="info-popup-header-cls">
              <h4 class="popup-title-cls">
                <i class="material-icons popup-material-icon-cls" style="font-size: 22px;margin-top: 3px;">lock</i><div class="pop-title" style="margin-left: 0px;margin-top: 5px;"> Change Password</div></h4>
            </div>
 
      <div class="modal-body"> 
          <div class="col-md-12 lr"> 
          <mat-form-field>
              <input type="password" id="oldPassword" formControlName="oldPassword" matInput placeholder="Current Password" (keyup)="enablePassword()">
            </mat-form-field>
          </div>
          <div class="col-md-12 lr"> 
              <mat-form-field>
                  <input type="password"  matTooltip="Password must contain atleast 8 characters, 1 lower case letter [a-z], 1 upper case letter [A-Z], 1 numeric character [0-9] and 1 special character."
                   id="newPassword" formControlName="newPassword" matInput placeholder="Enter New Password" (keyup)="enablePassword()">
                </mat-form-field>
              </div>
              <div class="col-md-12 lr"> 
                  <mat-form-field>
                      <input type="password" id="confirmPassword" formControlName="confirmPassword" matInput placeholder="Confirm New Password" (keyup)="enablePassword()">
                    </mat-form-field>
                  </div>                
          <!-- <mat-error *ngIf="changePasswordForm.get('newPassword').invalid" style="text-align:left">
            *Password must contain atleast 8 characters, 1 lower case letter [a-z], 1 upper case letter [A-Z], 1 numeric character [0-9] and 1 special character.
           </mat-error> -->
           <mat-error style="text-align:left"
           *ngIf="changePasswordForm.get('confirmPassword').errors && changePasswordForm.get('confirmPassword').errors.ConfirmPassword">
           *Password and Confirm Password doesn't match.
              </mat-error>
        <!-- </form> -->
      </div>
      <div class="modal-footer">
          <div *ngIf="successMessage" class="col-md-12 lr"> 
              <div  class="alert alert-success alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                 Password Changed Successfully. Re-directing to Sign-In.
                </div>
              </div>
              <div *ngIf="errorObject?.show" class="col-md-12 lr"> 
                  <div class="alert alert-danger alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <strong>Error!</strong> {{errorObject?.message}}
                    </div>
                  </div>
          <div class="action-btn">
              <button class="btn cancel btn-padding" data-dismiss="modal">Cancel</button>
              <button class="btn {{enableChangePassBtn? 'save': 'save-disabled'}} btn-padding" [disabled]="! enableChangePassBtn" (click)="closeErrorMsg()" data-toggle="modal"> Change Password </button>                
            </div>
       
      </div>
    </div>
  </div>
</form>
</div>
