 span,
 i {
   cursor: pointer;
 }

 .icon-button {
   color: red;
   -webkit-appearance: none;
   -moz-appearance: none;
   outline: none;
   border: 0;
   background: transparent;
 }

 input {
   width: 250px;
   font-size: 13px;
   size: 11px;
 }

 label {
   margin-left: 10px;
   font-size: 15px;
   size: 20px;
   float: left;
   text-align: left;
   width: 180px;
 }

 .btn-group {
   font-size: 5px;
 }

 .btn-group>.btn:first-child {
   margin-right: 250px;
   font-size: 14px;
 }


 .back-arrow {
   margin-top: 20px;
   margin-bottom: 10px;
   margin-left: 13px;
 }

 .btn-popup {
   color: #fff;
   background-color: #269af8;
   border-color: #269af8;
   margin-right: 8px;
 }

 .change-password-panel-heading {
   width: 156%;
 }
 .action-btn button.save {
  background-color: #2879ff;
  color: #ffffff;
  text-transform: inherit;
  transition: 0.5s;
  border-radius: 3px; 
 }

.action-btn button.save-disabled {
  background-color: #2879ff;
  color: #ffffff;
  text-transform: inherit;
  border-radius: 3px; 
}

.action-btn button.cancel {
  background-color: #64b5f6;
  color: #1b1b1b;
  text-transform: inherit;
  transition: 0.5s;
  border-radius: 3px;
  margin-right: 10px; 
}

.action-btn button.save:hover {
  transform: scale(1.1, 1.1);

}

.action-btn button.cancel:hover {
  transform: scale(1.1, 1.1);
}
.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  float: left;
  width: 100%;
}
.lr {
  padding-left: 5px;
  padding-right: 5px;
}
.modal-body {
  min-height: 200px;
 }
 button:focus {outline:0 !important;}