
<div class="modal fade" id="changePasswordModal" role="dialog">
    <form (ngSubmit)="changeUserPassword()" [formGroup]="changePasswordForm">

  <div class="modal-dialog">

    <!-- Modal content-->

    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-1 back-arrow">
              <a (click)="gotoDashboard()">
                <i data-dismiss="modal" class="fa fa-arrow-left fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Back"></i>
              </a>
            </div>
            <div class="col-md-8">
              <h3  class="change-password-panel-heading">
                Change Password
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <!-- <form (ngSubmit)="changeUserPassword()" [formGroup]="changePasswordForm"> -->
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Current Password</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="inputPassword" formControlName="oldPassword" placeholder="Enter Current Password" (keyup)="enablePassword()">
            </div>
          </div>

          <!-- <div class="col-md-12 form-group has-feedback">
            <input type="password" class="form-control input-form" name="signin-password" formControlName="password" placeholder="Password">
            <span class="fa fa-key fa-lg form-control-feedback right" aria-hidden="true"></span>
          </div> -->
          
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Enter New Password</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="inputPassword" formControlName="newPassword" placeholder="Enter New Password" (keyup)="enablePassword()">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Confirm Password</label>
            <div class="col-sm-7">
              <input type="password" class="form-control" id="inputPassword" formControlName="confirmPassword"placeholder="Enter New Password" (keyup)="enablePassword()">
            </div>
          </div>
          <div class="col-md-12 form-group">
            <div *ngIf="errorObject?.show" class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>Error!</strong> {{errorObject?.message}}
            </div>
          </div>
        <!-- </form> -->
      </div>
      <div class="modal-footer">
        <div class="row">
          <button type="button" class="btn btn-primary btn-popup cancel" data-dismiss="modal">Cancel</button>
          <button type="submit" (click)="closeErrorMsg()" class="btn btn-primary btn-popup {{  enableChangePassBtn ? '' : 'bg-disabled'}}" [disabled]="! enableChangePassBtn">
              CONFIRM
              <i *ngIf="inProgress" class="fa fa-spinner fa-spin inline-loader"></i>
             </button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
