<div class="container fill">
    <div class="row slider-bottom-margin">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <label class="text-left">XML File Split Size(MB)</label>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9">
            <mv-slider [value]="processDetailsObj?.xmlSplitFileSize" [step]="100" [ticksLabels]="[100,200,300,400,500,600,700,800,900,1000]"
                [ticks]="[100,200,300,400,500,600,700,800,900,1000]" (change)="setXMLFileSplitSize($event)"></mv-slider>
        </div>
    </div>
    <div class="row slider-bottom-margin">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <label class="text-left">Maximum Parallel Process</label>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9">
            <mv-slider [value]="processDetailsObj?.maxParallelProcess" [step]="1" [ticksLabels]="[1,2,3,4,5,6,7,8,9,10]"
                [ticks]="[1,2,3,4,5,6,7,8,9,10]"  (change)="setMaxParallelProcess($event)"></mv-slider>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3"><label class="text-left">Include Table</label></div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label class="switch">
                    <input type="checkbox" (ngModelChange)="processDetailsObj.incTable" [ngModel]="processDetailsObj?.incTable">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3"><label class="text-left">Date in XML for XDB compability</label></div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label class="switch">
                    <input type="checkbox" (ngModelChange)="processDetailsObj.xmlXDBCompability" [ngModel]="processDetailsObj?.xmlXDBCompability">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3"><label class="text-left"> Include Views</label></div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label class="switch">
                    <input type="checkbox" (ngModelChange)= "processDetailsObj.extractLOBWithXML" [ngModel]="processDetailsObj?.incView">
                    <span class="slider round"></span>
                </label></div>
            <div class="col-sm-3 col-md-3 col-lg-3"><label>Extract LOB Within XML</label>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <label class="switch">
                    <input type="checkbox" (ngModelChange)= "processDetailsObj.extractLOBWithXML"[ngModel]="processDetailsObj?.extractLOBWithXML">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3"><label class="text-left">Include Record Count</label></div>
            <div class="col-sm-3 col-md-3 col-lg-3"><label class="switch">
                    <input type="checkbox" (ngModelChange)="processDetailsObj.incRecordCount" [ngModel]="processDetailsObj?.incRecordCount">
                    <span class="slider round"></span>
                </label></div>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary next" (click)="gotoLastStep()" style="float: right;margin-right: 12px">Next
            &raquo;</button>
        <button class="btn btn-primary Previous" (click)="prevStepOne()" style="float:right;margin-right:5px;">&laquo;
            Previous</button>
    </div>
    <br>
</div>