.slider-bottom-margin {
  margin-bottom: 42px;
}

.slider-tick-label {
  width: 24px;
}

mv-slider::ng-deep .slider-horizontal {
  width: 90%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
  margin-left: -11%;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 17px;
  left: -1px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

mv-slider::ng-deep .slider-horizontal {
  width: 95%;
}

.font-left {
  text-align: left;
}

.parameter-heading {
  margin-left: 88px;
  width: 8%;
  margin-right: -33px;

}


#start-btn {
  right: 9px;
  position: absolute;
  bottom: 8px;
}

mv-slider::ng-deep .slider-selection.tick-slider-selection {
  background-image: linear-gradient(to bottom, #2196F3 0, #086754 100%);
}

mv-slider::ng-deep .slider-handle {
  background-color: #2196F3;
  background-image: linear-gradient(to bottom, #2196F3 0, #086754 100%)
}
