<table cellpadding="5" cellspacing="0" border="0" class="table table-hover table-bordered mem-priv">
  <tr>
    <th>Role</th>
    <td>
      <span *ngIf="!showRoleDropdown">{{wsAccess?.workspaceRole?.name}}</span>
      <span *ngIf="showRoleDropdown">
        <select>
          <option hidden selected="true">Select</option>
          <option *ngFor="let wsR of wsRoleList"  [attr.role-id]="wsR?.id">{{wsR?.roleName}}</option>
        </select>
      </span>
    </td>
    <td>
      <i *ngIf="!showRoleDropdown" (click)="toggleRoleDropdown()" class="fa fa-pencil archon-icon disp-bl"></i>
      <i *ngIf="showRoleDropdown && !roleUpdated" class="fa fa-check archon-icon disp-bl" aria-hidden="true" (click)="update()"></i>
      <i *ngIf="roleUpdated" class="fa fa-check-circle archon-icon disp-bl" aria-hidden="true"></i>
    </td>
  </tr>
  <tr *ngFor="let serv of serviceList; let i = index; let firstIndex = first">
    <th>{{serv?.name}}</th>
    <td>
      <span *ngIf="!showServiceDropdown">{{serv.permission}}</span>
      <span *ngIf="showServiceDropdown">
        <select>
          <option hidden selected="true">Select</option>
          <option *ngFor="let permit of permissionList" [value]="permit.permission"
           [attr.permission-id]="permit.id" >{{permit.permission}}</option>
        </select>
      </span>
    </td>
    <td [attr.rowspan]="serviceList.length" *ngIf="firstIndex">
      <i *ngIf="!showServiceDropdown" (click)="toggleServiceDropdown()" class="fa fa-pencil archon-icon disp-bl"></i>
      <i *ngIf="showServiceDropdown && !permitUpdated" class="fa fa-check archon-icon disp-bl" aria-hidden="true" (click)="assign()"></i>
      <i *ngIf="permitUpdated" class="fa fa-check-circle archon-icon disp-bl" aria-hidden="true"></i>
    </td>    
  </tr>
</table>
