<div class="container-fluid-background">
  <nav id="custom-nav" class="navbar navbar-default">
    <div class="container-fluid" id="header">
      <div class="navbar-header">
        <a href="#">
          <img alt="Brand" src="assets/archonWhite.png" class="org-logo">
        </a>
      </div>
      <div id="sign-div">
        <div id="sign-in-btn">
          <button class="btn btn-transform" type="button" (click)="signInto()">Sign in</button>
        </div>
      </div>
    </div>
  </nav>
  <div id="content-div">
    <h3 class="heading">
      Archon
    </h3>
    <div id="content">
      Archon is designed to address the need of today’s global enterprise major problem of maintaining retiring legacy
      applications by providing greater reliability, availability and security via cloud computing. Archon toolkit is a
      one step, time effective and cost reducing approach to archive data from retiring legacy applications enabling
      organization to achieve greater ROI.<br>
      <br>
      It supports wide range of RDBMS and legacy data formats enabling data to be extracted in variety of formats
      including XML, HTML, CSV, JSON, etc. The toolkit is primarily customized to extract data in XML formats around
      which
      screens are built to enable users to query and get the details they need at ease.
    </div>
  </div>
  <!-- footer content -->
  <div class="footer_fixed">
    <footer>
      <p>Copyright of &copy;
        <a href="https://platform3solutions.com/">Platform3Solutions.com</a> All right reserved.
      </p>
      <div class="clearfix"></div>
    </footer>
  </div>
  <!-- /footer content -->
</div>
