<div class="card">
  <div class="card-body">
    <div id="ert-landing-id">
      <div class="row" id="replacement-heading">
        Character Replacement for WorkSpace test
      </div>
      <div class="row" id="replace-char-id">
        <div class="col-md-5 form-group" id="code-point-id">
          <label class="lbl-left">Code Point</label>
          <input type="text" name="code-point" class="form-control" id="code-point" placeholder="Code Point">
        </div>
        <div class="col-md-5 form-group">
          <label class="lbl-left">Replacement Char</label>
          <input type="text" name="replacement-char" class="form-control" id="replacement-char" placeholder="Replacement Char">
        </div>
        <div class="col-md-2 form-group" id="add-refresh-icon">
          <ul class="nav nav-tabs mgmt-panel fl-r">
            <li class="trim-text">
              <a href="#" data-toggle="modal" data-target="#char-added-success"><i class="fa fa-plus"></i></a>
            </li>
            <li class="trim-text">
              <a href="#"><i class="fa fa-refresh"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div id="char-replacement-table">
        <table class="table">
          <thead>
            <th class="text-center table-heading">Code Point</th>
            <th class="text-center table-heading">Hex code</th>
            <th class="text-center table-heading" rowspan="2">Char Representation</th>
            <th class="text-center table-heading">Replacement char</th>
            <th class="text-center table-heading">Date Updated</th>
            <th class="text-center table-heading">Edit</th>
            <th class="text-center table-heading">Delete</th>
          </thead>
          <tbody>
            <tr>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td><a><i class="fa fa-edit"></i></a></td>
              <td><a><i class="fa fa-trash"></i></a></td>
            </tr>
            <tr>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td><a><i class="fa fa-edit"></i></a></td>
              <td><a><i class="fa fa-trash"></i></a></td>
            </tr>
            <tr>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td><a><i class="fa fa-edit"></i></a></td>
              <td><a><i class="fa fa-trash"></i></a></td>
            </tr>
            <tr>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td><a><i class="fa fa-edit"></i></a></td>
              <td><a><i class="fa fa-trash"></i></a></td>
            </tr>
            <tr>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td><a><i class="fa fa-edit"></i></a></td>
              <td><a><i class="fa fa-trash"></i></a></td>
            </tr>
            <tr>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td><a><i class="fa fa-edit"></i></a></td>
              <td><a><i class="fa fa-trash"></i></a></td>
            </tr>
            <tr>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td><a><i class="fa fa-edit"></i></a></td>
              <td><a><i class="fa fa-trash"></i></a></td>
            </tr>
            <tr>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td>a</td>
              <td><a><i class="fa fa-edit"></i></a></td>
              <td><a><i class="fa fa-trash"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div id="char-added-success" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="text-align:center">Message</h4>
          </div>
          <div class="modal-body">
            <p>Character "codepoint" added successfully to replacement configuration</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
