#add-refresh-icon {
  margin-top: 21px;
  right: 95px;
}

#code-point-id {
  padding-left: 42px;
}

body {

  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.2;
  padding: 9px 16px;
}

.lbl-left {
  float: left;
}

.fa-trash {
  color: rgb(207, 19, 19);
}

#char-replacement-table {
  margin: 26px;
  border-top: 2px solid #E6E9ED;
  padding-top: 10px;
}

#char-replacement-table a {
  cursor: pointer;
}

#replacement-heading i {
  font-size: 24px;
  padding: 0px 5px 0px 13px;
  margin: 3px 3px 0px 7px;
}

.example-form {
  /* min-width: 150px; */
  max-width: 805px;
  font-size: 12px;
  padding: 2p;
  width: 100%;
}

mat-form-field {
  padding: 1px 30px 0px 0px;
  width: 360px;
}

.add-char-code {
  display: initial;
  padding: 15px 15px 12px 10px;
  font-size: 12px;
}

.add-char-code a {
  padding: 6px 19px 7px 7px;
  cursor: pointer;
}

a.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
}

table {
  width: 100%;
}

td,
th {
  width: 25%;
  text-align: left;
}

::ng-deep #char-table svg {
  height: 8vh;
}

th {
  color: #333;
  font-weight: bold;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

#char-table {
  margin: 2px 40px 2px 40px;
}

.mat-cell,
.mat-footer-cell {
  font-size: 12px;
}

/* .modal-header {
  padding: 4px;
  padding-left: 15px;
  background-color: #2879ff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
 }
 .modal-title {
  float: left;
  display:inline-block;
  font-size: 18px;
  padding: -1px 15px 10px 15px;
  text-align: left;
  color: #ffffff;
} */
.next {
  color: #fff;
  background-color: #2879ff;
  border-color: #2879ff;
  padding-right: 25px;
  padding-left: 25px;
  text-transform: capitalize;
}

.example-table-container {
  position: relative;
  max-height: 385px;
  overflow-x: auto;
}
