<div>
  <div class="row">
    <div id="back-div">
      <div class="back-arrow">
        <a (click)="gotoManagementPanel()" data-tooltip="Back">
          <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
        </a>
      </div>
      <div>
        <h3 class="configuration-heading">
          Configuration
          <span id="loading-icon" [ngClass]="{'archon-loading-icon' : isProgress}"></span>
        </h3>
      </div>
    </div>
  </div>
  <div id="config-div">
    <div id="config-mgmt-panel">
      <ul class="nav nav-tabs mgmt-panel mt-10">
        <li class="trim-text" style="width:30%">
          <a [routerLink]="['smtp-configuration']" [class.active]="checkActive == 'emailsmtp'"
            (click)="tabChange($event)">Email SMTP</a>
        </li>
        <li class="trim-text" style="width:33%">
          <a [routerLink]="['role-group-configuration']" [class.active]="checkActive == 'groupsandroles'"
            (click)="tabChange($event)">Groups and Roles</a>
        </li>
        <li class="trim-text" style="width:21%">
          <a [routerLink]="['smtp-configuration']" [class.active]="checkActive == 'application'"
            (click)="tabChange($event)">Application</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet *ngIf="showSmtp"></router-outlet>
<div id="app-outer" *ngIf="!showSmtp">
  <div id='app-info'>
    <i class="app-icon material-icons">info</i>
    <h3>No configuration required now. Left this page for future needs.</h3>
  </div>
</div>
