<div id="drag-panel-column" class="row panel-screen" cdkDropList [cdkDropListData]="searchResult"
  (cdkDropListDropped)="drop($event)">
  <mat-tab-group #tabGroup (selectedTabChange)="panelChange($event)" [(selectedIndex)]="openPanelIndex" cdkDropListGroup>
    <mat-tab label="Main Panel Details">
      <div id="{{mainPanelId}}" cdkDropList [cdkDropListData]="searchResult?.mainPanel"
      (cdkDropListDropped)="drop($event)" style="display:grid">
        <mat-card cdkDrag *ngFor="let item of searchResult?.mainPanel" class="col-md-4 panel-column-box">
          <mat-card-header>
            <mat-card-title>{{item.label}}
              <span> <a class="cursor-poniter"
                  (click)="gotoMainPanelColumnEdit(item?.columnId,item?.tableId,item?.label)"><i class="material-icons">
                    edit
                  </i></a>
                <a class="cursor-poniter" (click)="deleteMainPanelColumn(item?.columnId,item?.tableId,item?.label)"><i
                    class="material-icons">
                    delete
                  </i></a></span>
            </mat-card-title>
            <mat-card-subtitle>({{item.tableName}})</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Inline Panel Details">
      <ng-template mat-tab-label>
        Inline Panel Details
      </ng-template>
      <button mat-raised-button class="example-add-tab-button" (click)="addTabInInlinePanel($event)">
        <i class=" fa fa-plus"></i></button>
      <div>
        <div class="tab">
          <mat-tab-group *ngIf="openPanelIndex===1" #MatInlineTabGroup [(selectedIndex)]="selectedInlineTab"
            (selectedTabChange)="inlinePanelTabChanged($event)" cdkDropListGroup>
            <mat-tab label="tab.tabName" *ngFor="let tab of searchResult?.inLinePanel?.tabs; let index = index">
              <ng-template mat-tab-label>
                {{tab.tabName}}
                <a class="example-tab-icon" [hidden]="index===0" (click)="removeInlineTab(index)"><i
                    class="fa fa-close"></i></a>
              </ng-template>
              <div id="{{tab.tabName}}" cdkDropList [cdkDropListData]="tab?.resultFields"
                (cdkDropListDropped)="drop($event)" style="display:grid">
                <mat-card cdkDrag *ngFor="let item of  tab?.resultFields" class="col-md-4 panel-column-box-tab">
                  <mat-card-header>
                    <mat-card-title>{{item.label}}
                      <span> <a class="cursor-poniter"
                          (click)="gotoInlinePanelColumnEdit(item?.columnId,item?.tableId,item?.label)"><i
                            class="material-icons">
                            edit
                          </i></a>
                        <a class="cursor-poniter"
                          (click)="deleteInlinePanelColumn(item?.columnId,item?.tableId,item?.label)"><i
                            class="material-icons">
                            delete
                          </i></a></span>
                    </mat-card-title>
                    <mat-card-subtitle>({{item.tableName}})</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div class="rename" style="width: 26%; margin-left: 3%;">
        <div class="rename-box">
          <mat-form-field appearance="standard">
            <mat-label>Rename Tab</mat-label>
            <input matInput [(ngModel)]="inlineTabName" placeholder="Rename Tab">
          </mat-form-field>
          <div class="renameBtn-div">
            <button mat-raised-button [disabled]="inlineTabName===''" class="renameBtn" (click)="renameInlineTabName()">
              Rename</button>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Side Panel Details">
      <ng-template mat-tab-label>
        Side Panel Details
      </ng-template>
      <button mat-raised-button class="example-add-tab-button" (click)="addTabInSidePanel()">
        <i class=" fa fa-plus"></i></button>
      <div style="width:100%">
        <div class="tab">
          <mat-tab-group #MatSideTabGroup *ngIf="openPanelIndex===2" [(selectedIndex)]="selectedSideTab"
            (selectedTabChange)="sidePanelTabChanged($event)">
            <mat-tab cdkDropList [cdkDropListData]="searchResult" (cdkDropListDropped)="drop($event)" #inlineTab
              label="tab.tabName" *ngFor="let tab of searchResult?.sidePanel?.tabs; let index = index">
              <ng-template mat-tab-label>
                {{tab.tabName}}
                <a class="example-tab-icon" [hidden]="index===0" (click)="removeSideTab(index)"><i
                    class="fa fa-close"></i></a>
              </ng-template>
              <div id="{{tab.tabName}}" cdkDropList [cdkDropListData]="tab?.resultFields"
                (cdkDropListDropped)="drop($event)" style="display:grid">
                <mat-card cdkDrag *ngFor="let item of  tab?.resultFields" class="col-md-4 panel-column-box-tab">
                  <mat-card-header>
                    <mat-card-title>{{item.label}}
                      <span> <a class="cursor-poniter"
                          (click)="gotoSidePanelColumnEdit(item?.columnId,item?.tableId,item?.label)"><i
                            class="material-icons">
                            edit
                          </i></a>
                        <a class="cursor-poniter"
                          (click)="deleteSidePanelColumn(item?.columnId,item?.tableId,item?.label)"><i
                            class="material-icons">
                            delete
                          </i></a></span>
                    </mat-card-title>
                    <mat-card-subtitle>({{item.tableName}})</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="rename">
          <div class="rename-box">
            <mat-form-field appearance="standard">
              <mat-label>Rename Tab</mat-label>
              <input matInput [(ngModel)]="sideTabName" placeholder="Rename Tab">
            </mat-form-field>
            <div class="renameBtn-div">
              <button mat-raised-button [disabled]="sideTabName===''" class="renameBtn" (click)="renameSideTabName()">
                Rename</button>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>