<app-navbar></app-navbar>
<div id="create-database-landing">
  <div id="create-database-header">
    <div style="display: inherit">
      <a (click)="navigateToPrevious()" class="anchor-header" data-tooltip="Back">
        <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
      </a>
      <h3 class="heading-name">Add New Database Connection</h3>
    </div>
  </div>
  <div>
    <mat-card>
      <mat-horizontal-stepper linear #stepper labelPosition="bottom">
        <mat-step [stepControl]="databaseConnectionForm" label="Connection Details">
          <form [formGroup]="databaseConnectionForm" class="workspace-detail-form">
            <div class="workspace-detail">
              <mat-form-field class="form-field-profile">
                <input required maxlength="40" trim="blur" formControlName="profileName" matInput
                  placeholder="Profile Name">
              </mat-form-field>
            </div>
            <div class="workspace-detail">
              <mat-form-field class="form-field-workspace">
                <mat-label>Auth Type</mat-label>
                <mat-select formControlName="authType">
                  <mat-option *ngFor="let authType of authTypeList" [value]="authType">
                    {{authType}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="form-field-workspace-owner">
                <mat-label>Database Server</mat-label>
                <mat-select formControlName="supportedDBId" (selectionChange)="setPortName($event.value)">
                  <mat-option *ngFor="let servername of dbServerList" [value]="servername.id">
                    {{servername.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="workspace-detail">
              <mat-form-field class="form-field-workspace">
                <input trim="blur" matInput formControlName="host" required placeholder="Host">
              </mat-form-field>
              <mat-form-field class="form-field-workspace-owner">
                <input matInput trim="blur" type='number' formControlName="port" required placeholder="port">
              </mat-form-field>
            </div>
            <div class="workspace-detail">
              <mat-form-field class="form-field-workspace">
                <input matInput trim="blur" required formControlName="databaseName" placeholder="Database Name">
              </mat-form-field>
              <mat-form-field class="form-field-workspace-owner">
                <input matInput trim="blur" required formControlName="schemaName" placeholder="Schema Name">
              </mat-form-field>
            </div>
            <div id="action-btn" class="action-btn-connection">
              <button type="button" (click)="navigateToPrevious()" class="btn cancel btn-padding">Cancel</button>
              <button type="button" [disabled]="!databaseConnectionForm.valid" (click)="gotoAuthentication(stepper)"
                class="btn {{!databaseConnectionForm.valid ? 'save-disabled': 'save'}} btn-padding matStepperNext">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="userServerForm" label="Authentication">
          <form [formGroup]="userServerForm" class="workspace-detail-form">
            <div class="workspace-detail">
              <mat-form-field class="form-field-workspace">
                <input matInput trim="blur" required formControlName="userName" placeholder="User Name">
              </mat-form-field>
              <mat-form-field class="form-field-workspace-owner">
                <input matInput trim="blur" required type="password" formControlName="password" placeholder="Password">
              </mat-form-field>
            </div>
          </form>
          <div id="action-btn" style="padding-top: 17%">
            <button (click)="gotoConnectionDetails(stepper)"
              class="btn cancel matStepperPrevious btn-padding">Previous</button>
            <button [disabled]="!userServerForm.valid" (click)="gotoTestAndCreate(stepper)"
              class="btn {{!userServerForm.valid ? 'save-disabled': 'save'}}  btn-padding matStepperNext">Next</button>
          </div>
        </mat-step>
        <mat-step label="Review details">
          <div class="info-div">
            <div class="outer-div">
              <div class="inner-div">
                <div class="inner-bold-item">Profile Name</div>
                <div class="inner-grey-item">{{databaseConnectionForm.get('profileName').value}}</div>
              </div>
              <div class="inner-div">
                <div class="inner-bold-item">Database Server</div>
                <div class="inner-grey-item">{{databaseServerName}}</div>
              </div>
            </div>
            <div class="outer-div">
              <div class="inner-div">
                <div class="inner-bold-item">Host</div>
                <div class="inner-grey-item">{{databaseConnectionForm.get('host').value}}</div>
              </div>
              <div class="inner-div">
                <div class="inner-bold-item">Port</div>
                <div class="inner-grey-item">{{databaseConnectionForm.get('port').value}}</div>
              </div>
            </div>
            <div class="outer-div">
              <div class="inner-div">
                <div class="inner-bold-item">Database Name</div>
                <div class="inner-grey-item">{{databaseConnectionForm.get('databaseName').value}}</div>
              </div>
              <div class="inner-div">
                <div class="inner-bold-item">Default Schema</div>
                <div class="inner-grey-item">{{databaseConnectionForm.get('schemaName').value}}</div>
              </div>
            </div>
            <div id="action-btn" style="margin-top: 6%">
              <button [disabled]="inProgress" class="btn {{inProgress ? 'cancel-disabled': 'cancel'}}  btn-padding"
                (click)="testConnection()">Test Connection
                <!-- <i *ngIf="inProgress" class="fa fa-spinner fa-spin loader"></i>  -->
              </button>
              <button class="btn cancel btn-padding" (click)="gotoAuthentication(stepper)">Previous</button>
              <button [disabled]="disableCreateBtn" (click)="createDatatbase()"
                class="btn btn-padding {{disableCreateBtn ? 'save-disabled': 'save'}}">
                <!-- <i *ngIf="dbinProgress" class="fa fa-spinner fa-spin loader"></i>  -->
                Create</button>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card>
  </div>
</div>
<button id="remove-square-hover" style="display:none"></button>

<button style="display:none" type="button" id="error-db-btn" class="btn btn-info btn-lg" data-toggle="modal"
  data-target="#error-success">Open Modal</button>
<div id="error-success" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 480px;">
    <div class="modal-content">
      <div class="modal-header error-popup-header-cls">
        <h4 class="modal-title popup-title-cls">
          <i class="material-icons popup-material-icon-cls" style="font-size: 22px;">error_outline</i>
          <div class="pop-title-ert">Error</div>
        </h4>
      </div>
      <div class="modal-body">
        <p class="popup-paragraph-cls">{{errorMessage}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-padding btn-error-popup-primary-color" data-dismiss="modal">Ok</button>
        <button type="button" style="display:none" class="btn btn-padding btn-error-popup-primary-color"
          data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<button style="display:none" type="button" id="success-popup-btn" class="btn btn-info btn-lg" data-toggle="modal"
  data-keyboard="false" data-backdrop="static" data-target="#success">Open Modal</button>
<div id="success" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 480px;">
    <div class="modal-content">
      <div class="modal-header success-popup-header-cls">
        <h4 class="modal-title popup-title-cls">
          <i class="material-icons popup-material-icon-cls" style="font-size: 22px;">check_circle_outline</i>
          <div class="pop-title-ert">Success</div>
        </h4>
      </div>
      <div class="modal-body">
        <p class="popup-paragraph-cls">{{successDatabaseMessage}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="navigateToPrevious()" class="btn btn-padding btn-success-popup-primary-color"
          data-dismiss="modal">Ok</button>
        <button type="button" style="display:none" class="btn btn-padding btn-success-popup-primary-color"
          data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
<button style="display:none" type="button" id="confirm_model-btn" class="btn btn-info btn-lg" data-toggle="modal"
  data-target="#confirm_model">Open Modal</button>
<div id="confirm_model" class="modal fade" role="dialog">
  <div class="modal-dialog modal-body-width">
    <div class="modal-content">
      <div class="modal-header info-popup-header-cls">
        <h4 class="modal-title popup-title-cls">
          <i class="material-icons popup-material-icon-cls">info</i>
          <div class="pop-title-ert">Info</div>
        </h4>
      </div>
      <div class="modal-body">
        <p class="popup-paragraph-cls">{{errorMessage}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-padding btn-info-popup-primary-color" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<button style="display:none" type="button" id="connection-popup-btn" class="btn btn-info btn-lg" data-toggle="modal"
  data-target="#connection">Open Modal</button>
<div id="connection" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 480px;">
    <div class="modal-content">
      <div class="modal-header success-popup-header-cls">
        <h4 class="modal-title popup-title-cls">
          <i class="material-icons popup-material-icon-cls" style="font-size: 22px;">check_circle_outline</i>
          <div class="pop-title-ert">Success</div>
        </h4>
      </div>
      <div class="modal-body">
        <p class="popup-paragraph-cls">{{errorMessage}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-padding btn-success-popup-primary-color" data-dismiss="modal">Ok</button>
        <button type="button" style="display:none" class="btn btn-padding btn-info-popup-primary-color"
          data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
<ngx-spinner class="my-spinner" bdOpacity=0.9 bdColor="rgb(0,0,0,0.35)" size="medium" color="#2879ff" type="ball-pulse"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>