<div id="metalyzer" class="row">
  <div classs="metalyzer-header">
      <div class="col-md-5 text-left">
      <div class="form-inline">
          <div class="form-group">
            <b>Workspace Name: </b>{{wsName | uppercase}}
          </div>
          <div class="form-group">
            <b>Phase: </b>{{phase | uppercase}}
          </div>
        </div>
      </div>
      <div class="dropdown col-md-1 .col-md-offset-3" *ngIf="phase == 'Analysis'">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="export">Export As
          <span>
            <i class="fa fa-angle-down"></i>
          </span>
        </button>
        <ul class="dropdown-menu" id="export-list">
          <li>
            <a  (click)="exportxml()">XML</a>
          </li>
          <li>           
            <a  (click)="exportjson()">JSON</a>
          </li>
        </ul>
      </div>
      <div class="dropdown" *ngIf="phase == 'Analysis'">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="btn">View Relationship
          <span>
            <i class="fa fa-angle-down"></i>
          </span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a (click)="exportSelectedpdf()">Selected Table</a>
          </li>
          <li>
            <a (click)="exportOverallpdf()">Overall</a>
          </li>
        </ul>
      </div>
  </div>
</div>
