.title-headers,
.ws-name,
.phase-config {
  padding-top: 1%;
  padding-left: 3%;
  font-size: 14px;
  font-weight: 300;
  float: left;
}

p {
  display: inline;
}

.phase-config {
  padding-left: 2%;
}

.dropdown {
  float: right;
  margin-right: 200px;
  cursor: pointer;
}

#export {
  width: 180%;
  background-color: #DCDCDC;
  border-radius: 5px;
  margin-left: -150px;
  text-transform: capitalize;
}

#export-list {
  margin-left: -95px;
}

#btn {
  width: 110%;
  background-color: #DCDCDC;
  border-radius: 5px;
  text-transform: capitalize;
}

span {
  float: right;
}

    
