.title-headers,
.ws-name,
.phase-config {
  padding-top: 1%;
  padding-left: 3%;
  font-size: 14px;
  font-weight: 300;
  float: left;
}

p {
  display: inline;
}

.phase-config {
  padding-left: 2%;
}

.dropdown {
  margin-top: 10px;
  float: right;
  margin-right: 200px;
  cursor: pointer;
}

#export {
  width: 180%;
  background-color: #DCDCDC;
  border-radius: 5px;
  margin-left: -150px;
  text-transform: capitalize;
}

#export-list {
  margin-left: -95px;
}

#btn {
  width: 110%;
  background-color: #DCDCDC;
  border-radius: 5px;
  text-transform: capitalize;
}

span {
  float: right;
}
.form-inline {
  padding: 2px 2px 2px 0px;
  
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2;
  margin: 10px 2px 2px 7px;
}

.form-group {
  padding: 5px 0px 7px 29px;
}
#metalyzer {
  border-bottom: 2px solid #E6E9ED;
  margin-bottom: 10px;
}

