<div id="metalyzer" class="row">
  <div classs="metalyzer-header">
      <div class="col-md-5 text-left">
          <div class="form-inline">
              <div class="form-group">
                <b>Workspace Name: </b>{{wsName | uppercase}}
              </div>
              <div class="form-group">
                <b>Phase: </b>{{phase | uppercase}}
              </div>
            </div>
          </div>
      <div class="dropdown col-md-1 .col-md-offset-3" *ngIf="phase == 'Analysis'">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="export">Export As
          <span>
            <i class="fa fa-angle-down"></i>
          </span>
        </button>
        <ul class="dropdown-menu" id="export-list">
          <li>
            <a  (click)="exportxml()">XML</a>
          </li>
          <li>           
            <a  (click)="exportjson()">JSON</a>
          </li>
        </ul>
      </div>
      <div class="dropdown" *ngIf="phase == 'Analysis'">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="btn">View Relationship
          <span>
            <i class="fa fa-angle-down"></i>
          </span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a (click)="exportSelectedpdf()">Selected Table</a>
          </li>
          <li>
            <a (click)="exportOverallpdf()">Overall</a>
          </li>
        </ul>
      </div>
      <div class="dropdown" style="margin-right: 51px;" *ngIf="phase == 'Analysis'">
        <button class="btn btn-default dropdown-toggle" type="button" id="btn" data-toggle="modal" data-target="#myModal" (click)="getAudit()">View Modifications
        </button>
      </div>
    </div>
  </div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-left">Metalyzer Audit</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>Modified By</th>
              <th>Modified At</th>
              <th>Modification Mode</th>
              <th>Modification Description</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let i of auditArray | paginate: { itemsPerPage: 10, currentPage: p }" class="text-left">
              <td>{{i.modifiedBy}}</td>
              <td>{{i.createdAt * 1000 | date: 'medium' }}</td>
              <td>{{i.modificationMode}}</td>
              <td>{{i.modificationDescription[0]}}</td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>