<div class="row">
      <div class="col-md-6">
          <div class="col-md-1 back-arrow" style="margin-left: 10px">
            <a (click)="gotoManagementPanel()" data-tooltip="Back">
              <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-md-8" style="margin-left: -25px">
            <h3 class="workspace-panel-heading">
              Workspaces
            </h3>
          </div>
        </div>
        <div class="col-md-6 search">
          <mat-form-field class="search-width">
            <input matInput [(ngModel)]="searchText" placeholder="Search">
          </mat-form-field>
          <a style="font-size: 42px" data-tooltip="Add Workspace" data-placement="bottom" (click)="openCreateWSModal()"><i class="fa fa-plus-circle"></i></a>
        </div>
      </div>

      <div class="flex-container" *ngFor="let workspaceGroupObj of workspaceActions; let indRow = index">
          <mat-card class="example-card" *ngFor="let ws of workspaceGroupObj | searchTable: searchText; let indCol = index">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="header">{{ws?.workspaceName}}</mat-card-title>
              <div class="spacer"></div>
              <a (click)="viewWSmodal(ws)" data-toggle="modal" href="#db-profile-model" data-tooltip="Details"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a>
            </mat-card-header>
            <mat-card-content class="content" *ngFor="let db of ws.databases;">
              <div class='body-left'>Databases(s)</div><div class='body-center'>:</div><div class='body-right'>{{db?.name}}</div>
              <div class='body-left'>Meta Version</div><div class='body-center'>:</div><div class='body-right'>{{ws?.masterMetadataVersion}}</div>
              <div class='body-left'>Last Updated Time</div><div class='body-center'>:</div><div class='body-right'>{{ws?.updatedAt * 1000 | date:'MMM/dd/yyyy hh:mm:ss a'}}</div>
              <div class='body-left'>Status</div><div class='body-center'>:</div><div class='body-right'>{{ws?.workspaceState}}</div>
            </mat-card-content>
          </mat-card> 
        </div>
  
  <ng-template #createNewWorkspace></ng-template>
  
  <div id="db-profile-model" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Workspaces Profile</h4>
        </div>
        <div class="modal-body">
          <table class="table" id="table-modal">
            <thead></thead>
            <tbody>
              <tr>
                <td>Workspace Name</td>
                <td>{{WSListInfo?.workspaceName}}</td>
              </tr>
              <tr>
                <td class="text-left">MasterMetadata Version</td>
                <td>{{WSListInfo?.masterMetadataVersion}}</td>
              </tr>
              <tr>
                <td>WorkspaceState</td>
                <td>{{WSListInfo?.workspaceState}}</td>
              </tr>
              <tr>
                <td>Workspace Members</td>
                <td>  <span *ngFor="let ws of this.WSListInfo?.members; let isLast=last">
                        {{ws?.user.name}}{{isLast ? '' : ', '}}
                      </span></td>
              </tr>
              <tr>
                <td>Workspace Databases Name</td>
                <td>  <span *ngFor="let ws of this.WSListInfo?.databases; let isLast=last">
                        {{ws?.name}}{{isLast ? '' : ', '}}
                      </span></td>
              </tr>
              <tr>
                <td>Workspace Databases Type</td>
                <td>  <span *ngFor="let ws of this.WSListInfo?.databases; let isLast=last">
                        {{ws?.type}}{{isLast ? '' : ', '}}
                      </span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel-btn" class="btn btn-primary btn-popup cancel" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>