#workspace-add {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 15px;
  margin-top: 20px;
  width: 60%;
  height: 60px;
  text-align: center;
  padding: 3px;
  float: right;
}

.btn-box {
  text-align: left;
  width: 600px;
  height: 125px;
}

button {
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  margin: 3px 10px;
  text-transform: none;
}

.pending button {
  background-color: lightskyblue;
}

.requestPending {
  margin-top: 27px;
  margin-left: 80px;
}

.body {
  margin-top: 0px;
}

.leftFooter {
  float: left;
}

.rightFooter {
  margin-left: 290px;
}

.rightArrow i {
  margin-top: -5px;
}

.title h2 {
  white-space: nowrap;
  width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
}
