<div id="ert-table-id">
  <div class="row">
    <div class="col-md-3">
      <div class="card" style="height:455px; margin-left: 25px;">
        <div class="table-list">
          Table List
        </div>
        <div class='body-left'><span style="z-index:1" class="glyphicon glyphicon-search inner-addon right-addon"></span>
          <input type="text" class="form-control search-input" [(ngModel)]="searchTableName" id="listSearch"
            (keyup)="searchTablelist()" placeholder="Search Table"></div>

        <div class="card-body" id="ert-tbl-search">
          <h4 *ngIf="tableList?.length===0" style="margin-top: 19%;">No tables available</h4>
          <div id="tbl-list" style="height: 326px;">
            <div class="scroll-div border">
              <div class="{{selectedPrimaryTable===i.tableName?'selectTableCls':''}} well"
                *ngFor="let i of tableList | paginate: { itemsPerPage: 50, totalItems: schemaResultsTableCount, currentPage: page } | searchTable:searchTableName">
                <div><input style="float:left" type="radio" name="x" [value]="i.tableName"
                    [checked]="i.tableName == selectedPrimaryTable" (click)="populategraph(i, $event)"></div>
                <div class="first-div">{{i.tableName}}</div>
                <div><i *ngIf="i.tableName == selectedPrimaryTable" class="fa fa-angle-right icon-div "></i></div>
              </div>
            </div>
          </div>
          <pagination-controls (pageChange)="getPage(page = $event)"></pagination-controls>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card" style="height:455px; margin-right: 25px;">
        <div class="table-list">
          SIP Record Definition
        </div>
        <!-- <div class="card-body">
          <p style="margin-top: 95px;" *ngIf="isRelationNot">
            No relationship for the selected table
          </p>
          <div class="row">
            <h3>Select a graph source table to generate a graph view</h3>
          </div> 
        </div> -->
      </div>
    </div>
  </div>
  <div class="row" id="nextbtn">
    <button type="button" class="btn btn-padding primary-btn-color" disabled="{{enableNextBtn ? null : 'disabled'}}"
      (click)="gotoDataRecFinal()" style="float: right;margin-right: 25px">Next</button>
    <button class="btn btn-padding primary-btn-color" (click)="gotoJobConfiguration()"
      style="float:right;margin-right:5px;">
      Back</button>
  </div>
</div>