
.ert-job-outer-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 13px;
  margin-right: 37px
}

.ert-job-cards {
  flex: 0 1 32%;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.43);
  transition: 0.5s;
}

.ert-job-cards:not(.disabled-job):hover {
  box-shadow: rgba(0, 0, 0, 0.43) 0px 0px 20px 0px;
  transform: translatey(-10px);
}

.ert-job-desc {
  color: #000000;
  font-size: 16px
}

.ert-job-para {
  color: #232323;
  font-size: 14px
}

.ert-job-type-name {
  color: #000000;
  font-size: 18px
}

.ert-card-header {
  display: contents;
}

.mat-card-header-text {
  margin-bottom: 5%;
}


.ert-job-desc-top {
  margin-top: 5%;
}


body {

  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.2
}

#ert-header {
  border-bottom: 2px solid #E6E9ED;
}

#heading-jobs-avail {

  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.2;
  padding: 9px 16px;
}

#ert-landing-id {
  margin-top: 10px;
}

#ert-header {
  margin-bottom: 10px;
}

body {

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2;
  padding: 9px 16px;
}

.form-inline {
  padding: 2px 2px 2px 0px;
  font-weight: 500;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0.2;
  margin: 0px 17px 2px 14px;
  height: 64px;
}

.form-group {
  padding: 5px 19px 7px 10px;
  margin-top: 26px;
}

#create-app-header {
  display: flex;
  align-items: center;
  padding-left: 12px;
  height: 40px;
}

.back-arrow-cls {
  margin-top: 6px;
  margin-right: 12px;
}

#job-name {
  display: inline-block;
  float: left;
  width: 30%;
}

.job-name-width {
  width: 100%
}

.outer-job-div {
  margin-right: 5px;
  margin-left: 12px
}

.disabled-job {
  opacity: 0.6;
  cursor: not-allowed;
}

small {
  float: left;
  margin-left: 30px;
  color: red;
}