<div class="card" style="height: 480px; margin:0px 25px;">
  <div class="card-body">
    <div id="ert-landing-id">
      <div id="job-config">
        <div id="job-config-heading">
          <a (click)="goToJobs()" data-tooltip="Back">
            <i class="fa fa-arrow-left fa-sm" aria-hidden="true"></i>
          </a> Job Configurations
        </div>
        <div id="job-name-heading" class="form-group">
          <input type="text" class="form-control" [(ngModel)]="ertJobParams.ertJobTitle" (keyup)="enableJobSelection()"
            name="jobname" id="jobname" placeholder="Enter Job Name">
          <small *ngIf="ertJobParams.ertJobTitle === ''">* Job name is mandatory fill field to enable job
            selection.</small>
          <small *ngIf="ertService.mmrVersion === ''">* Metadata Version is required for SIP and Data Record.</small>
        </div>
        <div id="job-section">
          <div id="job-section-heading">Choose Job Type</div>
          <div id="job-section-box">
            <div class="select-job">
              <div class="select-job-type">
                <input type="radio" disabled="true" (click)="goToExtraction($event,'TABLE')" name="selectjob"> Table
              </div>
              <div class="job-desc">
                <i class="fa fa-table"></i> Choose option for table Extraction
              </div>
            </div>
            <div class="select-job">
              <div class="select-job-type">
                <input type="radio" disabled="true" (click)="goToExtraction($event,'DATA_RECORD')" name="selectjob">
                Data Record
              </div>
              <div class="job-desc">
                <i class="fa fa-sitemap"></i> Choose option for Data Record Extraction</div>
            </div>
            <div class="select-job">
              <div class="select-job-type">
                <input type="radio" disabled="true" (click)="goToExtraction($event,'SIP')" name="selectjob"> SIP</div>
              <div class="job-desc">
                <i class="fa fa-file-archive-o"></i> Choose option for SIP Extraction</div>
            </div>
          </div>
          <div style="float:right">
            <button type="button" id="cancelBtn" style="margin-right: -2px" (click)="goToJobs()"
              class="btn btn-padding secondary-btn-color">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>