#customers {  
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; 
    border: 1px solid #ddd;  
  }
  
  #customers td, #customers th {
   
    padding: 6px;
    border-bottom: 1px solid #ddd;
  }
  
  /* #customers tr:nth-child(even){background-color: #F5F5F5;} */
  
  #customers tr:hover {background-color: #F5F5F5;}
  
  #customers th {
    padding-top: 8px;
    padding-bottom: 8px;   
    text-align: center;
    color:black;
  }

  .marginClass {
    margin-top: 96px;
  }

  .pointer {
    cursor:pointer;
    margin-top: -20px;    
  }
  .sub-headerrs {
    margin-left: 20px;
    margin-top: 10px;
    float: left;
  }
.ana-result {
  text-align: left;
  display :inline;
}

.secbutton {
  margin-right: 4px;
}

.prebutton {
  margin-right: -22px;
}

#cancel-btn{
  margin-right: 15px;
  background-color: #64b5f6;
}

.alert-sty{
  text-align: left;
  margin-top: -24px;
}