#customers {  
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px; 
    border: 1px solid #ddd;  
  }
  
  #customers td, #customers th {
   
    padding: 6px;
    border-bottom: 1px solid #ddd;
  }
  .modal-dialog {
    margin: 65px auto auto;
    width: 1050px;
}


.card-header {
  color: #000;
  background-color: #64b5f6;
  padding: 8px;
  border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card-title {
  font-size: 16px;
  float: left;
}
.back-arrowr {
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: 16px;
  float: left;
}

#da-arrow{
  margin-left: 11px;
  margin-right: 13px;
}
.title-header{
  font-size: 18px;
  text-align: left;
}
.arrow {
 
  color: #80adf8;
  cursor: pointer;
}

.arrow:hover {

  color: #2879FF;
  cursor: pointer;
}
.body-row {
    padding: 15px;
    margin-right: -15px;
  margin-left: -15px;
}
.primary-table {
  background-color: #edf3f8;
  margin-bottom: 12px;
  margin-top: 12px;
}

.container-tab{
  margin-left: 22px;
  margin-right: 31px;
}
.card-title {
  float: left;
}
.sub-headerr {
  margin-left: 4px;
}
  .modal-header{
    font-size: 20px;
    padding: 14px 18px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #2879ff;
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  /* #customers tr:nth-child(even){background-color: #F5F5F5;} */
  
  #customers tr:hover {background-color: #F5F5F5;}
  
  #customers th {
    padding-top: 8px;
    padding-bottom: 8px;   
    text-align: center;
    color:black;
  }

  .marginClass {
    margin-top: 20px;
    margin-bottom: -43px;
  }

  .pointer {
    cursor:pointer;
    margin-top: -20px;    
  }
  .sub-headerrs {
    margin-left: 20px;
    margin-top: 10px;
    float: left;
  }
.ana-result {
  text-align: left;
  display :inline;
}

.secbutton {
  margin-right: 4px;
}

.prebutton {
  margin-right: -22px;
}

#cancel-btn{
  margin-right: 15px;
  background-color: #64b5f6;
}

.alert-sty{
  text-align: left;
  margin-top: -24px;
}

.arch-btnn{
  background-color: #2879ff;
  color: #fff;
  transition: .5s;
}

.arch-btnn:hover {
  box-shadow: rgba(0,0,0,0.43) 0px 0px 4px 0px;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.action-btn button.save {
  background-color: #2879ff;
  color: #ffffff;
  text-transform: inherit;
  margin-right: 10px;
  transition: 0.5s;
}

.action-btn button.cancel {
  background-color: #64b5f6;
  color: #1b1b1b;
  margin-right: 10px;
  text-transform: inherit;
  transition: 0.5s;
}

.action-btn button.save:hover {
  transform: scale(1.1, 1.1);

}

.action-btn button.cancel:hover {
  transform: scale(1.1, 1.1);
}

::ng-deep .mat-step-data-analyzer .mat-horizontal-stepper-header .finished-step {
  background-color: #ffff !important;
  color: #2879ff !important;
  border: solid 2px #2879ff !important;
}

::ng-deep .mat-step-data-analyzer .mat-horizontal-stepper-header .active-step {
  background-color: #2879ff !important;
  color: #ffffff !important;
}

.container-da{
  margin: 0px 70px
}
.dataA-panel-body {
  /* height: 430px; */
  margin-left: 75px;
  /* margin-right: 50px; */
}
.dataA-panel-body-r {
  margin-left: -50px;
  margin-right: -50px;
}

#panel-r{
  height: 438px;
}
.panel-body {
  /* padding: 15px; */
}
/* Toggle Button */
.one *, .one *:before, .one *:after {
  -moz-box-sizing: border-box; 
 -webkit-box-sizing: border-box; 
 box-sizing: border-box;
}

.one .button-wrap {
 /* width: 120px; */
 /* margin: 10px auto 0; */
 cursor: pointer;
}
.one .button-bg {
 width: 105%;
 height: 100%;
 background-color:#cfd7e3;;
 border-radius: 40px;
 color:#595959;
 transition:all 0.2s ease;
}
.one .button-switch {
 position:relative;
 left:0px;
 width: 177px;
 height: 44px;
 border:solid 22px;
 border-radius: 36px;
 transition:all 0.2s ease;
 border-color:#2879ff;
}
.one .button-active .button-switch { left:164px; width: 172px;border-color:#2879ff; }
.one .button-in, 
.one .button-out {
 position:absolute; 
 transition:all 0.2s ease;
 padding-top:10px;
 font-family: Roboto;
 font-size:18px;
}
.one .button-in { margin-left:184px; }
.one .button-out { margin-left:20px; margin-right: 20px; color:#ffffff; }
.one .button-active .button-out { color:#595959; }
.one .button-active .button-in { color:#ffffff}
.one .button-active .button-bg { background-color:#cfd7e3; }

.index {
 z-index: 1;
}

.one-width {
width: 350px;
}

/* Toggle Button Ends */

.first-div-new {
  display: block;
  width: 86%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  margin-left: 15px;
  text-align: left;
  font-weight: bold;
}
.container-list{
  padding:0px 4px 0px 9px;
}
.tablename-list {
  margin-top: 10px;
  margin-left: -20px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 300px;
}
.list-group-item {
  margin-left: 25px;
  margin-bottom: -15px;
  padding: 10px 10px;
  /* width: 100%; */
  text-transform: none;
  /* margin-bottom: -15px; */
  text-align: left;
}
.da-table.selected {
  border: 1px solid #269AF8;
  background-color: #e8f0f6;
}
input[type='checkbox'] {
  cursor: pointer;
}
.unselected {
  display: none;
  float: right;
  padding: 3px 0;
  color: #269AF8;
}
.selected .unselected {
  display: block;
}
.first-div-n {
  display: block;
  width: 86%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  margin-left: 0px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 7px;
}
.mat-header-cell {
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;  
  text-align: left;
  color: #0c0c0c;  
  font-weight: bold;
}
td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 10px;
}

.mat-cell, .mat-footer-cell {
  font-size: 12px;
  text-align: left;
  padding-left: 10px;
}
::ng-deep .mat-paginator-range-label {
  margin: 0px !important;
}
::ng-deep .mat-paginator-icon {
  height: unset !important;
}
.ana-br {
  border: 1px solid #dddddd;
  padding: 10px 10px;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 6px;
}
.plr-0 {
  margin-top: 6px;
  margin-right: -30px;
}

#list-br {
  /* background-color: #fff; */
  margin-bottom: 3px;
  text-align: left;
}

.dataA-scrollable-div-A {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 318px;
}
