  <div class="modal-dialog {{newWSinfo ? 'msg-modal' : ''}}" role="worskspace">
    <div class="modal-content text-left">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit Relations</h4>        
      </div>

      <div class="modal-body row">
      <!-- carousel -->
        <div id="createWSModal-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
          <!-- Indicators -->
          <ul class="multi-step-bars">
            <li> 
              <em class="col-md-6 text-center">Primary Table:{{primaryTable}}</em>
              <em class="col-md-6 text-center">Secondary Table:{{secondaryTable}}</em>
            </li>
          </ul>
          <ol class="only carousel-indicators hide">
            <li data-target="#createWSModal-carousel" data-slide-to="0" class="active"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">         

            <div step="0" class="item active form-group second-last second">
              <div class="col-md-12">
                     <table class="display m-10" cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th style="width: 35px;"></th>
                            <th style="width: 35px;">Key</th>
                            <th style="width: 145px;">Primary Table Column</th>
                            <th style="width: 145px;">Column Type</th>
                            <th style="width: 145px;">Secondary Table Column</th>                           
                          </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td><input type="checkbox"></td>
                          <td><i class="fa fa-check-circle" style="font-size:24px"></i></td>
                          <td></td>
                          <td>VARCHAR </td>
                          <td> <select class="member-role" >
                              <option hidden selected="true">Select</option>
                              <option value="test">address1</option>
                            </select></td>                         
                        </tr>
                      </tbody>
                      </table>
              </div>
              
              </div>
            </div>
       </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-primary">Reset</button>
        <button type="button" class="btn btn-primary">Automatch Columns</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="resetCarousel()">update</button>
        <button type="button" id="cancel-btn" class="btn btn-secondary cancel" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>

