.modal-header{
  color: white;
  background-color: #2879ff;
}

.modal-dialog {
  margin: 150px auto auto;
  width: 850px;
}

.fa-check-circle {
  color: #269af8;
}

#sec_select {
  width: max-content;
}
.m-t-6 {
  padding: 8px;
  margin-bottom: 5px;
}
.alert-dismissible {
  padding-right: 45px;
}

#cancel-btn{
  background-color: #64b5f6;
  color:#000;
}

#back-none{
  background-color: #fff;
  padding:0px 15px;
}

.btn-primary:hover{
  box-shadow: rgba(0,0,0,0.43) 0px 0px 9px 0px;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.header-tab{
  background-color: #64b5f6;
  color: #000;
  padding: 10px 20px;
  text-align: left;
}

#right-align{
  text-align: center;
}

::ng-deep .cdk-overlay-container{
  z-index: 1200 !important;
}



/* 
#back-none{
  background-color: white;
}

.header-tab{
  background-color: #64b5f6;
  padding: 6px; 
} */

