#rightArrow {
  float: right;
  margin-top: 40px;
}

.service-title {
  width: 550px;
  font-size: 24px;
}

#insidecontainer {
  padding-left: 5px;
}

p {
  line-height: 150%;
}

h2 {
  line-height: 100%;
}

