.btn-box {
  text-align: left;
  width: 520px;
  height: 110px;
  margin-top: 25px;
}

button {
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  cursor: default;
}

#rightArrow {
  float: right;
  margin-top: 40px;
}
