
/* .modal-title {
  float: left;
}
table.table td { 
  text-align: left;
  width: 30%;
  }
  #table-modal td, #table-modal th {
    border: 1px solid #ddd;
  }
  #table-modal tr:hover {background-color: #F5F5F5;}

  .modal-header .close {
    margin-right: 0px;
}
.modal-footer .cancel {
  border-radius: 2px; 
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-transform: uppercase;
} */

.search{
  text-align: right;
  padding-right: 10px;
}

.search-width{
  width: inherit;
}

.flex-container {
  display: flex;
  margin: 15px 15px 10px 10px;
  float: left;
  width: 440px;
  height: 240px;
}

.example-card {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.43);
  transition:0.5s;
}

.delete:hover {
  opacity: 0.2;
}

.example-card:hover{
  box-shadow: rgba(0,0,0,0.43) 0px 0px 20px 0px;
  transform:translatey(-10px);
}

.example-header-image {
  background-image: url('assets/livearchival.png');
  background-size: contain;
  border-radius: 33%;
}

.spacer {
  flex: 1 auto;
}

.content {
  text-align: start;
}

.body-left {
  display:inline-block;  
  font-size: 14px;
  width: 28%; 
  padding-left: 5px;
  color: #000101;
}
.body-center {
  display:inline-block;  
  padding: 10px 0px 0px 0px;
  font-size: 14px;
  width: 5%; 
}
.body-right {
  display:inline-flex;
  padding: 10px 15px 0px 15px;
  font-size: 14px;
  width: 67%; 
  color: #3d3d3e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  margin-top: 10px;
    margin-left: -9px;
    font-size: 20px;
    color: #121212;
}

.modal-header {
  padding: 10px;
  padding-left: 15px;
  background-color: #2879ff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
 }
 .info-r {
  font-size: 18px;
  padding-left: 10px;
  display:inline-block;  
}

.model-title {
  float: left;
  display:inline-block;
  font-size: 20px;
  padding: -1px 15px 10px 15px;
  text-align: left;
  color: #ffffff;
}
.modal-close {
  background-color: #2879ff;
  border: #2879ff;
  color: #ffffff;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
}
.table>tbody>tr>td {
  text-align: left;
  padding: 10px 18px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table-hover>tbody>tr:hover {
    background-color: #f0f3f7;
}
td.tdl {
  color: #121212;
  font-weight: bold;
  font-size: 12px;
  width: 50%;
}
td.tdr {
  color: #767676; 
  font-size: 12px;
}

.modal-body {
  border-bottom: 0px solid #E6E9ED;
  padding: 0px 2px 0px 3px;
  text-align: left;
}

.cancel {
    background-color: #2879ff;
    border: #2879ff;
    color: #ffffff;
    transition:0.5s;
}

.cancel:hover {
  transform:scale(1.1,1.1);
  }

  /* Toggle Button */
  .one *, .one *:before, .one *:after {
    -moz-box-sizing: border-box; 
   -webkit-box-sizing: border-box; 
   box-sizing: border-box;
 }

 .one .button-wrap {
   /* width: 120px; */
   /* margin: 10px auto 0; */
   cursor: pointer;
 }
 .one .button-bg {
   width: 89%;
   height: 100%;
   background-color:#cfd7e3;;
   border-radius: 40px;
   color:#595959;
   transition:all 0.2s ease;
 }
 .one .button-switch {
   position:relative;
   left:0px;
   width: 125px;
   height: 44px;
   border:solid 22px;
   border-radius: 36px;
   transition:all 0.2s ease;
   border-color:#2879ff;
 }
 .one .button-active .button-switch { left:116px; width: 172px;border-color:#2879ff; }
 .one .button-in, 
 .one .button-out {
   position:absolute; 
   transition:all 0.2s ease;
   padding-top:10px;
   font-family: Roboto;
   font-size:18px;
 }
 .one .button-in { margin-left:132px; }
 .one .button-out { margin-left:20px; margin-right: 20px; color:#ffffff; }
 .one .button-active .button-out { color:#595959; }
 .one .button-active .button-in { color:#ffffff;margin-left: 132px;}
 .one .button-active .button-bg { background-color:#cfd7e3; }

 .index {
   z-index: 1;
 }

 .one-width {
 width: 350px;
 }
 
  /* Toggle Button Ends */

  table {
    width: 100%;
  }
  
  td,
  th {
    width: 25%;
    text-align: left;
    font-size: 14px;
    color:#0c0c0c;
    font-family: "Roboto", sans-serif;
  }
  
  ::ng-deep #char-table svg {
    height: unset;
  }
  
  th {
    font-weight: bold;
  }
  
  #char-table {
    margin: 60px 27px 2px 40px;
  }
  .mat-cell, .mat-footer-cell {
    font-size: 12px;
  }

  .search-wid {
    width: 100%;
  }

  .reject {
   color: #ff000082;
  }

  .reject:hover, .reject:focus {
    color: #ff0000
  }


  .bgchange {
    background-color: #64b5f6;
    color: #000000;
    border: #64b5f6;
    transition: 0.5s;
  }

  .contentcolor{
    background-color: #f8fafc;
    height: 200px;
  }
  
  .margin-5{
    margin-top: 3%;
  }

  .body-rightc {
    color: #474849;
  }

  .reason {
    height: 140px;
  }

  .col {
    color: #2879ff;
  }
  .footer { 
    text-align: right;
    padding-right: 7px;
  }
   .ws {
    font-size: 20px;
    padding: 8px 8px 0px 0px;
  } 
  .example-full-width {
    width: 90%;
    margin-left: inherit;
  }
  


 


