
.modal-title {
  float: left;
}
table.table td { 
  text-align: left;
  width: 30%;
  }
  #table-modal td, #table-modal th {
    border: 1px solid #ddd;
  }
  #table-modal tr:hover {background-color: #F5F5F5;}

  .modal-header .close {
    margin-right: 0px;
}
.modal-footer .cancel {
  border-radius: 2px; 
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-transform: uppercase;
}

.search{
  text-align: right;
  padding-right: 40px;
}

.search-width{
  width: inherit;
}

.flex-container {
  display: flex;
  padding: 30px 0px 30px 0px;
  justify-content: space-evenly;
  margin-left: -32px;
  margin-right: -32px;
}

.example-card {
  max-width: 420px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.43);
  transition:0.5s;
}

.example-card:hover{
  box-shadow: rgba(0,0,0,0.43) 0px 0px 20px 0px;
  transform:translatey(-10px);
}

.example-header-image {
  background-image: url('assets/livearchival.png');
  background-size: contain;
}

.spacer {
  flex: 1 auto;
}

.content {
  text-align: start;
}

.body-left {
  display:inline-block;  
  font-size: 14px;
  width: 28%; 
  padding-left: 5px;
}
.body-center {
  display:inline-block;  
  padding: 10px 0px 0px 0px;
  font-size: 14px;
  width: 5%; 
}
.body-right {
  display:inline-flex;
  padding: 10px 15px 0px 15px;
  font-size: 14px;
  width: 67%; 
}
 


