<div class="workspacelist-container">
  <div class="row">
    <div class="col-md-4">
      <div class="col-md-1 back-arrow">
        <a (click)="gotoManagementPanel()" data-tooltip="Back">
          <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col-md-8">
        <h3 class="workspace-panel-heading">
          Databases
          <span id="loading-icon" [ngClass]="{'archon-loading-icon' : isProgress}"></span>
        </h3>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <button *ngIf="info?.show" type="button" class="btn btn-primary" (click)="openCreateAddDBmodal()" id="db-add">Add New Database Connection
        <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
      </button>
    </div>
  </div>

</div>


  <div class="flex-container" *ngFor="let dbListGroupObj of dbListActions">
    <div class="flex-cards card" *ngFor="let db of dbListGroupObj" id="flex-cards-{{db?.id}}">
        <div class="flex-card-header" [title]="service?.service.serviceName">
          <img class="icon-img"  [attr.src]="'assets/endtoendtoolkit.png'" />
        </div> 
        <div class="flex-cards-bar">
          <div class="trim-text flex-card-title">
            {{db?.profileName}}
          </div>
          <span class="pull-right card-toggle" (click)="toggleCard(db?.id, true, $event)" title="Click for more info">
            <i class="fa fa-caret-up archon-icondown"></i>
          </span>
        </div>
        <div class="card-reveal">
          <p class="">
            <span class="pull-right card-toggle" (click)="toggleCard(db?.id, false, $event)" title="CLick to hide info">
              <i class="fa fa-caret-down archon-iconup"></i>
            </span>
          </p>
          <p > Host: {{db?.host}}</p>
          <p > Owner: {{db.owner.name}}</p>
          <p > Server Type: {{db?.type}}</p>
        </div>
      </div>
</div> 

<button style="display: none" id="populate-db-list" (click)="getConfigDBList()"></button>

<ng-template #createNewDatabaseWizard></ng-template>