    <div class="row">
      <div class="col-md-6">
        <div class="col-md-1 back-arrow" style="margin-left: 10px">
          <a (click)="gotoManagementPanel()" data-tooltip="Back">
            <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-md-8" style="margin-left: -25px">
          <h3 class="workspace-panel-heading">
            Databases
          </h3>
        </div>
      </div>  
      <div class="col-md-12"></div>
    </div>
    <div class="col-md-12">
      <div class="col-md-4"></div>
      <div class="col-md-3 one">
          <div class="button-wrap" (click)="toggle()" [ngClass]="{'button-active' : toggleBoolean}">
            <div class="button-bg">
              <div class="button-out index">Databases</div>
              <div class="button-in index">Pending Approval</div>
              <div class="button-switch"></div>
            </div>
          </div>
        </div>
          <div class="col-md-5"></div>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="col-md-3"></div>
        <div class="col-md-9 search">
            <mat-form-field class="search-width">
              <input matInput [(ngModel)]="searchText" placeholder="Search">
            </mat-form-field>
            <a style="font-size: 42px" (click)="openCreateAddDBmodal()" matTooltip="Add Database"><i class="material-icons plus">
            </i></a>
          </div>
    </div>
<div class="pl-20">
  <div class="flex-container" *ngFor="let db of dbListActions| searchTable: searchText;let indRow = index; let last = last">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="header">{{db?.profileName}}</mat-card-title>
        <div class="spacer"></div>
        <a (click)="viewDBmodal(db)" data-toggle="modal" href="#db-profile-model" data-tooltip="Details"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a>
      </mat-card-header>
      <mat-card-content class="content">
        <div class='body-left'>Host</div><div class='body-center'>:</div><div class='body-right'>{{db?.host}}</div>
        <div class='body-left'>Owner</div><div class='body-center'>:</div><div class='body-right'>{{db.owner.name}}</div>
        <div class='body-left'>Server Type</div><div class='body-center'>:</div><div class='body-right'>{{db?.type}}</div>
      </mat-card-content>
    </mat-card> 
  </div>
  </div>
  <ng-template #createNewDatabaseWizard></ng-template>

  <div id="db-profile-model" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <div class='model-title'><i class="fa fa-tachometer"></i><div class='info-r'>Database Profile</div></div>
        </div>
        <div class="modal-body">
          <table class="table table-hover">
            <thead></thead>
            <tbody>
              <tr>
                <td class="tdl">Database Profile Name</td>
                <td>{{configuredDB.profileName}}</td>
              </tr>
              <tr>
                <td class="text-left tdl">Database Type</td>
                <td class="tdr">{{configuredDB.type}}</td>
              </tr>
              <tr>
                <td class="tdl">Database Host/Ip</td>
                <td class="tdr">{{configuredDB.host}}</td>
              </tr>
              <tr>
                <td class="tdl">Database Port</td>
                <td class="tdr">{{configuredDB.port}}</td>
              </tr>
              <tr>
                <td class="tdl">Database Name</td>
                <td class="tdr">{{configuredDB.databaseName}}</td>
              </tr>
              <tr>
                <td class="tdl">Database Schema</td>
                <td class="tdr">{{configuredDB.schemaName}}</td>
              </tr>
              <tr>
                <td class="tdl">Database User Name</td>
                <td class="tdr">{{configuredDB.userName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default cancel" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
    </div>
