<div class="row">
  <div class="col-md-6" style="height: 45px;">
    <div class="col-md-1 back-arrow" style="margin-left: 10px">
      <a (click)="gotoManagementPanel()" data-tooltip="Back">
        <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
      </a>
    </div>
    <div class="col-md-8" style="margin-left: -25px">
      <h3 class="workspace-panel-heading">
        Databases
      </h3>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="col-md-4" style="width: 37.495%"></div>
  <div class="col-md-3 one one-width">
    <div class="button-wrap" (click)="toggle()" [ngClass]="{'button-active' : toggleBoolean}" #myDiv>
      <div class="button-bg">
        <div class="button-out index">Databases</div>
        <div class="button-in index" *ngIf="allowToggle">Pending Approval</div>
        <div class="button-in index" *ngIf="!allowToggle" matTooltip="Access Denied" style="cursor: not-allowed">Pending
          Approval</div>
        <div class="button-switch"></div>
      </div>
    </div>
  </div>
  <div class="col-md-5" style="width: 37.495%"></div>
</div>
<div *ngIf="!toggleBoolean">
  <div class="col-md-6"></div>
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <div class="col-md-3"></div>
    <div class="col-md-9 search" style="margin-top: -20px">
      <mat-form-field class="search-width">
        <input matInput [(ngModel)]="searchText" (keyup)="searchDatabase()" placeholder="Search">
      </mat-form-field>
      <!-- <a style="font-size: 42px" (click)="openCreateAddDBmodal()" matTooltip="Add Database" *ngIf="allowToggle"><i class="material-icons plus col">
            </i></a> -->
      <a style="font-size: 42px" (click)="createDatabase()" matTooltip="Add Database" *ngIf="allowToggle"><i
          class="material-icons plus col">
        </i></a>
    </div>
  </div>
  <div class="pl-20">
    <div class="flex-container" *ngFor="let db of dbListActions;let indRow = index; let last = last">
      <div *ngIf="db?.id === deleteId">
        <mat-card class="{{db?.owner.id === userinfoId? 'example-card-bg': 'example-card'}} mat-card delete">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title class="header">{{db?.profileName}} </mat-card-title>
            <div class="spacer"></div>
          </mat-card-header>
          <mat-card-content class="content">
            <div class='body-left'>Host</div>
            <div class='body-center'>:</div>
            <div class='body-right'>{{db?.host}}</div>
            <div class='body-left'>Owner Id</div>
            <div class='body-center'>:</div>
            <div class='body-right'>{{db?.owner.id}}</div>
            <div class='body-left'>Owner Name</div>
            <div class='body-center'>:</div>
            <div class='body-right'>{{db?.owner.firstName +' '+db?.owner.lastName}}</div>
            <div class='body-left'>Created Time</div>
            <div class='body-center'>:</div>
            <div class='body-right'>{{db?.createdAt * 1000 | date: 'medium'}}</div>
            <div class='body-left'>Server Type</div>
            <div class='body-center'>:</div>
            <div class='body-right'>{{db?.type}}</div>
            <div class='body-left'>Status</div>
            <div class='body-center'>:</div>
            <div class='body-right'>{{db?.status}}</div>
          </mat-card-content>
          <mat-card-footer class="footer" style="border-top: 1px solid #E6E9ED;">
          </mat-card-footer>
        </mat-card>
      </div>
      <div *ngIf="ws?.id !== deleteId">
        <mat-card class="{{db?.owner.id === userinfoId? 'example-card-bg': 'example-card'}} mat-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title class="header">{{db?.profileName}} </mat-card-title>
            <div class="spacer"></div>
            <a (click)="viewDBmodal(db)" data-toggle="modal" href="#db-profile-model" data-tooltip="Details"><i
                class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a>
          </mat-card-header>
          <mat-card-content class="content">
            <div class='body-left'>Host</div>
            <div class='body-center'>:</div>
            <div class='body-right'>{{db?.host}}</div>
            <div class='body-left'>Owner Id</div>
            <div class='body-center'>:</div>
            <div class='body-right'>{{db?.owner.id}}</div>
            <div class='body-left'>Owner Name</div>
            <div class='body-center'>:</div>
            <div class='body-right'>{{db?.owner.firstName +' '+db?.owner.lastName}}</div>
            <div class='body-left'>Created Time</div>
            <div class='body-center'>:</div>
            <div class='body-right'>{{db?.createdAt * 1000 | date: 'medium'}}</div>
            <div class='body-left'>Server Type</div>
            <div class='body-center'>:</div>
            <div class='body-right'>{{db?.type}}</div>
            <div class='body-left'>Status</div>
            <div class='body-center'>:</div>
            <div class='body-right'>{{db?.status}}</div>
          </mat-card-content>
          <mat-card-footer class="footer" style="border-top: 1px solid #E6E9ED;">           
            <a *ngIf="db?.owner.id === userinfoId" class="fonticonbelow cursor-poniter" (click)="DBdelete(db?.id,db?.profileName)" data-toggle="modal" href="#confirm_model"
            matTooltip="Delete"><i class="material-icons ws">
                delete
              </i></a>
            <a *ngIf="db?.owner.id !== userinfoId" class="disable-fonticonbelow" data-toggle="modal" matTooltip="Not Available"><i
                class="material-icons ws" style="color: #cecdcd; cursor: not-allowed;">
                delete
              </i></a>
              <a *ngIf="db?.owner.id === userinfoId" class="fonticonbelow cursor-poniter" (click)="editDB(db)" data-toggle="modal" href="#edit_model"
              matTooltip="Edit Database Password"><i class="material-icons ws">
                  edit
                </i></a>
              <a *ngIf="db?.owner.id !== userinfoId" class="disable-fonticonbelow" data-toggle="modal" matTooltip="Not Available"><i
                  class="material-icons ws" style="color: #cecdcd; cursor: not-allowed;">
                  edit
                </i></a>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<ng-template #createNewDatabaseWizard></ng-template>

<div id="db-profile-model" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="info-popup-header-cls">
          <h4 class="popup-title-cls">
            <i class="material-icons popup-material-icon-cls" style="font-size: 22px;margin-top: 3px;">info_outline</i>
            <div class="pop-title" style="margin-left: 0px;margin-top: 3px;">Database Profile</div>
          </h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead></thead>
          <tbody>
            <tr>
              <td class="tdl">Database Profile Name</td>
              <td class="tdr">{{configuredDB?.profileName}}</td>
            </tr>
            <tr>
              <td class="text-left tdl">Database Type</td>
              <td class="tdr">{{configuredDB?.type}}</td>
            </tr>
            <tr>
              <td class="tdl">Database Host/Ip</td>
              <td class="tdr">{{configuredDB?.host}}</td>
            </tr>
            <tr>
              <td class="tdl">Database Port</td>
              <td class="tdr">{{configuredDB?.port}}</td>
            </tr>
            <tr>
              <td class="tdl">Database Name</td>
              <td class="tdr">{{configuredDB?.databaseName}}</td>
            </tr>
            <tr>
              <td class="tdl">Database Schema</td>
              <td class="tdr">{{configuredDB?.schemaName}}</td>
            </tr>
            <tr>
              <td class="tdl">Database User Name</td>
              <td class="tdr">{{configuredDB?.userName}}</td>
            </tr>
            <tr>
              <td class="tdl">Database Status</td>
              <td class="tdr">{{configuredDB?.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-padding primary-btn-color" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div *ngIf="toggleBoolean" style="padding-top: 45px;">
  <div class="col-md-12">
    <div class="col-md-9"></div>
    <div class="col-md-3">
      <mat-form-field class="search-wid">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
    </div>
  </div>
  <div class="mat-elevation-z4" id="char-table">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="DB Profile Name">
        <th style="width:15%" mat-header-cell *matHeaderCellDef mat-sort-header> DB Profile Name </th>
        <td style="width:15%" mat-cell *matCellDef="let element; let i = index;">{{element?.dbProfileName}}</td>
      </ng-container>
      <ng-container matColumnDef="Workspace Name">
        <th style="width:15%" mat-header-cell *matHeaderCellDef mat-sort-header>Workspace Name</th>
        <td style="width:15%" mat-cell *matCellDef="let element"> {{element?.workspaceName}} </td>
      </ng-container>
      <ng-container matColumnDef="Workspace Owner">
        <th style="width:15%" mat-header-cell *matHeaderCellDef mat-sort-header> Workspace Owner </th>
        <td style="width:15%" mat-cell *matCellDef="let element"> {{element?.workspaceOwnerName}} </td>
      </ng-container>
      <ng-container matColumnDef="Comments">
        <th style="width:45%" mat-header-cell *matHeaderCellDef> Comments </th>
        <td style="width:45%" mat-cell *matCellDef="let element"> {{element?.reason}} </td>
      </ng-container>
      <ng-container matColumnDef="Approve">
        <th style="width:10%" mat-header-cell *matHeaderCellDef> Approve </th>
        <td style="width:10%" class="cursor-pointer" mat-cell *matCellDef="let element"><i class="material-icons"
            (click)="openModal(element, 'Approve');reason = ''" matTooltip="Approve" data-toggle="modal"
            href="#approval-modal">
            check_box
          </i>
        </td>
      </ng-container>
      <ng-container matColumnDef="Reject">
        <th style="width:10%" mat-header-cell *matHeaderCellDef> Reject </th>
        <td style="width:10%" class="cursor-pointer" mat-cell *matCellDef="let element"><i class="material-icons reject"
            matTooltip="Reject" (click)="openModal(element, 'Reject'); reason = ''" data-toggle="modal"
            href="#approval-modal">
            block
          </i>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>


<div id="approval-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <div class='model-title' *ngIf="heading == 'Approval Confirmation'"><i class="fa fa-check-square-o fa-lg"></i>
          <div class='info-r'>{{heading}}</div>
        </div>
        <div class='model-title' *ngIf="heading == 'Rejection Confirmation'"><i class="fa fa-ban fa-lg reject"></i>
          <div class='info-r'>{{heading}}</div>
        </div>
      </div>
      <div class="modal-body">
        <div class="content contentcolor">
          <div class='body-left margin-5'>Database Profile Name</div>
          <div class='body-center'>:</div>
          <div class='body-right body-rightc'>{{element?.dbProfileName}}</div>
          <div class='body-left margin-5'>Workspace Name</div>
          <div class='body-center'>:</div>
          <div class='body-right body-rightc'>{{element?.workspaceName}}</div>
          <div class='body-left margin-5'>Workspace Owner</div>
          <div class='body-center'>:</div>
          <div class='body-right body-rightc'>{{element?.workspaceOwnerName}}</div>
          <div class='body-left margin-5'>Comment</div>
          <div class='body-center'>:</div>
          <div class='body-right body-rightc'>{{element?.reason}}</div>
        </div>
        <div class="reason" style="padding-top: 10px;">
          <div class="col-md-12" *ngIf="heading == 'Rejection Confirmation'">
            <mat-form-field class="search-wid">
              <textarea matInput placeholder="Reason for Rejection" [(ngModel)]="reason" required></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-12" *ngIf="heading == 'Approval Confirmation'">
            <mat-form-field class="search-wid">
              <textarea matInput placeholder="Reason for Approval" [(ngModel)]="reason" required></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-padding secondary-btn-color" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-padding {{reason == ''?'primary-btn-color-disabled':'primary-btn-color'}}"
          data-dismiss="modal" (click)="submit('REJECTED')" *ngIf="heading == 'Rejection Confirmation'"
          [disabled]="reason == ''">Reject</button>
        <button type="button" class="btn btn-padding {{reason == ''?'primary-btn-color-disabled':'primary-btn-color'}}"
          data-dismiss="modal" (click)="submit('APPROVED')" *ngIf="heading == 'Approval Confirmation'"
          [disabled]="reason == ''">Approve</button>
        <button type="button" style="display: none" id="reload" (click)="getConfigDBList()"></button>
      </div>
    </div>

  </div>
</div>

<div  id="confirm_model" class="modal fade" role="dialog">             
  <div class="modal-dialog"  style="width: 480px;">
    <div class="modal-content">
        <div class="error-popup-header-cls">
            <h4 class="popup-title-cls">
              <i class="material-icons popup-material-icon-cls" style="font-size: 22px;margin-top: 3px;">error_outline</i><div class="pop-title" style="margin-left: 0px;margin-top: 3px;">Confirm Database Delete</div></h4>
          </div>
          <div class="modal-body"  style="padding: 15px">
              <p class="popup-paragraph-cls">Are you sure you want to delete database
                  profile '{{DBprofileName}}'?
                   </p>
            </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-padding btn-secondary-popup"  data-dismiss="modal">No</button>
          <button type="button" class="btn btn-padding btn-error-popup-primary-color" data-dismiss="modal" (click)="deleteDB()">Yes</button>      
      </div>
    </div>
  </div>
</div>

<button style="display: none" type="button" id="deletemsgsuccess" data-toggle="modal" data-target="#deletemessage">Open Modal</button>
<div class="modal fade" id="deletemessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">             
  <div class="modal-dialog"  style="width: 480px;">
    <div class="modal-content">
        <div class="info-popup-header-cls">
            <h4 class="popup-title-cls">
              <i class="material-icons popup-material-icon-cls" style="font-size: 22px;margin-top: 3px;">info_outline</i><div class="pop-title" style="margin-left: 0px;margin-top: 3px;">Schedule for Deletion</div></h4>
          </div>
          <div class="modal-body"  style="padding: 15px">
              <p class="popup-paragraph-cls"> {{successmsg}}. Please check after 15 seconds. </p>
            </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-padding primary-btn-color" data-dismiss="modal" (click)="closeErrorMsg()">OK</button>      
      </div>
    </div>
  </div>
</div>
<button style="display: none" type="button" id="deletemsgerror" data-toggle="modal" data-target="#deletemessageerror">Open Modal</button>
<div class="modal fade" id="deletemessageerror" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">             
  <div class="modal-dialog"  style="width: 480px;">
    <div class="modal-content">
        <div class="error-popup-header-cls">
            <h4 class="popup-title-cls">
              <i class="material-icons popup-material-icon-cls" style="font-size: 22px;margin-top: 3px;">error_outline</i><div class="pop-title" style="margin-left: 0px;margin-top: 3px;">Error</div></h4>
          </div>
          <div class="modal-body"  style="padding: 15px">
              <p class="popup-paragraph-cls">{{errormsg}} </p>
            </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-padding btn-secondary-popup"  data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-padding btn-error-popup-primary-color" data-dismiss="modal" (click)="closeErrorMsg()">OK</button>      
      </div>
    </div>
  </div>
</div>

<div id="edit_model" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 480px;">
      <form #dbForm="ngForm">        
        <div class="info-popup-header-cls">
            <h4 class="popup-title-cls">
              <i class="material-icons popup-material-icon-cls" style="font-size: 22px;margin-top: 3px;">edit_outline</i>
              <div class="pop-title" style="margin-left: -175px;margin-top: 3px;">Edit Database Password</div>
            </h4>
        </div>
        <div class="modal-body row">
          <div class="col-md-12 row m-10">
            <mat-form-field class="example-full-width">
              <input matInput required [(ngModel)]="dbName" name="dbName" placeholder="Database Name" disabled>
            </mat-form-field>
          </div>
          <div class="col-md-12 row m-10">
            <mat-form-field class="example-full-width">
              <input type="password" matInput required [(ngModel)]="dbpassword" name="dbpassword"
                placeholder="Enter Database Password" minlength="6" #pass="ngModel">
            </mat-form-field>
            <mat-error *ngIf="pass.errors?.minlength" style="margin-left: 7px;">
              *Password must contain atleast 6 characters.
            </mat-error>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-padding secondary-btn-color" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-padding primary-btn-color" (click)="updateDB()" data-dismiss="modal"
            [disabled]="!dbForm.form.valid">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>

<button style="display: none" type="button" id="editmsgsuccess" data-toggle="modal" data-target="#editmessagess">Open Modal</button>
<div class="modal fade" id="editmessagess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">             
  <div class="modal-dialog"  style="width: 480px;">
    <div class="modal-content">
        <div class="success-popup-header-cls">
            <h4 class="popup-title-cls">
              <i class="material-icons popup-material-icon-cls" style="font-size: 22px;margin-top: 3px;">check_circle_outline</i><div class="pop-title" style="margin-left: 0px;margin-top: 3px;">Success</div></h4>
          </div>
          <div class="modal-body"  style="padding: 15px">
              <p class="popup-paragraph-cls"> {{successmsg}} </p>
            </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-padding btn-success-popup-primary-color" data-dismiss="modal" (click)="closeErrorMsg()">OK</button>      
      </div>
    </div>
  </div>
</div>

<button style="display: none" type="button" id="editmsgerror" data-toggle="modal" data-target="#editmsgerrors">Open Modal</button>
<div class="modal fade" id="editmsgerrors" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">             
  <div class="modal-dialog"  style="width: 480px;">
    <div class="modal-content">
        <div class="error-popup-header-cls">
            <h4 class="popup-title-cls">
              <i class="material-icons popup-material-icon-cls" style="font-size: 22px;margin-top: 3px;">error_outline</i><div class="pop-title" style="margin-left: 0px;margin-top: 3px;">Error</div></h4>
          </div>
          <div class="modal-body" style="padding: 15px">
              <p class="popup-paragraph-cls">{{errormsg}} </p>
            </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-padding btn-secondary-popup"  data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-padding btn-error-popup-primary-color" data-dismiss="modal" (click)="closeErrorMsg()">OK</button>      
      </div>
    </div>
  </div>
</div>