.mgmt-panel {
    font-size: 15px;
    border-bottom: none;
}
#workspace-info-link {
    padding-left: 30px;
}
.nav nav-tabs mgmt-panel {
    float: left;
}
/* #workspace-info-link>ul>li>a:hover{
    background: rebeccapurple !important;
    color: #fff !important;
} */