<div id="workspace-mgmt-panel">
    <ul class="nav nav-tabs mgmt-panel mt-10">
      <li class="trim-text services">
            <a [routerLink]="['/workspace/workspace-dashboard/workspace-services']" [class.active]="checkActive == 'Services'" (click)="checkActive = $event.target.innerText">Services</a>
      </li>
      <li class="trim-text width" *ngIf="role?.name == 'ROLE_OWNER'">
        <a [routerLink]="['manage-members',workspaceId]" [class.active]="checkActive == 'Manage Members'" (click)="checkActive = $event.target.innerText">Manage Members</a>
      </li>
      <li class="trim-text width">
        <a [routerLink]="['manage-master-metadata',workspaceId]" [class.active]="checkActive == 'Manage Metadata Version'" (click)="checkActive = $event.target.innerText">Manage Metadata Version</a>
      </li>
      <li id="workspace-info-link" class="trim-text width">
        <a [routerLink]="['workspace-info',workspaceId]" [class.active]="checkActive == 'Workspace Info.'" (click)="checkActive = $event.target.innerText">Workspace Info.</a>
      </li>
      <li id="workspace-info-link" class="trim-text width">
        <a [routerLink]="['char-replacement']" [class.active]="checkActive == 'Character Replacement'" (click)="checkActive = $event.target.innerText">Character Replacement</a>
      </li>
    </ul>
  </div>

<!-- <li class="trim-text">
        <a [routerLink]="['member-request',workspaceId]">Member Requests</a>
      </li> -->
