<div id="ert-table-id">
  <div class="row entry-card">
    <div class="col-md-3">
      <div class="card" style="height:455px">
        <div class="card-body" id="ert-tbl-search">
          <div class="col-md-6" class="graph-heading-div">
            <h3 class="black-heading">Table list</h3>
          </div>
          <!-- <div class="inner-addon right-addon">
              <a href="" style="z-index:1" class="glyphicon glyphicon-search"></a>
              <input type="text" class="form-control search-input" id="listSearch" placeholder="Table Search">
            </div> -->
          <div class="form-group has-feedback" id="search-box">
            <input type="text" class="form-control" [(ngModel)]="searchTableName" id="listSearch"
              (keyup)="searchTablelist()" placeholder="Search" />
            <span class="glyphicon glyphicon-search icon-color form-control-feedback"></span>
          </div>
          <div id="tbl-list">
            <div class="scroll-div border">
              <div class="well"
                *ngFor="let i of tableList | paginate: { itemsPerPage: 50, totalItems: schemaResultsTableCount, currentPage: page } | searchTable:searchTableName">
                <div><input [id]="i.tableName" style="float:left" type="radio" [value]="i.tableName"
                    [checked]="i.tableName == selectedPrimaryTable" name="x" (click)="populategraph(i, $event)"></div>
                <div class="first-div">{{i.tableName}}</div>
                <div><i class="fa fa-chevron-right icon-div "></i></div>
              </div>
            </div>
          </div>
          <pagination-controls (pageChange)="getPage(page = $event)"></pagination-controls>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card" style="height:455px">
        <div class="card-body">
          <div class="row graph-heading-div">
            <h3 class="black-heading">Table Relationship</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="nextbtn">
    <button type="button" class="btn-transform btn btn-primary next btn-sm" [disabled]="data == null"
      (click)="gotoDataRecFinal()" style="float: right;margin-right: 12px">Next</button>
    <button class="btn-transform btn btn-primary Previous btn-sm" (click)="gotoScreenApp()"
      style="float:right;margin-right:5px;">
      Back</button>
  </div>
</div>

<button style="display:none" type="button" id="success-popup-btn" class="btn btn-info btn-lg" data-keyboard="false"
  data-backdrop="static" data-toggle="modal" data-target="#saveScreen">Open Modal</button>
<div id="saveScreen" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header adhoc-modal-header">
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        <p>Change in the graph source will result in loss of search result.</p>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="cancelSearchResult()"
          class="btn btn-padding btn-transform btn-primary adhoc-modal-btn" data-dismiss="modal">cancel</button>
        <button type="button" (click)="deleteSearchResult('html')"
          class="btn btn-padding btn-transform  btn-primary adhoc-modal-btn" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>