<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- <app-workspace-dashboard></app-workspace-dashboard> -->
<!-- <app-no-workspace></app-no-workspace> -->
<!-- <div class="container-fluid site-wrapper">
  <div class="row">
    <div class="inner cover">
      <h1 class="cover-heading">No Workspace assigned for you</h1>
      <p class="lead">Please request your administrator to add you to a Workspace</p>
      <div *ngIf="info.show">
        <a href="#"><h1>Create a Workspace</h1></a>
      </div>
      <div>
        <app-header-panel></app-header-panel>
        <router-outlet></router-outlet>
      </div>
      <div>
        <app-member-request></app-member-request>
      </div>
    </div>
  </div>
</div> -->
