<app-navbar></app-navbar>
<div class="workspacelist-container">

  <div class="col-md-4">
    <div class="col-md-1 back-arrow">
      <a (click)="gotoDashboard()" data-tooltip="Back">
        <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
      </a>
    </div>

    <div class="col-md-8">
      <h3 class="workspace-panel-heading">
        Schedule Job Monitor <span id="loading-icon" [ngClass]="{'archon-loading-icon' : !loadStatus}"></span>
      </h3>
    </div>
  </div>

  <div class="col-md-12 m-l-45" style="padding-top: 0%;" *ngIf="loadStatus">

    <div class="btn-group col-md-2 p-0">     
      <div>
          <mat-form-field>
            <mat-select msInfiniteScroll name="jop-select" (infiniteScroll)="selectTool(job);getStart()" [threshold]="'0%'"
              [(ngModel)]="job" placeholder="TOOL : All">
              <mat-option appScrollServerCall [value]="" (click)="selectTool('');getStart()">
                  Tool : All
              </mat-option>
              <mat-option appScrollServerCall *ngFor="let job of tools" [value]="job" (click)="selectTool(job);getStart()">
                  {{job}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>

    <div class="btn-group col-md-2 p-0">     
    <div>
        <mat-form-field>
          <mat-select msInfiniteScroll name="status-select" (infiniteScroll)="selectJobStatus(i);getStart()" [threshold]="'0%'"
            [(ngModel)]="i" placeholder="JOB STATUS : All">
            <mat-option appScrollServerCall [value]="" (click)="selectJobStatus('');getStart()">
                JOB STATUS : All
            </mat-option>
            <mat-option appScrollServerCall *ngFor="let i of Status" [value]="i" (click)="selectJobStatus(i);getStart()">
                {{i}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
</div>

<div class="col-md-7">         
    <div *ngIf="updateSuccess" class="alert alert-success alert-dismissible m-t-6" role="alert">
        <button type="button" class="close" data-dismiss="alert" (click)="updateSuccess = false" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{message}}</strong>
      </div>
      <div *ngIf="updateNotif" class="alert alert-danger alert-dismissible m-t-6" role="alert">
          <button type="button" class="close" data-dismiss="alert" (click)="updateNotif = false" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>{{message}}</strong>
        </div> 
      </div>


</div>

<div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="col-md-6"></div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <mat-form-field class="search-wid">
              <input matInput #search placeholder="Search" (keyup)="getSearch()">
            </mat-form-field>
          </div>
</div>

<div class="row" style="padding-top: 170px;">
  <div class="example-table-container mat-elevation-z4" id="screen-table">
    <table mat-table matSort [dataSource]="dataSource">
      <ng-container matColumnDef="Job Type">
        <th style="width:10%" mat-header-cell *matHeaderCellDef mat-sort-header> Job Type </th>
        <td style="width:10%" mat-cell *matCellDef="let element; let i = index;">{{element.jobType}}</td>
      </ng-container>
      <ng-container matColumnDef="Tool">
        <th style="width:10%" mat-header-cell *matHeaderCellDef mat-sort-header> Tool </th>
        <td style="width:10%" mat-cell *matCellDef="let element; let i = index;">{{element.tool}}</td>
      </ng-container>
      <ng-container matColumnDef="User">
        <th style="width:8%" mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
        <td style="width:8%" mat-cell *matCellDef="let element; let i = index;">{{element.user}}</td>
      </ng-container>
      <ng-container matColumnDef="Job Name">
        <th style="width:10%" mat-header-cell *matHeaderCellDef mat-sort-header> Job Name </th>
        <td style="width:10%" mat-cell *matCellDef="let element; let i = index;">{{element.jobName}}</td>
      </ng-container>
      <ng-container matColumnDef="Job Runs">
        <th style="width:5%;" mat-header-cell *matHeaderCellDef mat-sort-header> Job Runs </th>
        <td style="width:5%;" mat-cell *matCellDef="let element; let i = index;">{{element.jobRun}}</td>
      </ng-container>     
      <ng-container matColumnDef="Schedule Time">
        <th style="width:10%" mat-header-cell *matHeaderCellDef mat-sort-header> Schedule Time </th>
        <td style="width:10%" mat-cell *matCellDef="let element; let i = index;">{{element.scheduledDate}}</td>
      </ng-container>
      <ng-container matColumnDef="Start Time">
        <th style="width:10%" mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </th>
        <td style="width:10%" mat-cell *matCellDef="let element; let i = index;">{{element.startTime}}</td>
      </ng-container>
      <ng-container matColumnDef="End Time">
        <th style="width:10%" mat-header-cell *matHeaderCellDef mat-sort-header> End Time </th>
        <td style="width:10%" mat-cell *matCellDef="let element; let i = index;">{{element.endDate}}</td>
      </ng-container>
      <ng-container matColumnDef="Last Run Time">
        <th style="width:10%" mat-header-cell *matHeaderCellDef mat-sort-header>Last Run Time </th>
        <td style="width:10%" mat-cell *matCellDef="let element; let i = index;">{{element.lastRuntime}}</td>
      </ng-container>
      <ng-container matColumnDef="Next Start Time">
        <th style="width:10%" mat-header-cell *matHeaderCellDef mat-sort-header> Next Start Time </th>
        <td style="width:10%" mat-cell *matCellDef="let element; let i = index;">{{element.nextStartTime}}</td>
      </ng-container>
      <ng-container matColumnDef="Status">
        <th style="width:3%;text-align: center" mat-header-cell *matHeaderCellDef> Status </th>
        <td style="width:3%;text-align: center" mat-cell *matCellDef="let element; let i = index;">
          <i class="material-icons success" matTooltip="Success" *ngIf="element.status === 'COMPLETED'">check_circle</i>
          <i class="material-icons inpro" matTooltip="In_Progress" *ngIf="element.status === 'IN_PROGRESS'">sync</i>
          <i class="material-icons failure" matTooltip="Failed" *ngIf="element.status === 'FAILED'">error</i>
          <i class="material-icons sche" matTooltip="Scheduled" *ngIf="element.status === 'SCHEDULED'">schedule</i>
          <i class="material-icons" style="color: grey" matTooltip="User_or_admin_stopped" *ngIf="element.status === 'USER_OR_ADMIN_STOPPED'">stop</i>
        </td>
      </ng-container>
      <ng-container matColumnDef="Details">
        <th style="width:3%;text-align: center" mat-header-cell *matHeaderCellDef> Details </th>
        <td style="width:3%;text-align: center" mat-cell *matCellDef="let element; let i = index;">
          <i class="material-icons details" matTooltip="View Job Details" *ngIf="element.scheduleId !== null" (click)="openDetail(element.scheduleId)">info</i>
          <i class="material-icons" style="color: grey" matTooltip="No Job Details" *ngIf="element.scheduleId == null">info</i>
        </td>
      </ng-container>
      <ng-container matColumnDef="Stop">
        <th style="width:3%;text-align: center" mat-header-cell *matHeaderCellDef> Stop </th>
        <td style="width:3%;text-align: center" mat-cell *matCellDef="let element; let i = index;">
          <i class="material-icons failure" matTooltip="Stop" *ngIf="element.status !== 'USER_OR_ADMIN_STOPPED'" (click)="stop(element.scheduleId)">stop</i>
          <i class="material-icons" style="color: grey" matTooltip="Stopped" *ngIf="element.status === 'USER_OR_ADMIN_STOPPED'">stop</i>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator id="screen-table" [length]="totalScreen" [pageSize]="50">
  </mat-paginator>
</div>





















<!-- Modal -->
<div id="detailsModel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-left">Job Details</h4>
          </div>
        <div class="modal-body">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Field</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let i of common" class="text-left">
                    <td>{{i.name}}</td>
                    <td *ngIf="i.type !== 'Date'">{{i.value}}</td>
                    <td *ngIf="i.type == 'Date'">{{i.value}}</td>
                  </tr>
                  <tr><td colspan="2"><h4><b>Input</b></h4></td></tr>
                  <tr *ngFor="let i of input" class="text-left">
                    <td>{{i.name}}</td>
                    <td>{{i.value}}</td>
                  </tr>
                  <tr><td colspan="2"><h4><b>Message</b></h4></td></tr>
                  <tr><td>{{jobMessage?.name}}</td><td>{{jobMessage?.value}}</td></tr>
                  <tr><td colspan="2"><h4><b>Output</b></h4></td></tr>
                  <tr><td>{{jobOutput?.name}}</td><td>{{jobOutput?.value}}</td></tr>
                </tbody>
              </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  <button #click data-toggle="modal" href="#detailsModel" [hidden]="true"></button>
