<app-navbar></app-navbar>

<div class="workspacelist-container">


  <div class="col-md-4">
    <div class="col-md-1 back-arrow">
      <a (click)="gotoDashboard()" data-tooltip="Back">
        <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
      </a>
    </div>

    <div class="col-md-8">
      <h3 class="workspace-panel-heading">
        Auditing <span id="loading-icon" [ngClass]="{'archon-loading-icon' : !loadStatus}"></span>
      </h3>
    </div>
  </div>

  <div class="col-md-12 m-l-45" style="padding-top: 10px;" *ngIf="loadStatus">

    <div class="btn-group col-md-2 p-0">
      <button type="button" class="trim-text btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {{selectedEvent ? selectedEvent : 'Select Event' }}
      </button>
      <div class="dropdown-menu">
        <div class="scrollable">
            <a id="job-status-all" class="dropdown-item dropdown-data trim-text" (click)="selectEvent('');getAudit()">Event
                : All</a>
            <div class="dropdown-divider"></div>
          <a id="job-origin-all" class="dropdown-item dropdown-data trim-text" *ngFor="let e of Events" (click)="selectEvent(e);getAudit()">
            {{e}}</a>
        </div>
      </div>
    </div>

    <div class="btn-group col-md-2 p-0">
      <button type="button" class="trim-text btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {{selectedService ? selectedService : 'Select Service' }}
      </button>
      <div class="dropdown-menu">
        <div class="scrollable">
            <a id="job-status-all" class="dropdown-item dropdown-data trim-text" (click)="selectService('');getAudit()">Service
                : All</a>
            <div class="dropdown-divider"></div>
          <a id="job-origin-all" class="dropdown-item dropdown-data trim-text" *ngFor="let service of Service" (click)="selectService(service);getAudit()">
            {{service}}</a>
        </div>
      </div>
    </div>

    <div class="btn-group col-md-2 p-0">
      <button type="button" class="trim-text btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {{selectedJobStatus? selectedJobStatus : 'Select Severity'}}
      </button>
      <div class="dropdown-menu">
        <div class="scrollable">
            <a id="job-status-all" class="dropdown-item dropdown-data trim-text" (click)="selectJobStatus('');getAudit()">Severity Level
                : All</a>
            <div class="dropdown-divider"></div>
          <a id="job-status-all" class="dropdown-item dropdown-data trim-text" *ngFor="let i of Status"  (click)="selectJobStatus(i);getAudit()">
          {{i}} </a>
      </div>
    </div>
</div>

<div class="btn-group col-md-2 p-0">
<input type="text" [(ngModel)]="startdate"
                     placeholder="From Date" (click)="getAudit()"
                     class="form-control" style="height: 34px"
                     bsDatepicker [bsConfig]="bsConfig" placement="bottom" required>
</div>

<div class="btn-group col-md-1" style="width: 48px;"></div>

<div class="btn-group col-md-2 p-0">
  <input type="text" [(ngModel)]="enddate"
                       placeholder="To Date" (click)="getAudit()"
                       class="form-control" style="height: 34px"
                       bsDatepicker [bsConfig]="bsConfig" placement="bottom" required>
  </div>

</div>

<div class="row" style="padding-top: 95px;">
<div id="schedule-job" class="workspace-panel-content" *ngIf="isAvailable">
<table datatable [dtOptions]="dtOptions"  class="row-border hover schedule" style="width: 100%"></table>
  </div>

</div>
