#help-icon {
  margin: 25px;
}

.container-fluid {
  background: url(../../assets/loginBg.jpg);
  background-size: 100% 100%;
  height: 100%;
}

#brand-img {
  width: 600px;
  margin: 50px;
  margin-top: 0px;
  margin-left: 50px;
}

#archon-desc {
  padding: 25px;
  color: darkgrey;
  font-size: 20px;
  text-align: justify;
  min-height: 300px;
  max-height: 300px;
  overflow: auto;
}

.align-center {
  text-align: center;
}

.archon-logo {
  margin-top: 16%;
}

#archon-head {
  margin-left: 50px;
}

#landing-card {
  height: 400px;
}

#archon-buttons {
  margin-top: 20px;
}

.archon-link {
  margin: 25px;
}

::ng-deep .my-spinner .overlay {
  position: fixed !important;
}
