<div class="container-fluid">
  <div class="row">
    <a href="#" class="info-number pull-right help-icon">
      <i class="fa fa-question-circle fa-2x" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Help"></i>
    </a>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="archon-head">
        <div class="row">
          <a href="#">
            <img alt="Brand" src="assets/archon.png" class="brand-img">
          </a>
        </div>
        <div class="row archon-desc">
          <p>Archon is designed to address the need of today’s global enterprise major problem of maintaining retiring legacy applications
          by providing greater reliability, availability and security via cloud computing.</p>
          <p>Archon toolkit is a one step, time effective and cost reducing approach to archive data from retiring legacy applications
            enabling organization to achieve greater ROI. It supports wide range of RDBMS and legacy data formats enabling
            data to be extracted in variety of formats including XML, HTML, CSV, JSON, etc. The toolkit is primarily customized
            to extract data in XML formats around which screens are built to enable users to query and get the details they
            need at ease.
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 archon-buttons">
            <a href="#" class="archon-link">
              <i class="fa fa-building form-control-feedback btn-control" aria-hidden="true"></i>About Us
            </a>
            <a href="#" class="archon-link">
              <i class="fa fa-phone form-control-feedback btn-control" aria-hidden="true"></i>Contact us
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="x_panel card landing-card">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <!-- footer content -->
  <div class="footer_fixed">
    <footer>
        <p>Copyright of
          <a href="https://platform3solutions.com/">Platform3Solutions.com</a>
        </p>
      <div class="clearfix"></div>
    </footer>
  </div>
  <!-- /footer content -->
</div>
