<div class="container-fluid">
  <!-- <div class="row">
    <a href="#" class="info-number pull-right" id="help-icon">
      <i class="fa fa-question-circle fa-2x" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Help"></i>
    </a>
  </div> -->
  <div class="row">
    <div class="col-md-8 align-center">
       <img src="../../assets/archon_logo.png" class="archon-logo" />
    </div>
    <div class="col-md-4">
      <div class="x_panel card">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <!-- footer content -->
  <div class="footer_fixed">
    <footer>
        <p>Copyright of
          <a href="https://platform3solutions.com/">Platform3Solutions.com</a>
        </p>
      <div class="clearfix"></div>
    </footer>
  </div>
  <!-- /footer content -->
</div>
