<div class="container-fluid">
  <div class="row">
    <a href="#" class="info-number pull-right help-icon">
      <i class="fa fa-question-circle fa-2x" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Help"></i>
    </a>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="archon-head">
        <div class="row">
          <a href="#">
            <img alt="Brand" src="assets/archon.png" class="brand-img">
          </a>
        </div>
        <div class="row">
          <p class="lead archon-desc">Here comes whatever the description u think would fit for Archon. So please fill this space with valid content.
            I am just filling this with some content to just have a representation for space that could be occupied for placing
            the description
          </p>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="has-feedback">
              <a href="#" class="btn btn-primary">About Us
                <span class="fa fa-building form-control-feedback btn-control" aria-hidden="true"></span>
              </a>
            </div>
            <div class="has-feedback">
              <a href="#" class="btn btn-primary">Contact us
                <span class="fa fa-phone form-control-feedback btn-control" aria-hidden="true"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="x_panel">
         <app-signin-form></app-signin-form>
      </div>
    </div>
  </div>
</div>
<app-signin-form></app-signin-form>
