/* 

.icon-button {
  color: red;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}




p {
  *display: inline-block;
  *display: inline;
  padding-top: 4px;
  zoom: 1;
  text-align: left;
  font-size: 14px;
  padding-left: 13px;
}

.btn-group {
  font-size: 5px;
}

.btn-group>.btn:first-child {
  margin-right: 250px;
  font-size: 14px;
}

.modal-body {
  height: 252px;
  margin-top: 15px;
  margin-left: 53px;
}

.back-arrow {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 13px;
}

.btn-popup {
  color: #fff;
  background-color: #269af8;
  border-color: #269af8;
  padding-right: 19px;
  padding-left: 19px;
  margin-right: 8px;
}

.manage-role-header {
  padding: 20px 0 0;
  border-bottom: 2px solid #E6E9ED;
}

.manage-role-dropdown {
  padding: 10px;
}

.manage-role-dropdown select {
  border-radius: 3px;
  padding: 5px;
  background-color: #fff;
}

.manage-role-dropdown option {
  font-size: 15px;
  padding: 5px 2px;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 25px;
  clear: both;
  font-size: 16px;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  text-decoration: none;
}

.dropdown-menu a:focus,
.dropdown-menu a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
  cursor: pointer;
}

.dropdown-divider {
  height: 1px;
  margin: .5rem 0;
  overflow: hidden;
  background-color: #eceeef;
}

.alert-success {
  margin-top: 10px;
}

.alert-danger {
  margin-top: 10px;
}
 */


/* New-Component-css */

#search-user {
  width: 53%;
  padding-top: 17px;
  margin-right: 19px;
}

#user-invite-div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

#user-invite {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 45%;
}

#search-user .mat-form-field {
  width: 100%;
}

#user-invite-btn {
  margin-right: 26px;
  margin-top: 13px;
}

#user-invite-btn button {
  background-color: #2879ff;
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 15px;
}

#user-invite-btn button:hover {
  transform: scale(1.1, 1.1);
}


#user-invite-btn .material-icons {
  font-size: 21px;
  color: #ffffff;
  padding-bottom: 4px;
}

#user-invite-btn .material-icons:hover,
.material-icons:focus {
  font-size: 21px;
  color: #ffffff;
  padding-bottom: 4px;
}


::ng-deep #user-table-svg svg {
  height: 6vh !important;
}

#user-table {
  padding: 7px 40px 0px 33px;
}

table {
  width: 100%;
}

td,
th {
  text-align: left;
}

th {
  color: #0c0c0c;
  font-weight: bold;
  font-size: 14px;
  font-family: Roboto;
}

.example-table-container {
  position: relative;
  max-height: 450px;
  overflow-y: auto;
  overflow-x: scroll;
  box-shadow: 0px 1px 6px 1.1px rgba(0, 0, 0, 0.35)
}


.back-arrow {
  margin-bottom: 0px;
}

.manage-user-heading {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 0px;
  font-size: 22px;
}

table.mat-table {
  border-spacing: 0;
  width: 135%;
}

table::ng-deep th {
  text-align: left;
  width: 11%;
}

td.global-select select {
  height: 24px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.63);
  background-color: #f6f8fa;
}


td.action-select select {
  height: 24px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.63);
  background-color: #f6f8fa;
  width: 51.3%;
  text-align-last: center;
}

td.action-select button {
  height: 24px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgb(0, 0, 0.63);
  background-color: #f6f8fa;
  padding-left: 10px;
  padding-right: 10px;
  border: none
}

.invited {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0a85f8;
}

.active {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0fac0b;
}

.locked {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fe6600;
}

.revoked {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ff0000;
}
