<div>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-1 back-arrow">
        <a (click)="gotoDashboard()">
          <i class="fa fa-arrow-left fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Back"></i>
        </a>
      </div>
      <div class="col-md-8">
        <h3 class="workspace-panel-heading">
          Manage User Roles
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="manager-user" class="workspace-panel-content">
      <table datatable id="manage-members-info-table" class="table table-hover table-bordered" *ngIf="isAvailable">
        <thead>
          <tr>
            <th>SL.No</th>
            <th>Name</th>
            <th>Email Address</th>
            <th>Last Activity Time</th>
            <th>Global Role</th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of this.manageUserRolesRequestData; let i = index">
            <td class="mm-info-data">{{this.manageUserRolesRequestData[i]['slNo']}}</td>
            <td class="mm-info-data">{{this.manageUserRolesRequestData[i]['name']}}</td>
            <td class="mm-info-data">{{this.manageUserRolesRequestData[i]['email']}}</td>
            <td class="mm-info-data">{{this.manageUserRolesRequestData[i]['lastActivityTime']}}</td>
            <td class="mm-info-data">{{this.manageUserRolesRequestData[i]['globalRole']}}</td>
            <td>
              <a href="" data-toggle="modal" data-target="#myModal">
                Change Role
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="workspace-panel-content">
      <button (click)="gotoDashboard()" type="submit" class="btn btn-primary pull-right btn-form">Back</button>
    </div>
  </div>
</div>



<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->

    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-6">
            <div class="col-md-1 back-arrow">
              <a (click)="gotoDashboard()">
                <i data-dismiss="modal" class="fa fa-arrow-left fa-lg" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Back"></i>
              </a>
            </div>
            <div class="col-md-8">
              <h3 class="workspace-panel-heading">
                Change Role
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="block">
          <label>Current Role</label>
          <p>Member</p>
        </div>
        <div class="block">
          <br>
          <label>Choose new role</label>
          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              style="background-color: #fff; border: 1px solid #ccc">
              Choose Role
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" *ngFor="let workspace of userWorkspaceArray" (click)="selectWorkspace(workspace.id)" id="{{workspace.id}}">{{workspace.name}}</a>
              <div class="dropdown-divider" *ngIf="userRole == 'Member'"></div>
              <a class="dropdown-item" *ngIf="userRole == 'Member'" (click)="contactAdmin()">Contact Your Admin</a>
              <div class="dropdown-divider" *ngIf="userRole == 'Admin'"></div>
              <a class="dropdown-item" *ngIf="userRole == 'Admin'" (click)="createNewWorkspace()">+ Create workspace</a>
            </div>
          </div>
        </div>
        <div class="block">
          <br>
          <label>Selected Role</label>
          <p>Admin</p>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>

  </div>
</div>
