/* New-Component-css */

#search-user {
  width: 53%;
  padding-top: 17px;
  margin-right: 19px;
}

#user-invite-div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

#user-invite {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 45%;
}

#search-user .mat-form-field {
  width: 100%;
}

#user-invite-btn {
  margin-right: 26px;
  margin-top: 13px;
}

#user-invite-btn button {
  background-color: #2879ff;
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 15px;
}

#user-invite-btn button:hover {
  transform: scale(1.1, 1.1);
}


#user-invite-btn .material-icons {
  font-size: 21px;
  color: #ffffff;
  padding-bottom: 4px;
}

#user-invite-btn .material-icons:hover,
.material-icons:focus {
  font-size: 21px;
  color: #ffffff;
  padding-bottom: 4px;
}


::ng-deep #user-table-svg svg {
  height: 4vh !important;
}

#user-table {
  padding: 7px 40px 0px 33px;
}

table {
  width: 100%;
}

td,
th {
  text-align: left;
}

th {
  color: #0c0c0c;
  font-weight: bold;
  font-size: 14px;
  font-family: Roboto;
}

.example-table-container {
  position: relative;
  max-height: 85vh;
  overflow-y: auto;
  overflow-x: scroll;
  box-shadow: 0px 1px 6px 1.1px rgba(0, 0, 0, 0.35)
}


.back-arrow {
  margin-bottom: 0px;
}

.manage-user-heading {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 0px;
  font-size: 22px;
}

table.mat-table {
  border-spacing: 0;
  width: 135%;
}

table::ng-deep th {
  text-align: left;
  width: 11%;
}

td.global-select select {
  height: 24px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.63);
  background-color: #f6f8fa;
}


td.action-select select {
  height: 24px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.63);
  background-color: #f6f8fa;
  width: 51.3%;
  text-align-last: center;
}

td.action-select button {
  height: 24px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgb(0, 0, 0.63);
  background-color: #f6f8fa;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  transition: 0.5s;
}

td.action-select button:hover {
  transform: scale(1.1, 1.1);
}

.invited {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0a85f8;
}

.active {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0fac0b;
}

.locked {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fe6600;
}

.revoked {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ff0000;
}
<<<<<<< HEAD
button:focus {outline:0;}

#bulk-invite-btn {
  margin-right: 26px;
  margin-top: 13px;
}

#bulk-invite-btn button {
  background-color: #2879ff;
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 15px;
}

#bulk-invite-btn button:hover {
  transform: scale(1.1, 1.1);
}


#bulk-invite-btn .material-icons {
  font-size: 21px;
  color: #ffffff;
  padding-bottom: 4px;
}

#bulk-invite-btn .material-icons:hover,
.material-icons:focus {
  font-size: 21px;
  color: #ffffff;
  padding-bottom: 4px;
}
#content{
  margin-left: 10px;
}
#filename{
  margin-left: 10px;
  width: 162px;
  height: 30px;
  border-radius: 3px;
  border: solid 1px #dddddd;
  background-color: #edf3f8;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1d1d1d;
}

#btnupload{
  margin-left: -529px;
  width: 109px;
  height: 30px;
  border-radius: 3px;
  background-color: #2879ff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

#file {
  z-index:1;
  margin-right: 754px;
  margin-top: 15px;
  position: absolute;
  font-size: 17px;
  opacity: 0;
  right: 0;
  top: 0;
}

#bussjust{
  margin-left: -4px;
  margin-top: 9px;
  width: 507px;
  height: 1px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

#search{
  margin-left: 70px;
  width:220px;
}

#category{
  margin-left: 30px;
  width:220px;
}

#bulkinvitetable{
  margin-left: 12px;
  width: 1048px;
  height: 364px;
  border-radius: 4px;
  box-shadow: 0px 1px 6px 1.1px rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
}

#cancelbtn{
  width: 68px;
  height: 36px;
  border-radius: 4px;
  background-color: #64b5f6;
  margin-right: 11px;
}

#invitebtn{
  width: 58px;
  height: 36px;
  border-radius: 4px;
  background-color: #2879ff;
  margin-right:15px;
}

#close{
  width: 9px;
  height: 9px;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2879ff;
  z-index: 1;
  margin-left: -20px;
  margin-top: 7px;
}

#clsdiv{
  width: 35px;
  height: 35px;
  margin-left: -22px;
  cursor:pointer;
}

#check{
  width: 30px;
  height: 30px;
  color: #5f9afb;
}
#cancel{
  width: 30px;
  height: 30px;
  color: #f45743;
}
#copy{
  width: 30px;
  height: 30px;
  color: #F9A602;
}

=======
button:focus {outline:0;}
>>>>>>> 6b50f25a54854fd4492b03890f17521a2bd7e06a
