<h1 mat-dialog-title>
  <i class="material-icons">mail_outline </i> Invite New User
</h1>
<div mat-dialog-content>
  <form #userInviteForm="ngForm" class="flex-container">
    <mat-form-field>
      <input name="email" type="email" trim="blur" email="true" #email="ngModel"
        [(ngModel)]="userInviteInfo.emailAddress" required matInput placeholder="Email">
      <mat-error *ngIf="email.invalid && !email.errors?.required">
        Email is invalid.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select #globalGroup="ngModel" [(ngModel)]="userInviteInfo.globalGroup" required name="globalgroup"
        placeholder="Global Group">
        <mat-option *ngFor="let item of userInviteInfo.globalGroupList" [value]="item.groupName">
          {{item.groupName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <textarea trim="blur" appNotWildChar #bussjust="ngModel" maxlength="500" [(ngModel)]="userInviteInfo.businessJustification"
        matInput name="buss-just" required placeholder="Business Justification"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button class="btn btn-padding secondary-btn-color" (click)="onNoClick()">Cancel</button>
  <button class="btn btn-padding {{!userInviteForm.form.valid?'primary-btn-color-disabled':'primary-btn-color'}}"
    [disabled]="!userInviteForm.form.valid" [mat-dialog-close]="userInviteInfo">Invite</button>
</div>