i {
  padding: 0px 9px 0px 0px;
}

.mat-tree-node {
  max-height: 30px;
  min-height: 25px;
}

.mat-card#left-card {
  padding: 0px;
  overflow: auto;
  min-height: 500px;
  max-height: 500px;
}

.mat-card#right-card {
  padding: 0px;
  min-height: 500px;
}

.mat-card-content {
  padding: 16px;
  text-align: left;
}

mat-radio-group {
  display: flex;
  justify-content: space-between;
}

.mat-form-field {
  width: 100%
}

mat-card-header.header-blue {
  background-color: #64b5f6;
  padding: 11px 0px 0px 0px
}

::ng-deep .example-card .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.6em !important;
}

::ng-deep .example-card .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}


.hide-node {
  display: none;
}

#nextbtn button {
  padding-right: 20px;
  padding-left: 20px;
}

#nextbtn {
  margin-top: 10px;
  margin-bottom: 10px;
}

#clearBtn  {
  float: right;
  margin-right: 5px;
  border-radius: 3px;
  background-color: #64b5f6;
}

 #mat-expansion-panel-header-2 {
  background-color: #64b5f6
}

#mat-expansion-panel-header-3 {
  background-color: #64b5f6
} 

.mat-expansion-panel-header,.mat-expansion-panel-header.mat-expanded
.mat-expansion-panel-header.mat-expanded:hover {
  background-color: #64b5f6
}

.mat-expansion-panel-header{
  font-size: 20px;
  font-weight: 500;
  color:#333
}