i {
  padding: 0px 9px 0px 0px;
}

.mat-tree-node {
  max-height: 30px;
  min-height: 25px;
}

.mat-card#left-card {
  padding: 0px;
  min-height: 445px;
}

.mat-card#right-card {
  padding: 0px;
  min-height: 445px;
}

.mat-card-content {
  padding: 16px;
  text-align: left;
}

mat-radio-group {
  display: flex;
  justify-content: space-between;
}

.mat-form-field {
  width: 100%
}

mat-card-header.header-blue {
  background-color: #64b5f6;
  padding: 11px 0px 0px 0px
}

::ng-deep .example-card .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.6em !important;
}

::ng-deep .example-card .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

::ng-deep .example-card .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #2879ff !important;
}

::ng-deep .example-card .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #2879ff !important;
}

::ng-deep .example-card .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #2879ff !important;
}

.hide-node {
  display: none;
}

#nextbtn button {
  padding-right: 20px;
  padding-left: 20px;
}

#nextbtn {
  margin-top: 10px;
  margin-bottom: 10px;
}

#clearBtn button {
  width: 72px;
  height: 30px;
  border-radius: 3px;
  background-color: #64b5f6;
}

#drag-search-column {
  height: 316px;
  overflow: auto
}

#drag-panel-column {
  height: 316px;
  overflow: auto
}

#mat-expansion-panel-header-2 {
  background-color: #64b5f6
}

#mat-expansion-panel-header-3 {
  background-color: #64b5f6
}
