<div fxFlexFill fxLayout="column" fxLayoutAlign="start stretch">
  <div fxflex fxlayout fxLayoutGap="20px">
    <div fxFlex="24%">
      <mat-card id="left-card" class="example-card align-self-stretch">
        <mat-card-header class="header-blue graph-heading-div">
          <mat-card-title>Selection Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            <mat-radio-group [(ngModel)]="searchType">
              <mat-radio-button value="Table">Table Search</mat-radio-button>
              <mat-radio-button value="Column">Column Search</mat-radio-button>
            </mat-radio-group>
          </p>
          <div class="form-group has-feedback" id="search-box">
            <input type="text" #search (keyup)="filterTableAndColumn(search.value)" class="form-control"
              id="inputValidation" placeholder="Search" />
            <span style="color: #676767" class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
          <!-- <p>
           <mat-form-field appearance="outline">
              <mat-label>
                <i class="material-icons">search</i>
              </mat-label>
              <input #search matInput (keyup)="filterTableAndColumn(search.value)" placeholder="Search Table">
            </mat-form-field>
          </p> -->
          <p>
            <mat-tree cdkDropList #column="cdkDropList"
              [cdkDropListConnectedTo]="['drag-search-column','drag-panel-column']" [cdkDropListData]="dataSource"
              (cdkDropListDropped)="drop($event)" #tree [dataSource]="dataSource" [treeControl]="treeControl">
              <mat-tree-node [ngClass]="node.node.visible===false ? 'hide-node' : ''"
                [cdkDragDisabled]="node.node.type=='Table'" [cdkDragData]="node" *matTreeNodeDef="let node" cdkDrag
                matTreeNodePadding>
                <button mat-icon-button disabled></button><i
                  [ngClass]="node.node.type=='Table'? 'fa fa-table' : 'fa fa-columns'" aria-hidden="true"></i>
                {{node.node.name | uppercase}}
              </mat-tree-node>
              <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.node.name">
                  <i [ngClass]="treeControl.isExpanded(node) ? 'fa fa-chevron-down' : 'fa fa-chevron-right'">
                  </i>
                </button><i class="fa fa-table" aria-hidden="true"></i>
                {{node.node.name | uppercase}}
              </mat-tree-node>
            </mat-tree>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="76%">
      <div style="padding-bottom: 20px;">
        <mat-accordion>
          <mat-expansion-panel [expanded]="openSearch" (opened)="openSearch = true" (closed)="openSearch = false">
            <mat-expansion-panel-header class="graph-heading-div" [collapsedHeight]="'53px'" [expandedHeight]="'53px'"
              id="search-column-header">
              <mat-panel-title>
                Drag a column to create a search field
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-adhoc-search-screen *ngIf="!isSearchScreen"
              (updateSearchCriteriaLength)="updateSearchCriteriaLength($event)" (showEditEvent)="showEdit($event)">
            </app-adhoc-search-screen>
            <app-adhoc-edit-search-screen-popup (showSearchEvent)="showSearch($event)" *ngIf="isSearchScreen">
            </app-adhoc-edit-search-screen-popup>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div *ngIf="searchCriteriaLength!==0">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header class="graph-heading-div" [collapsedHeight]="'53px'" [expandedHeight]="'53px'"
              id="drag-panel-column-header">
              <mat-panel-title>
                Search Result Screen Design
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-adhoc-search-panel *ngIf="!isPanelColumnScreen" (searchResultLength)=searchResultLengthFn($event)
              (showPanelEditEvent)="showPanelEdit($event)" (sidePanelTabChange)="sidePanelTabChange($event)"
              (inlinePanelTabChange)="inlinePanelTabChange($event)" (panelChanged)="onPanelChanged($event)">
            </app-adhoc-search-panel>
            <app-adhoc-edit-panel-column-popup [openedPanelIndex]="openedPanelIndex" [inlinePanelTab]="inlinePanelTab"
              [sidePanelTab]="sidePanelTab" (showPanelSearchColumnEvent)="showPanelSearchColumn($event)"
              *ngIf="isPanelColumnScreen"></app-adhoc-edit-panel-column-popup>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
<div class="row" id="nextbtn">
  <button type="button" class="btn-transform btn btn-primary next btn-sm"
    [disabled]="searchResultLength===0||searchCriteriaLength===0" (click)="gotoNestedScreen()"
    style="float: right;margin-right: 12px">save</button>
  <button class="btn-transform btn btn-primary Previous btn-sm" (click)="gotoGraph()" style="float:right;margin-right:5px;">
    Back</button>
  <button class="btn-transform btn Previous btn-sm" id="clearBtn" (click)="clear()" style="float:right;margin-right:5px;">
    clear</button>
</div>

<button style="display:none" type="button" id="label-popup-btn" class="btn btn-info btn-lg" data-keyboard="false"
  data-backdrop="static" data-toggle="modal" data-target="#label-popup">Open Modal</button>
<div id="label-popup" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header adhoc-modal-header">
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        <p>Column Label already present</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-padding btn-transform btn-primary adhoc-modal-btn" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

<button style="display:none" type="button" id="success-popup-btn" class="btn btn-info btn-lg" data-keyboard="false"
  data-backdrop="static" data-toggle="modal" data-target="#saveScreen">Open Modal</button>
<div id="saveScreen" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header adhoc-modal-header">
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        <p>{{successMsg}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="gotoAppScreen()" class="btn-padding btn-transform btn btn-primary adhoc-modal-btn"
          data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
