<div class="modal-dialog" role="worskspace">
  <div class="modal-content text-left">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Add Direct Join</h4>        
    </div>

    <div class="modal-body row">
    <!-- carousel -->
      <div id="createWSModal-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
        <!-- Indicators -->
        <ul class="multi-step-bars">
          <li > 
            <em class="col-md-12">Primary Table: <strong>{{primaryTable}}</strong></em>
          </li>
        </ul>

        <ol class="only carousel-indicators hide">
          <li data-target="#createWSModal-carousel" data-slide-to="0" class="active"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">         

          <div step="0" class="item active form-group second-last second">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                      <div class="row" id="title-name">
                        <em>Secondary Table
                          <!-- <span [ngClass]="{'archon-loading-icon' : !isAvailable}" id="loading-icon"></span> -->
                        </em>
                      </div>
                      <div class="tablename-list da-table-parent">
                        <div class="list-group" id="list-tab" role="tablist" *ngFor="let table of tableList | searchTable:query" [hidden]="table.tableName === primaryTable">
                          <button type="button" class="btn btn-default list-group-item da-table" (click)="highlightTable($event, true, table)">{{table.tableName}}
                            <i class="fa fa-angle-right unselected"></i>
                          </button>
                          </div>
                         
                                                                  
                      </div>
                      <input type="text" class="form-control search-input" placeholder="Search" [(ngModel)]="query" id="listSearch">
                      <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                  </div>
            </div>
            <div class="col-md-9">
                   <table class="display m-10" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th style="width: 145px;">Primary Table Column</th>
                          <th style="width: 125px;">Column Type</th>
                          <th style="width: 165px;">Secondary Table Column</th> 
                          <th style="width: 35px;"></th>                          
                        </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>PT Column 1</td>
                        <td>VARCHAR </td>
                        <td> <select class="member-role" >
                            <option hidden selected="true">Select</option>
                            <option value="test">address1</option>
                          </select></td>
                          <td><input type="checkbox"></td>                         
                      </tr>
                      <tr>
                          <td>PT Column 1</td>
                          <td>VARCHAR </td>
                          <td> <select class="member-role" >
                              <option hidden selected="true">Select</option>
                              <option value="test">address1</option>
                            </select></td>
                            <td><input type="checkbox"></td>                         
                        </tr>
                    </tbody>
                    </table>
            </div>
            
            </div>
          </div>
     </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Add Selected Joins</button>
      <button type="button" id="cancel-btn" class="btn btn-secondary cancel" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

