<div class="modal-dialog" role="worskspace">
  <div class="modal-content text-left">
    <div class="modal-header">Add Direct Join 
      <button type="button" class="close" data-dismiss="modal" (click)="closeErrorMsg()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title"><strong> Primary Table: {{primaryTableName}}</strong></h4>       
    </div>

    <div class="modal-body row">
      <div id="createWSModal-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
           
        <div class="carousel-inner" role="listbox">        
          <div step="0" class="item active form-group second-last second">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                      <div class="row" id="title-name">
                        <strong>Secondary Table</strong>
                      </div>
                      <div class="tablename-list da-table-parent">
                        <div class="list-group" id="list-tab" role="tablist" *ngFor="let table of tableList | searchTable:searchTableName" [hidden]="table.tableName === primaryTableName">
                          <button type="button" class="btn btn-default list-group-item da-table" title="{{table.tableName}}" (click)="secTable($event, table)"><div class="overflow-text">{{table.tableName}}
                          </div> <div class="overflow-text-arrow"><i class="fa fa-angle-right unselected"></i> </div>
                          </button>
                          </div>
                         
                                                                  
                      </div>
                      <input type="text" class="form-control search-input" [(ngModel)]="searchTableName" (keyup)="searchTablelist()" placeholder="Search" id="listSearch">
                      <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                  </div>
            </div>
            <div class="col-md-9 table-hight" *ngIf="enableRelation">
                   <table id="customers">                     
                        <tr>
                          <th style="width: 145px;">Primary Table Column</th>
                          <th style="width: 125px;">Column Type</th>
                          <th style="width: 165px;">Secondary Table Column</th>                                                    
                        </tr>                    
                      <tr [hidden]="selected.length <= 1" *ngFor="let pri of primaryColumns; let ind=index">
                        <td>{{pri.columnName}}</td>
                        <td>{{pri.columnDataType}}</td>
                        <td> <select id="testreset" #selected class="selwidth" (change)="selectedValues(pri,ind,selected.value)">
                            <option selected="true">Select</option>
                            <option *ngFor="let sec of secondaryColumns | secondaryColumn:pri.columnDataType">{{sec.columnName}}</option>
                          </select>                       
                      </tr>
                    
                    </table>
            </div>
            </div>
          </div>
     </div>
    <div class="modal-footer" *ngIf="enableRelation">
      <div class="col-md-7">         
            <div *ngIf="updateSuccess" class="alert alert-success alert-dismissible m-t-6" role="alert">
                <button type="button" class="close" (click)="closeErrorMsg()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <strong>New Join Added Successfully</strong>
              </div>
              <div *ngIf="updateNotif" class="alert alert-danger alert-dismissible m-t-6" role="alert">
                  <button type="button" class="close" (click)="closeErrorMsg()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <strong>{{errorMsg}}</strong>
                </div> 
              </div>
      <div class="col-md-5">
      <button type="button" class="btn btn-primary" (click)="addJoins()">Add Joins</button>
      <button type="button" id="cancel-btn" class="btn btn-secondary cancel" (click)="closeErrorMsg()" data-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
</div>

