<div class="modal-dialog" role="worskspace">
  <div class="modal-content text-left">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Add Direct Join</h4>        
    </div>

    <div class="modal-body row">
      <div id="createWSModal-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <h4 class="col-md-12">Primary Table: <strong>{{primaryTableName}}</strong></h4>
        <div class="carousel-inner" role="listbox">        
          <div step="0" class="item active form-group second-last second">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                      <div class="row" id="title-name">
                        <strong>Secondary Table</strong>
                      </div>
                      <div class="tablename-list da-table-parent">
                        <div class="list-group" id="list-tab" role="tablist" *ngFor="let table of tableList | searchTable:query" [hidden]="table.tableName === primaryTableName">
                          <button type="button" class="btn btn-default list-group-item da-table" (click)="secTable(table)">{{table.tableName}}
                            <i class="fa fa-angle-right unselected"></i>
                          </button>
                          </div>
                         
                                                                  
                      </div>
                      <input type="text" class="form-control search-input" placeholder="Search" [(ngModel)]="query" id="listSearch">
                      <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                  </div>
            </div>
            <div class="col-md-9" *ngIf="enableRelation">
                   <table class="display m-10" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th style="width: 145px;">Primary Table Column</th>
                          <th style="width: 125px;">Column Type</th>
                          <th style="width: 165px;">Secondary Table Column</th> 
                          <th style="width: 35px;"></th>                          
                        </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let pri of primaryColumns; let ind=index">
                        <td>{{pri.columnName}}</td>
                        <td>{{pri.columnDataType}}</td>
                        <td> <select #selected class="member-role" (change)="selectedValues(pri,ind,selected.value)">
                            <option selected="true">Select</option>
                            <option [ngValue]="i" *ngFor="let sec of secondaryColumns | secondaryColumn:pri.columnDataType">{{sec.columnName}}</option>
                          </select>                       
                      </tr>
                    </tbody>
                    </table>
            </div>
            </div>
          </div>
     </div>
    <div class="modal-footer" *ngIf="enableRelation">
      <button type="button" class="btn btn-primary" (click)="addJoins()">Add Selected Joins</button>
      <button type="button" id="cancel-btn" class="btn btn-secondary cancel" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

