.card-header {
  color: #000;
  background-color: #64b5f6;
  padding: 8px;
  border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card-title {
  font-size: 16px;
  float: left;
}
.back-arrowr {
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: 16px;
  float: left;
}

#da-arrow{
  margin-left: 11px;
  margin-right: 13px;
}
.title-header{
  font-size: 18px;
  text-align: left;
}
.arrow {
 
  color: #80adf8;
  cursor: pointer;
}

.arrow:hover {

  color: #2879FF;
  cursor: pointer;
}
.body-row {
    padding: 15px;
    margin-right: -15px;
  margin-left: -15px;
}
.primary-table {
  background-color: #edf3f8;
  margin-bottom: 12px;
  /* margin-top: 12px; */
}

.container-tab{
  margin-left: 22px;
  margin-right: 22px;
}
.card-title {
  float: left;
}
.sub-headerr {
  margin-left: -4px;
}

.modal-header{
  font-size: 20px;
  padding: 14px 18px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #2879ff;
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.modal-title{
  margin-left: 16px;
  margin-bottom: 20px;
}

.modal-dialog {
    margin: 65px auto auto;
    width: 1050px;
}
.fa-check-circle {
    color: #269af8;
}
#table-list {
    margin-left: 2px;
  }
  
.input-group {
  padding: 5%;
}

#title-name {
  padding-right: 0%;
  padding-left: 10%;
  margin-top: 0px;
} 

/* .form-control-feedback {
  position: relative;
  margin-top: -34px;
  margin-left: 169px;
  height: 32px;
  color: #a0a2a4;
  line-height: 30px;
} */

.inner-addon {
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 2%;
}

#search-body {
  padding: 4%;
}

.list-group {
  padding-right: 40px;
}

.list-group-item {
  margin-left: 25px;
  margin-bottom: -15px;
  padding: 10px 10px;
  /* width: 100%; */
  text-transform: none;
  /* margin-bottom: -15px; */
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
} 


#item {
  margin-top: 10px;
  text-align: center;
}

  
.items-list {
  overflow-x: hidden;
  overflow-y: auto;
  height: 280px;
  padding-left: 20px;
}

.tablename-list {
  margin-top: 10px;
  margin-left: -20px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 450px;
  /* height: max-content; */
  /* max-height: 500px; */
}

.card-body {
  min-height: 760px;
}

.default-load {
  margin-top: -20px;
}

.default-info {
  padding: 20%;
}


.header {
  /* float: left; */
  margin-left: 20px;
}

.sub-header {
  margin-left: 35px;
}

.droparrow {
  float: right;
  margin-right: 90px;
}

.droparrow-menu {
  min-width: 200px;
}

.data-analyzer {
  margin-top: 10px;
}

#loading-icon {
  margin-left: -8px;
}

.icon {
  display: inline-block;
  margin-left: -50px;
}
.dataA-panel-body {
  height: 325px;
}
.dataA-scrollable-div {
  overflow: auto;
  max-height: 300px;
}
.primary-col-chkbx {
  margin: 4px 5px;
}
#analysis-view .card {
  height: 500px;
}
#analysis-view .tablename-list {
  height: 370px;
}
#analysis-view .search-input {
  margin-left: 20px;
  width: 85%;
}
#analysis-view .form-control-feedback {
  margin-left: 240px;
}
.col-loader {
  padding: 2px 15px;
  float: right;
}
.da-table.selected {
  border: 1px solid #269AF8;
  background-color: #e8f0f6;
}
input[type='checkbox'] {
  cursor: pointer;
}
.unselected {
  display: none;
  float: right;
  padding: 3px 0;
  color: #269AF8;
}
.selected .unselected {
  display: block;
}

/* overriding css */
.form-control {
  height: 40px;
  width: 93%;
  margin-top: 7px;
  margin-left: 5px;
  border-radius: 3px;
}
.form-control-feedback {
  position: relative;
  margin-top: -12%;
  float: right;
  margin-right: 8%;
  height: 30px;
  color: #a0a2a4;
  line-height: 30px;
}
.selwidth {
  width: 85%;
}
.m-t-6 {
  padding: 8px;
  margin-bottom: 5px;
  }
.alert-dismissible {
  padding-right: 45px;
}

.table-hight {
  margin-top: 0px;  
  overflow: auto;
  overflow-y: auto;
  height: 441px;
}
.table-hight-div {
  margin-top: 0px; 
  margin-bottom: 32px;
  min-height: 512px;
}

#customers {  
  border-collapse: collapse;
  width: 100%;   
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 6px;
}

/* #customers tr:nth-child(even){background-color: #F5F5F5;} */

#customers tr:hover {background-color: #F5F5F5;}

#customers th {
  padding-top: 8px;
  padding-bottom: 8px;   
  text-align: left;
  background-color: #64b5f6;
  color: black;
}
.overflow-text {
  float: left;
  width: 96%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.overflow-text-arrow {
  float: left;
  width: 4%;
  text-align: right;
  font-size: 14px;
}
.overflow-textrelation {
  float: left;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;    
}
.ngx-pagination {
  margin-left: -40px;
  margin-bottom: 1rem;
  margin-top: 4px;
}

.container-list{
  padding:0px 4px 0px 9px;
}

.close{
  color: black;
  background-color: #64b5f6;
}

.add-btn{
  color: white;
  background-color: #2879ff;
}

.arch-close{
  color: black;
  background-color: #64b5f6;
}

.arch-add{
  color: White;
  background-color: #2879ff;
}

.page-align{
  padding:0px 10px;
}

#cancel-btn{
  background-color: #64b5f6;
  color: #000;
  border: none;
}

.btn-primary{
  transition: .5s;
}

.btn-primary:hover{
  box-shadow: rgba(0,0,0,0.43) 0px 0px 9px 0px;
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

::ng-deep .cdk-overlay-container{
  z-index: 1200 !important;
}

#msg-id{
  text-align: left;
  margin-bottom: 12px;
}

.action-btn button.save {
  background-color: #2879ff;
  color: #ffffff;
  text-transform: inherit;
  margin-right: -25%;
  transition: 0.5s;
  border-radius: 3px;
  /* float: right; */
}

.action-btn button.save-disabled {
  background-color: #2879ff;
  color: #ffffff;
  text-transform: inherit;
  margin-right: -25%;
  border-radius: 3px;
}

.action-btn button.cancel {
  background-color: #64b5f6;
  color: #1b1b1b;
  margin-right: 5%;
  text-transform: inherit;
  transition: 0.5s;
  border-radius: 3px;
}

.action-btn button.save:hover {
  transform: scale(1.1, 1.1);

}

.action-btn button.cancel:hover {
  transform: scale(1.1, 1.1);
}

.mat-header-cell {
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;  
  text-align: left;
  color: #0c0c0c;
  font-weight: bold;
  
}
tr.mat-header-row, tr.mat-footer-row, tr.mat-row {
  /* background-color: #64b5f6; */
  height: 45px;
  text-align: left;
}
.first-div-new {
  display: block;
  width: 86%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  margin-left: 15px;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
::ng-deep .mat-paginator-icon {
  height: unset !important;
}
.first-div-n {
  display: block;
  width: 86%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  margin-left: 0px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}
::ng-deep .test > div.mat-form-field-wrapper {
  padding-bottom: 1em !important;
}

::ng-deep .test > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix {
border-top: 0.5em solid transparent;
}

button:focus {outline:0;}


.body-left {
  display: inline-block;
  margin-bottom: -1%;
  margin-top: -4%;
  font-size: 12px;
  width: 100%;
}

.glyphicon {
  position: relative;
  top: 26px;
  font-size: 14px;
  margin-right: 35px;
  float: right;
  /* display: inline-block; */
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
