<div id="create-workspace-landing">
    <mat-card>
        <mat-horizontal-stepper #stepper>
            <mat-step label="Workspace Details">
                <ng-template matStepperIcon="edit">
                    <i class="material-icons">
                        file_copy
                    </i>
                </ng-template>
                <ng-template matStepperIcon="edit">
                        <i class="material-icons">
                            plus
                        </i>
                    </ng-template>
            </mat-step>
            <mat-step label="Step 2" state="chat">
                <p>Socialize with each other.</p>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step label="Step 3">
                <p>You're welcome.</p>
            </mat-step>

            <!-- Icon overrides. -->
            <ng-template matStepperIcon="phone">
                <mat-icon>call_end</mat-icon>
            </ng-template>
            <ng-template matStepperIcon="chat">
                <mat-icon>forum</mat-icon>
            </ng-template>
        </mat-horizontal-stepper>
    </mat-card>
</div>