<app-navbar></app-navbar>
<div id="create-workspace-landing">
    <div id="create-database-header">
        <div style="display: inherit">
            <a (click)="navigateToPrevious()" class="anchor-header" data-tooltip="Back">
                <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
            </a>
            <h3 class="heading-name">Create New Workspace</h3>
        </div>
    </div>
    <div>
        <mat-card>
            <mat-horizontal-stepper linear #stepper labelPosition="bottom">
                <mat-step [stepControl]="firstFormGroup" label="Workspace Details">
                    <form [formGroup]="firstFormGroup" class="workspace-detail-form">
                        <div class="workspace-detail">
                            <mat-form-field class="form-field-workspace">
                                <input required formControlName="workspaceName" matInput placeholder="Workspace Name">
                            </mat-form-field>
                            <mat-form-field class="form-field-workspace-owner">
                                <input required matInput formControlName="owner" placeholder="Owner"
                                    [attr.disabled]="true">
                            </mat-form-field>
                        </div>
                        <div class="workspace-detail">
                            <mat-form-field class="form-field-workspace form-field-workspace-date">
                                <input matInput required formControlName="creationDate" placeholder="Creation date"
                                    [attr.disabled]="true">
                            </mat-form-field>
                            <mat-form-field class="form-field-workspace-owner">
                                <textarea required matInput formControlName="description"
                                    placeholder="Description"></textarea>
                            </mat-form-field>
                        </div>
                        <div id="action-btn" style="margin-top: 10%;">
                            <button (click)="navigateToPrevious()" class="btn cancel btn-padding">Cancel</button>
                            <button [disabled]="!firstFormGroup.valid" (click)="gotoDatabaseSelection(stepper)"
                                class="btn {{!firstFormGroup.valid ? 'save-disabled': 'save'}} btn-padding matStepperNext">Next</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step label="Data Source selection">
                    <div class="workspace-name-info">
                        Select database for <b>{{firstFormGroup.get('workspaceName').value}}</b>
                    </div>
                    <div style="display: flex;justify-content: flex-end">
                        <div class="database-search">
                            <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                            </mat-form-field>
                        </div>
                    </div>
                    <div id="database-table">
                        <table mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="select">
                                <th style="width:5%" mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                                <td style="width:5%" mat-cell *matCellDef="let row">
                                    <mat-checkbox (change)="selectDatabase(row.id,$event)" [checked]="row.isChecked">
                                    </mat-checkbox>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="databaseProfileName">
                                <th style="width:22.5%" mat-header-cell *matHeaderCellDef mat-sort-header>Database
                                    Profile
                                    Name
                                </th>
                                <td style="width:22.5%" mat-cell *matCellDef="let row"> {{row.profileName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="databaseName">
                                <th style="width:25%" mat-header-cell *matHeaderCellDef mat-sort-header> Database Name
                                </th>
                                <td style="width:25%" mat-cell *matCellDef="let row"> {{row.databaseName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="owner">
                                <th style="width:22.5%" mat-header-cell *matHeaderCellDef mat-sort-header> Owner </th>
                                <td style="width:22.5%" mat-cell *matCellDef="let row"> {{row.owner.firstName}}
                                    {{row.owner.lastName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="createdDate">
                                <th style="width:25%" mat-header-cell *matHeaderCellDef mat-sort-header> Created Date
                                </th>
                                <td style="width:25%" mat-cell *matCellDef="let row">
                                    {{row.createdAt * 1000 | date:'medium' }} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    <div id="comment-database">
                        <mat-form-field hintLabel="Reason for using database(s)">
                            <input required [(ngModel)]="comment" matInput #input maxlength="256" placeholder="Comment">
                            <mat-hint align="end">{{input.value?.length || 0}}/256</mat-hint>
                        </mat-form-field>
                    </div>
                    <div id="action-btn">
                        <button (click)="gotoWorkspaceDetails(stepper)"
                            class="btn cancel matStepperPrevious btn-padding">Previous</button>
                        <button (click)="gotoWorkspaceReview(stepper)" [disabled]="comment.length===0"
                            class="btn btn-padding  {{comment.length===0 ? 'save-disabled': 'save'}} matStepperNext">Next</button>
                    </div>
                </mat-step>
                <mat-step label="Review details">
                    <div class="info-div">
                        <div class="outer-div">
                            <div class="inner-div">
                                <div class="inner-bold-item">Workspace Name</div>
                                <b>{{firstFormGroup.get('workspaceName').value}}</b>
                                <div class="inner-grey-item"></div>
                            </div>
                            <div class="inner-div">
                                <div class="inner-bold-item">Creation Date</div>
                                <div class="inner-grey-item">{{creationDate}}</div>
                            </div>
                        </div>
                        <div class="outer-div">
                            <div class="inner-div">
                                <div class="inner-bold-item">Data Source</div>
                                <div class="inner-grey-item">{{databaseName}}</div>
                            </div>
                        </div>
                        <div style="display: flex">
                            <mat-form-field class="form-field-desc">
                                <textarea value="{{firstFormGroup.get('description').value}}" matInput
                                    placeholder="Description"></textarea>
                            </mat-form-field>
                        </div>
                        <div id="action-btn" style="margin-top: 6%">
                            <button class="btn cancel btn-padding"
                                (click)="gotoDatabaseSelection(stepper)">Previous</button>
                            <button [disabled]="workspaceInProgress" (click)="createWorkspace(stepper)"
                                class="btn {{workspaceInProgress? 'save-disabled': 'save'}} btn-padding">Create<i
                                    *ngIf="workspaceInProgress" class="fa fa-spinner fa-spin loader"></i></button>
                        </div>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card>
    </div>
</div>
<button style="display:none" type="button" id="success-popup-btn" class="btn btn-info btn-lg" data-toggle="modal"
    data-target="#success">Open Modal</button>
<div id="success" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body">
                <p>{{successWorkspaceMessage}}</p>
            </div>
            <div class="modal-footer">
                <button (click)="navigateToPrevious()" type="button" class="btn modal-cancel "
                    data-dismiss="modal">Ok</button>
                <button type="button btn-padding" style="display:none" class="btn btn-default adhoc-modal-btn"
                    data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<button style="display:none" type="button" id="select-db-btn" class="btn btn-info btn-lg" data-toggle="modal"
    data-target="#select-success">Open Modal</button>
<div id="select-success" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body">
                <p>{{errorMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn modal-cancel " data-dismiss="modal">Ok</button>
                <button type="button btn-padding" style="display:none" class="btn btn-default adhoc-modal-btn"
                    data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>