<div hidden id="openCreateAddDBmodal" data-toggle="modal" data-target="#createWSModal"></div>
<div class="modal fade" id="createWSModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog {{newWSinfo ? 'msg-modal' : ''}}" role="worskspace">
    <div class="modal-content text-left">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 *ngIf="!newWSinfo" class="modal-title">Create New Database Connection</h4>
        <h4 *ngIf="newWSinfo" class="modal-title text-center">Message</h4>
      </div>

      <div class="modal-body row">
      <!-- carousel -->
        <div id="createWSModal-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
          <!-- Indicators -->
          <ul *ngIf="!newWSinfo" class="multi-step-bars">
            <li > 
              <span id="progress-bar" class="bar-expand width-5-pc"></span>
              <em class="col-md-4 text-center">Connection Details</em>
              <em class="col-md-4 text-center">Authentication</em>
              <em class="col-md-4 text-center">Review details</em>
            </li>
          </ul>

          <ol class="only carousel-indicators hide">
            <li data-target="#createWSModal-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#createWSModal-carousel" data-slide-to="1"></li>
            <li data-target="#createWSModal-carousel" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">

            <div step="0" class="item active form-group">
                <div class="col-md-12 row m-10">
                  <div class="col-md-2">Profile Name</div>
                  <div class="col-md-4">
                    <input [(ngModel)]="dbProfileName" placeholder="Enter Profile name" name="wsName" id="wsName" class="{{!wsName && wsNameEmpty ? 'error-input' : ''}}" required/>
                  </div>
                  <div class="col-md-2">Database Server</div>
                  <div class="col-md-3">
                      <div class="container">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="btn-group">
                                <button id="blur" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                  {{ selectedDBServerName }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu scrollable-menu" role="menu">
                                  <li *ngFor="let servername of dbServerList"><a (click)="selectDBServer(servername)">{{ servername.name }}</a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                    <!-- <input [(ngModel)]="dbServer" placeholder="Enter Database Server" name="wsName" id="wsName" class="{{!wsName && wsNameEmpty ? 'error-input' : ''}}" required/> -->
                  </div>
                  <!-- <div class="col-md-2">Database Name</div>
                  <div class="col-md-4">
                    <input [(ngModel)]="dbName" placeholder="Enter Database name" name="wsName" id="wsName" class="{{!wsName && wsNameEmpty ? 'error-input' : ''}}" required/>
                  </div> -->
                </div>
                
                <div class="col-md-12 row m-10">
                  <div class="col-md-2">Host</div>
                  <div class="col-md-4">
                    <input [(ngModel)]="host" placeholder="Enter Host name" name="wsName" id="wsName" class="{{!wsName && wsNameEmpty ? 'error-input' : ''}}" required/>
                  </div>
                  <div class="col-md-2">Port</div>
                  <div class="col-md-4">
                    <input [(ngModel)]="port" placeholder="Enter Port name" name="wsName" id="wsName" class="{{!wsName && wsNameEmpty ? 'error-input' : ''}}" required/>
                  </div>
                </div>
                
                <div class="col-md-12 row m-10">
                   <div class="col-md-2">Database Name</div>
                  <div class="col-md-4">
                    <input [(ngModel)]="databaseName" placeholder="Enter Database name" name="wsName" id="wsName" class="{{!wsName && wsNameEmpty ? 'error-input' : ''}}" required/>
                  </div>
                  <!-- <div class="col-md-2">Database Server</div>
                  <div class="col-md-4">
                      <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
                          <span class="caret"></span></button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
                          </ul>
                      </div>
                    <!-- <input [(ngModel)]="dbServer" placeholder="Enter Database Server" name="wsName" id="wsName" class="{{!wsName && wsNameEmpty ? 'error-input' : ''}}" required/> -->
                  <!-- </div> -->
                  <div class="col-md-2">Default Schema</div>
                  <div class="col-md-4">
                    <input [(ngModel)]="schemaName" placeholder="Enter Default Schema" name="wsName" id="wsName" class="{{!wsName && wsNameEmpty ? 'error-input' : ''}}" required/>
                  </div>
                </div>
            </div>

            <div step="1" class="item form-group second-last second">
              <!-- <div *ngIf="errorDBselect" class="alert-danger text-center"><strong>Select at least one database!</strong></div> -->
              <div class="col-md-12 row m-10">
                  <div class="col-md-2">UserName</div>
                  <div class="col-md-4">
                    <input [(ngModel)]="userName" placeholder="Enter Databse User Name" name="wsName" id="wsName" class="{{!wsName && wsNameEmpty ? 'error-input' : ''}}" required/>
                  </div>
              </div>
              <div class="col-md-12 row m-10">
                  <div class="col-md-2">Password</div>
                  <div class="col-md-4">
                    <input [(ngModel)]="password" placeholder="Enter Database Password" name="wsName" id="wsName" class="{{!wsName && wsNameEmpty ? 'error-input' : ''}}" required/>
                  </div>
                </div>
                    <!-- <div class="row">
                        <div class="col-md-2 col-md-offset-4">UserName</div>
                        <div class="col-md-2"><input [(ngModel)]="wsName" placeholder="Enter Workspace name" name="wsName" id="wsName" class="{{!wsName && wsNameEmpty ? 'error-input' : ''}}" required/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-4">Password</div>
                        <div class="col-md-2"><input [(ngModel)]="wsName" placeholder="Enter Workspace name" name="wsName" id="wsName" class="{{!wsName && wsNameEmpty ? 'error-input' : ''}}" required/>
                        </div>
                    </div> -->
            </div>

            <div step="2" class="item form-group final">
                <div class="col-md-12 row m-10">
                    <div class="col-md-2">Profile Name</div>
                    <div class="col-md-4">
                      <label>{{dbProfileName}}</label>
                      <!-- <input [(ngModel)]="wsName" placeholder="Enter Profile name" name="wsName" id="wsName" class="{{!wsName && wsNameEmpty ? 'error-input' : ''}}" required/> -->
                    </div>
                    <div class="col-md-2">Database Server</div>
                    <div class="col-md-4">
                        <label >{{selectedDBServerName}}</label>
                      <!-- <input [(ngModel)]="wsName" placeholder="Enter Database Server" name="wsName" id="wsName" class="{{!wsName && wsNameEmpty ? 'error-input' : ''}}" required/> -->
                    </div>
                  </div>
                  <div class="col-md-12 row m-10">
                      <div class="col-md-2">Host</div>
                      <div class="col-md-4">
                          <label>{{host}}</label>
                        <!-- <input [(ngModel)]="wsName" placeholder="Enter Host name" name="wsName" id="wsName" class="{{!wsName && wsNameEmpty ? 'error-input' : ''}}" required/> -->
                      </div>
                      <div class="col-md-2">Port</div>
                      <div class="col-md-4">
                          <label>{{port}}</label>
                        <!-- <input [(ngModel)]="wsName" placeholder="Enter Port name" name="wsName" id="wsName" class="{{!wsName && wsNameEmpty ? 'error-input' : ''}}" required/> -->
                      </div>
                    </div>
                    <div class="col-md-12 row m-10">
                        <div class="col-md-2">Database Name</div>
                        <div class="col-md-4">
                            <label>{{databaseName}}</label>
                          <!-- <input [(ngModel)]="wsName" placeholder="Enter Database name" name="wsName" id="wsName" class="{{!wsName && wsNameEmpty ? 'error-input' : ''}}" required/> -->
                        </div>
                        <div class="col-md-2">Default Schema</div>
                        <div class="col-md-4">
                            <label>{{schemaName}}</label>
                          <!-- <input [(ngModel)]="wsName" placeholder="Enter Default Schema" name="wsName" id="wsName" class="{{!wsName && wsNameEmpty ? 'error-input' : ''}}" required/> -->
                        </div>
                      </div>
                      <div class="col-md-12 row m-12">
                          <div class="col-md-12"><button type="button" class="btn btn-primary center-block" disabled> Test Connection"</button></div>
                        </div>
            </div>

            <div class="item form-group message">
              <div class="col-md-12 row m-10">
                <div class="col-md-4">Database Name</div>
                <div class="col-md-8">{{databaseName}}</div>
              </div>
              <div class="col-md-12 row m-10">
                <div class="col-md-4">Database Server</div>
                <div class="col-md-8">{{selectedDBServerName}}</div>
              </div>
              <!-- <div class="col-md-12 table-div">
                <table id="selected-db-list-table" class="display m-10" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Database Name</th>
                      <th>Owner</th>
                      <th></th>
                    </tr>
                  </thead>
                </table>
              </div> -->
              <div style="color:green;" class="col-md-12 row m-10 text-center">
                Your create database configuration is successfully done.
              </div>              
            </div>
          </div>
        
          <!-- Controls -->
          <a hidden class="left carousel-control" id="prev-slide" href="#createWSModal-carousel" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
          </a>
          <a hidden class="right carousel-control" id="next-slide" href="#createWSModal-carousel" role="button" data-slide="next">
            <span class="sr-only">Next</span>
          </a>
        </div>
      <!-- / end of Carousel -->
      </div>
      <div class="modal-footer {{newWSinfo ? 'msg-footer' : ''}}">
        <button type="button" id="cancel-btn" class="btn btn-secondary cancel" data-dismiss="modal">Cancel</button>
        <button type="button" id="prev-btn" class="btn btn-primary hide" (click)="prevStep($event)">Previous</button>
        <button type="button" id="next-btn" class="btn btn-primary" (click)="nextStep($event)">&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;</button>
        <button type="button" id="create-btn" class="btn btn-primary hide" (click)="createDBConfig()">Create&nbsp;</button>
        <button type="button" id="ok-btn" class="btn btn-primary hide" data-dismiss="modal" (click)="resetCarousel()">Done</button>
      </div>

    </div>
  </div>
</div>
