/* .card {
    margin: 8px 18px 10px 8px;
   box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
   transition: 0.3s;
   width: 31%;
   border-radius: 5px;
   border: 1px solid #E6E9ED
} */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: translatey(-10px);
}

.card {
  padding: 0px;
  text-align: left;
  margin: 0 18px 20px;
  transition: 0.3s;
  width: 22%;
  border-radius: 5px;
  border: 1px solid #E6E9ED
}

.container {
  padding: 2px 16px;
}

.foo-icon {
  float: right;
  padding: 6px 10px 5px 10px;
}

.foo-iconedit {
  float: right;
  padding: 6px 0px 5px 0px;
}

.delete {
  float: right;
  text-align: center;
  border-radius: 20px;
  width: 23px;
  margin-top: 8px;
  margin-right: 6px;
  padding-right: 4px;
}

.delete:hover {
  float: right;
  text-align: center;
  border-radius: 20px;
  width: 23px;
  margin-top: 8px;
  margin-right: 6px;
  padding-right: 4px;
  border: 1px solid #d1d2d3;
  background-color: #e0e2e3;
}

.fa-info-circle {
  font-size: 17px;
  color: #6daeeb;
  cursor: pointer;
}

.fa-info-circle:hover {
  color: #0A85F8;
}

.fa-pencil-square-o {
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
  background-color: #6daeeb;
  width: 26px;
  height: 26px;
  border-radius: 15px;
  padding-top: 5px;
  padding-left: 3px;
}

.fa-pencil-square-o-disabled {
  text-align: center;
  font-size: 15px;
  color: grey;
  cursor: not-allowed;
  background-color: #6daeeb;
  width: 26px;
  height: 26px;
  border-radius: 15px;
  padding-top: 5px;
  padding-left: 3px;
}

.fa-pencil-square-o:not(.edit-disabled):hover {
  background-color: #0A85F8;
}

.info {
  padding-left: 10px;
  display: inline-block;
}

.icon_category {
  float: right;
}

.title {
  display: inline-block;
  font-size: 16px;
  padding: 10px 15px 10px 15px;
  text-align: left;
  color: #121212;
}

.body-left {
  display: inline-block;
  padding: 10px 15px 0px 15px;
  font-size: 14px;
  width: 45%;
  color: #121212;
}

.body-center {
  display: inline-block;
  padding: 10px 0px 0px 0px;
  font-size: 14px;
  width: 5%;
  color: #121212;
}

.body-right {
  display: inline-block;
  padding: 10px 15px 0px 15px;
  font-size: 11px;
  width: 40%;
  color: #2b2b2b;
}

label {
  margin: 2px 7px 2px 7px
}

/* .modal-body div {
  border-bottom: 2px solid #E6E9ED;
  padding: 4px 2px 0px 3px;
  text-align: left;
} */

.flex-cards-bar {
  background-color: #efeff0;
  margin: 0px;
  height: 40px;
  margin-top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.flex-cards-footer {
  border-top: 1px solid #E6E9ED;
  height: 40px;
  margin-top: 0px;
}

.trim-text h2 {
  width: 8em;
  display: inline-block;
}

.arrow {
  float: left;
  display: inline-block;
  padding-left: 18px;
  font-size: 23px;
}

.ert {
  font-size: 24px;
  padding-left: 13px;
  float: left;
}

a.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
}

.fonticonbelow {
  float: left;
  color: #ffffff;
  padding-top: 4px;
  padding-left: 3px;
  background-color: #6daeeb;
  width: 26px;
  height: 26px;
  border-radius: 15px;
  text-align: center;
  font-size: 13px;
}

.fonticonbelow:hover {
  background-color: #0A85F8;
}

/* .modal-header {
  padding: 10px;
  padding-left: 15px;
  background-color: #2879ff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
} */

.info-r {
  font-size: 18px;
  padding-left: 10px;
  display: inline-block;
}

/* .model-title {
  float: left;
  display: inline-block;
  font-size: 20px;
  padding: -1px 15px 10px 15px;
  text-align: left;
  color: #ffffff;
} */

.modal-close {
  background-color: #2879ff;
  border: #2879ff;
  color: #ffffff;
  transition: 0.5s;
}

.modal-close:hover {
  transform: scale(1.1, 1.1);
}

.cancel {
  background-color: #2879ff;
  border: #2879ff;
  color: #ffffff;
  transition: 0.5s;
}

.cancel:hover {
  transform: scale(1.1, 1.1);
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
}

.table>tbody>tr>td {
  text-align: left;
  padding: 10px 18px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table-hover>tbody>tr:hover {
  background-color: #f0f3f7;
}

td.tdl {
  color: #121212;
  font-weight: bold;
  font-size: 12px;
  width: 50%;
}

td.tdr {
  color: #767676;
  font-size: 12px;
}

/* .modal-title {
  text-align: left;
  color: white
} */

.flex-cards-footer .material-icons:not(.popup-material-icon-cls) {
  font-size: 19px !important;
  color: #f3f5f7;
  padding-left: 0px !important;
}

.job-info-icon {
  color: #ffffff;
  font-size: 22px !important;
}

.run-disabled {
  float: left;
  color: #cecdcd;
  padding-top: 4px;
  padding-left: 3px;
  background-color: #e5e5e6;
  width: 26px;
  height: 26px;
  border-radius: 15px;
  text-align: center;
  cursor: not-allowed;
}

.edit-disabled {
  cursor: not-allowed;
  color: #cecdcd;
  background-color: #e5e5e6;
}


/* Toggle Button */
.one *,
.one *:before,
.one *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.one .button-wrap {
  /* width: 120px; */
  /* margin: 10px auto 0; */
  cursor: pointer;
}

.one .button-bg {
  width: 76%;
  height: 100%;
  background-color: #cfd7e3;
  border-radius: 40px;
  color: #595959;
  transition: all 0.2s ease;
}

.one .button-switch {
  position: relative;
  left: 0px;
  width: 125px;
  height: 44px;
  border: solid 22px;
  border-radius: 36px;
  transition: all 0.2s ease;
  border-color: #2879ff;
}

.one .button-active .button-switch {
  left: 116px;
  width: 172px;
  border-color: #2879ff;
}

.one .button-in,
.one .button-out {
  position: absolute;
  transition: all 0.2s ease;
  padding-top: 10px;
  font-family: Roboto;
  font-size: 18px;
}

.one .button-in {
  margin-left: 132px;
}

.one .button-out {
  margin-left: 20px;
  margin-right: 20px;
  color: #ffffff;
}

.one .button-active .button-out {
  color: #595959;
}

.one .button-active .button-in {
  color: #ffffff;
  margin-left: 132px;
}

.one .button-active .button-bg {
  background-color: #cfd7e3;
}

.index {
  z-index: 1;
}

.one-width {
  width: 350px;
}

.search-add-div {
  display: flex;
}

.search-div {
  margin-left: auto;
  width: 27%
}

.mat-form-field-search {
  width: 100%;
}

.copy-view-i {
  padding-left: 1px !important;
}

.padding-right {
  padding-right: 7px
}
