/* .card {
    margin: 8px 18px 10px 8px;
   box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
   transition: 0.3s;
   width: 31%;
   border-radius: 5px;
   border: 1px solid #E6E9ED
} */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card {
  padding: 0px;
  text-align: left;
  margin: 0 13px 20px;
  transition: 0.3s;
  width: 23%;
  border-radius: 5px;
  border: 1px solid #E6E9ED
}

.container {
  padding: 2px 16px;
}

.foo-icon {
  float: right;
  padding: 12px 10px 10px 10px;
}
.foo-iconedit {
  float: right;
  padding: 12px 0px 10px 0px;
}
.delete
{
  float: right;
  padding: 5px 10px 5px 10px;
  font-size: 18px;
  color: #858586;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 5px;
  margin-right: 7px;
}
.delete:hover
{
  color: #000;
  background-color: #e0e2e3;
}
.fa-info-circle {
  font-size: 20px;  
  color: #80adf8;
  cursor: pointer;
}
.fa-info-circle:hover {
  font-size: 20px;  
  color: #2879ff;
  cursor: pointer;
}
.fa-play {
  text-align: center;
  font-size: 13px;  
  color: #ffffff;
  cursor: pointer;
  background-color: #80adf8;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding-top: 8px;
  padding-left: 3px;
}
.fa-play:hover {
  text-align: center;
  font-size: 13px;  
  color: #ffffff;
  cursor: pointer;
  background-color: #2879ff;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding-top: 8px;
  padding-left: 3px;
}
.fa-pencil-square-o {
  text-align: center;
  font-size: 15px;  
  color: #ffffff;
  cursor: pointer;
  background-color: #80adf8;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding-top: 7px;
  padding-left: 3px;
}
.fa-pencil-square-o:hover {
  text-align: center;
  font-size: 15px;  
  color: #ffffff;
  cursor: pointer;
  background-color: #2879ff;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding-top: 7px;
  padding-left: 3px;
}

.info {
  padding-left: 10px;
  display:inline-block;  
}


.fonticonbelow {
  float: left;
  padding: 0 8px;
}

.icon_category {
  float: right;
}

.title {
  display:inline-block;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  text-align: left;
  color: #121212;
}
.body-left {
  display:inline-block;  
  padding: 10px 15px 0px 15px;
  font-size: 16px;
  width: 50%; 
  color: #121212;
}
.body-right {
  display:inline-block;
  padding: 10px 15px 0px 15px;
  font-size: 13px;
  width: 50%; 
  color: #2b2b2b;
}

a.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
}

label {
  margin: 2px 7px 2px 7px
}

.modal-body div {
  border-bottom: 2px solid #E6E9ED;
  padding: 4px 2px 0px 3px;
  text-align: left;
}
.flex-cards-bar {
  background-color: #efeff0;
  margin: 0px;
  height: 50px;
  margin-top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.flex-cards-footer {
  border-top: 1px solid #E6E9ED;
  height: 50px;
  margin-top: 0px;
}
.trim-text h2 {
  width: 8em;
  display: inline-block;
}
.arrow {
  display:inline-block; 
  float: left;
  padding-left: 13px;
  font-size: 23px;
  
}
.ert {
  font-size: 24px; 
  padding-left: 13px;
  float: left;
}

