<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-1 back-arrow back-arrow-modal">
            <a data-tooltip="Back" data-dismiss="modal">
              <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-md-8">
            <h3 class="popup-panel-heading">
              Change Role
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 form-horizontal">
          <div class="form-group">
            <label class="col-md-4 control-label">Current Role</label>
            <div class="col-md-6">
              <p class="form-control-static">Member</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="col-md-4 control-label">Choose new role</label>
            <div class="col-md-6">
              <select #roleSelector class="form-control" (change)="getGlobalId(roleSelector.value)">
                <option *ngFor="let role of globalRolesRequestData" value="{{role.id}}">{{role.roleName}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-popup" data-dismiss="modal">Cancel</button>
      <button type="submit" (click)="changeOnConfirm()" class="btn btn-primary btn-popup" data-dismiss="modal">Confirm</button>
    </div>
  </div>
</div>
