<div id="edit-column">
  <div class="example-container">
    <div class="row" id="popup-header">
      <h3>Edit Search Area</h3>
    </div>
    <div id="table-col-info">
      <div>
        <b>Selected Table Name: </b> {{panelColumn.tableName}}
      </div>
      <div>
        <b>Selected Column Name: </b> {{panelColumn.columnName}}
      </div>
    </div>
    <form class="example-container" [formGroup]="editPanelColumnForm">
      <mat-form-field>
        <input matInput formControlName="label" placeholder="Label">
      </mat-form-field>
      <div id="output-div">
        <mat-form-field id="output-function">
          <mat-select formControlName="outputFunction" placeholder="Output Function">
            <mat-option *ngFor="let outputFunction of outputFunctions;let i:index" [value]="outputFunction">
              {{outputFunction}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <a (click)="getInfo()">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </a>
      </div>
      <div>
        <input type="checkbox" formControlName="isMaskField"> Mask Field
        <input type="radio" value="start" name="maskType" formControlName="maskType"> Mask At Start
        <input type="radio" value="end" name="maskType" formControlName="maskType"> Mask At End
      </div>
      <mat-form-field>
        <mat-select formControlName="sortingValue" placeholder="Sort Value">
          <mat-option *ngFor="let sortValue of sortingValue" [value]="sortValue">
            {{sortValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <input type="checkbox" formControlName="isEnableFilter">Enable Filter
        <input type="checkbox" formControlName="isHideColumn">Hide Column
      </div>
    </form>
  </div>
  <div class="row" id="nextbtn">
    <button type="button" class="btn btn-primary btn-sm" [disabled]="!editPanelColumnForm.valid" (click)="update()"
      style="float: right;margin-right: 12px">Update</button>
    <button class="btn btn-primary btn-sm" (click)="cancel()" style="float:right;margin-right:5px;">
      Cancel</button>
  </div>
</div>
<button style="display:none" id="openFunctionInfoModel" data-toggle="modal" data-target="#functionInfo"></button>
<div id="functionInfo" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 760px;">
      <div class="modal-header">
        <h3 class="modal-title"> <a>
            <i class="fa fa-lock"></i>
          </a>
          Function Information</h3>
      </div>
      <div class="modal-body">
        <div class="row info">
          <div class="first-heading"><b>Function Name</b></div>
          <div class="col-heading">:</div>
          <div>{{inputFunctionInfo?.functionName}}</div>
        </div>
        <div class="row info">
          <div class="first-heading"><b>Function Description</b></div>
          <div class="col-heading">:</div>
          <div>{{inputFunctionInfo?.functionDesc}}</div>
        </div>
        <div id="function-info">
          <pre>{{inputFunctionInfo?.text}}</pre>
        </div>
        <div class="row info">
          <b>Example:</b>
        </div>
        <div id="ip-op-table">
          <table>
            <thead></thead>
            <tbody></tbody>
            <tr>
              <td style="background-color:#f0f4f7; text-align: left;">Input</td>
              <td *ngFor="let item of inputFunctionInfo?.input">{{item}}</td>
            </tr>
            <tr>
              <td style="background-color:#f0f4f7; text-align: left;">Output</td>
              <td *ngFor="let item of inputFunctionInfo?.output">{{item}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div id="info-btn" class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
