<div id="edit-column">
  <div class="example-container">
    <div class="row" id="popup-header">
      <h3>Edit Search Area</h3>
    </div>
    <div id="table-col-info">
      <div>
        <b>Selected Table Name: </b> {{resultFields.tableName}}
      </div>
      <div>
        <b>Selected Column Name: </b> {{resultFields.name}}
      </div>
    </div>
    <form class="example-container" [formGroup]="editResultFieldsForm">
      <mat-form-field>
        <input matInput formControlName="label" placeholder="Label">
      </mat-form-field>
      <div id="output-div">
        <mat-form-field id="output-function">
          <mat-select #selectorInput formControlName="outputFunction" placeholder="Output Function">
            <mat-option *ngFor="let outputFunction of outputFunctions;let i:index" [value]="outputFunction">
              {{outputFunction}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <a (click)="getInfo()">
          <i class="material-icons {{editResultFieldsForm.get('outputFunction').value==='' ? 'info-function-icon':''}}"
            aria-hidden="true">info</i>
        </a>
      </div>
      <div id="mask-div">
        <section class="example-section">
          <mat-checkbox class="example-margin" (change)="maskFieldCheck()" formControlName="isMaskField">Mask Field
          </mat-checkbox>
        </section>
        <section class="example-section">
          <mat-radio-group formControlName="maskType">
            <mat-radio-button style="margin-right: 40px;" name="maskType" value="start">Mask At Start</mat-radio-button>
            <mat-radio-button name="maskType" value="end">Mask At End</mat-radio-button>
          </mat-radio-group>
        </section>
        <div>
          <mat-form-field>
            <input matInput type="number" min="0" max="100" formControlName="maskLength" placeholder="Mask Value">
          </mat-form-field>
        </div>
      </div>
      <mat-form-field>
        <mat-select formControlName="sorting" placeholder="Sort Value">
          <mat-option *ngFor="let sortValue of sortingValue" [value]="sortValue">
            {{sortValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <section class="example-section" id="filter-hide-div">
        <mat-checkbox class="example-margin" formControlName="isEnableFilter">Enable
          Filter</mat-checkbox>
        <mat-checkbox class="example-margin" formControlName="isHidden">Hide Column</mat-checkbox>
        <mat-checkbox class="example-margin" (change)="isEncrypted($event)" formControlName="encrypted">Encrypt Field in
          infoarchive</mat-checkbox>
        <mat-checkbox class="example-margin" formControlName="todecrypt">Decrypt Field in infoarchive</mat-checkbox>
      </section>
    </form>
  </div>
  <div class="row" id="nextbtn">
    <button type="button"
      class="btn btn-padding {{!editResultFieldsForm.valid?'primary-btn-color-disabled':'primary-btn-color'}}"
      [disabled]="!editResultFieldsForm.valid" (click)="update()">Update</button>
    <button class="btn btn-padding secondary-btn-color" (click)="cancel()">
      Cancel</button>
  </div>
</div>
<button style="display:none" id="openFunctionInfoModel" data-toggle="modal" data-target="#functionInfo"></button>
<div id="functionInfo" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 760px;">
      <div class="modal-header modal-header-cls">
        <h3 class="modal-title"> <a>
            <i class="material-icons">
              lock</i>
          </a>
          Function Information</h3>
      </div>
      <div class="modal-body">
        <div class="row info">
          <div class="first-heading"><b>Function Name</b></div>
          <div class="col-heading">:</div>
          <div>{{outputFunctionInfo?.functionName}}</div>
        </div>
        <div class="row info">
          <div class="first-heading"><b>Function Description</b></div>
          <div class="col-heading">:</div>
          <div>{{outputFunctionInfo?.functionDesc}}</div>
        </div>
        <div id="function-info">
          <ace-editor #editor [mode]="'sql'" style="height:247px;" name="query" [readOnly]="true"
            [ngModel]="outputFunctionInfo?.text" id="query">
          </ace-editor>
          <!-- <pre>{{}}</pre> -->
        </div>
        <div class="row info">
          <b>Example:</b>
        </div>
        <div id="ip-op-table">
          <table>
            <thead></thead>
            <tbody></tbody>
            <tr>
              <td style="background-color:#f0f4f7; text-align: left;">Input</td>
              <td *ngFor="let item of outputFunctionInfo?.input">{{item}}</td>
            </tr>
            <tr>
              <td style="background-color:#f0f4f7; text-align: left;">Output</td>
              <td *ngFor="let item of outputFunctionInfo?.output">{{item}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div id="info-btn" class="modal-footer">
        <button type="button" class="btn btn-padding primary-btn-color" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>