.smtp-div .flex-container {
  display: flex;
  flex-direction: column;
}

.smtp-div .flex-container>* {
  width: 100%;
  margin-bottom: 6px;
}

.smtp-div .flex-container form {
  margin-bottom: 20px;
}

.smtp-div .flex-container form>* {
  margin: 5px 0;
}

#smtp-outer {
  width: 50%;
  margin: 46px auto;
}

h3 {
  font-size: 20px;
  color: #0c0c0c;
}

::ng-deep #action-btn button.save {
  background-color: #2879ff;
  color: #ffffff;
  font-family: roboto;
  font-size: 16px;
  margin-right: 10px
}

::ng-deep #action-btn button.cancel {
  font-family: roboto;
  font-size: 16px;
  margin-right: 10px;
  background-color: #64b5f6;
  color: #1b1b1b;
}

#action-btn {
  margin: 17px;
}

#heading {
  margin-bottom: 17px;
}
