<div id="smtp-outer">
  <div id="heading">
    <h3>Email SMTP Configuration </h3>
  </div>
  <div class="smtp-div">
    <mat-card class="example-card">
      <mat-card-content>
        <form class="flex-container">
          <mat-form-field>
            <input name="host" required matInput placeholder="Host">
          </mat-form-field>
          <mat-form-field>
            <input name="port" required matInput placeholder="Port">
          </mat-form-field>
          <mat-form-field>
            <input name="username" required matInput placeholder="Username">
          </mat-form-field>
          <mat-form-field>
            <input name="password" type=password required matInput placeholder="Password">
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div id="action-btn">
    <button mat-flat-button class="cancel">Cancel</button>
    <button mat-flat-button class="save">Save</button>
    <!-- <button mat-button >Cancel</button>
    <button mat-button class="save">Save</button> -->
  </div>
</div>
