.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}

#popup-header {
  border-radius: 2px;
  background-color: #f2f5f8;
  text-align: center;
  margin-left: 0px
}

#table-col-info {
  display: inline-flex;
  justify-content: space-around;
  margin: 11px 0px 11px 0px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#nextbtn button {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 5px;
}

#popup-header h3 {
  margin: 8px 2px 5px 0px;
  font-size: 18px;
  color: #000000;
}

.example-container form>* {
  margin: 5px 0;
}

#table-col-info div {
  width: 50%;
  text-align: left;
}


.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

#input-function {
  width: 96%;
}

#input-div a {
  font-size: 25px;
  float: right;
  padding: 9px 2px;
}

.fa-info-circle {
  color: #1385f8
}

.modal-header {
  background-color: #64b5f6;
}

.modal-header i {
  font-size: xx-large;
  color: #333;
  padding: 0px 7px 2px 2px;
}

.modal-body .info {
  display: inline-flex;
  text-align: left;
}

.info {
  display: inline-flex;
  width: 100%;
  font-size: 16px;
  margin-left: 4px;
}

.first-heading {
  width: 30%;
}

.col-heading {
  width: 4%;
}

#function-info {
  margin: 11px 2px 2px 0px;
  height: 250px;
}

#ip-op-table {
  border-radius: 4px;
  margin-left: 8%;
  margin-top: 9px;
}

td {
  padding: 5px 15px 5px 15px;
  margin: 0px 8px 2px 2px;
  text-align: left;
}

tbody {
  font-size: 16px;
  border-radius: 3px;
  background-color: #f7f9fb
}

#function-info {
  white-space: pre-wrap;
  overflow: auto;
}

#edit-column {
  margin-top: 10px;
  min-height: 358px;
  width: 70%;
  margin-left: 15%;
  max-height: 451px;
  overflow: auto;
}

#info-btn button {
  padding-right: 20px;
  padding-left: 20px;
}

pre {
  text-align: left;
}

#required {
  text-align: left;
  font-size: 16px;
}

::ng-deep #mandatory-div svg {
  height: 0vh !important;
}

a.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
}

.p-size {
  font-size: 15px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #0a85f8 !important;
}

::ng-deep .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: #0a85f8 !important;
}

#nextbtn {
  margin-right: 0px;
  margin-bottom: 3px;
}
