.example-container {
  display: flex;
  flex-direction: column;
}

.example-container>* {
  width: 100%;
}

#popup-header {
  border-radius: 2px;
  background-color: #f2f5f8;
  text-align: center;
  margin-left: 0px
}

#table-col-info {
  display: inline-flex;
  justify-content: space-around;
  margin: 11px 0px 11px 0px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#nextbtn button {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 5px;
}

#popup-header h3 {
  margin: 8px 2px 5px 0px;
  font-size: 18px;
  color: #000000;
}

.example-container form>* {
  margin: 5px 0;
}

#table-col-info div {
  width: 50%;
  text-align: left;
}


.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

#input-function {
  width: 96%;
}

#input-div a {
  font-size: 25px;
  float: right;
  padding-top: 16px;
}

.fa-info-circle {
  color: #1385f8
}

.modal-header {
  background-color: #64b5f6;
}

.modal-header i {
  color: #ffffff;
  padding: 0px 0px 7px 2px;
  vertical-align: middle;
}

.modal-body .info {
  display: inline-flex;
  text-align: left;
}

.info {
  display: inline-flex;
  width: 100%;
  font-size: 16px;
  margin-left: 4px;
}

.first-heading {
  width: 30%;
}

.col-heading {
  width: 4%;
}

#function-info {
  margin: 11px 2px 2px 0px;
  height: 250px;
}

#ip-op-table {
  border-radius: 4px;
  margin-left: 8%;
  margin-top: 9px;
}

td {
  padding: 5px 15px 5px 15px;
  margin: 0px 8px 2px 2px;
  text-align: left;
}

tbody {
  font-size: 16px;
  border-radius: 3px;
  background-color: #f7f9fb
}

#function-info {
  white-space: pre-wrap;
  overflow: auto;
}

#edit-column {
  margin-top: 10px;
  min-height: 358px;
  width: 70%;
  margin-left: 15%;
  max-height: 561px;
  overflow: auto;
}

#info-btn button {
  padding-right: 20px;
  padding-left: 20px;
}

pre {
  text-align: left;
}

#required {
  text-align: left;
  font-size: 16px;
}

::ng-deep #mandatory-div svg {
  height: unset;
}

a.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
}

.p-size {
  font-size: 15px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #0a85f8 !important;
}

::ng-deep .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: #0a85f8 !important;
}

#nextbtn {
  margin-right: 0px;
  margin-bottom: 3px;
}

.check-div {
  display: inline-flex
}

.check_box-section {
  margin-right: 50px
}

.margin-bottom-date {
  margin-bottom: 16px !important;
}

.info-function-icon {
  cursor: not-allowed !important;
  color: #676767 !important;
}

.modal-header-cls {
  background-color: #2879ff;
  color: #ffffff;
  text-align: left !important;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}


::ng-deep .ace-monokai {
  background-color: #f0f4f7 !important;
  color: #000 !important;
}

::ng-deep .ace-monokai .ace_gutter {
  background: #e9f1f7 !important;
  color: #000 !important;
}

::ng-deep .ace-monokai .ace_gutter-active-line {
  background-color: #e9f1f7 !important;
}

::ng-deep .ace-monokai .ace_marker-layer .ace_active-line {
  background: #e9f1f7 !important;
}

::ng-deep .ace-monokai .ace_cursor {
  color: #000 !important;
}

.query {
  font-family: Roboto;
  font-size: 14px;
  text-align: left;
  color: #121212;
  margin-bottom: 12px;
  margin-top: 12px;
}

::ng-deep .mat-slide-toggle .mat-slide-toggle-ripple {
  height: 0px !important;
  width: 0px !important;
}

::ng-deep .ace-monokai .ace_print-margin {
  width: 0px !important;
  background: #555651;
}

::ng-deep .ace_editor {
  font: 14px/normal !important;
  /* font: 14px/normal 'Roboto' !important; */
}
