
ul {
    margin-top: 12px;
    margin-bottom: 10px;
    float: left;
}
td{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin-left: 40px;
    width:93%;
    text-align: left;
}



