<table id="example" class="table" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td>
        <b>Name</b>
      </td>
      <td>{{this.workspaceInfoData['name']}}</td>
      <td></td>
    </tr>

    <tr>
      <td>
        <b>Owner</b>
      </td>
      <td>{{this.workspaceInfoData['owner']}}</td>
      <td></td>
    </tr>
    <tr>
      <td>
        <b>Approver</b>
      </td>
      <td>{{this.workspaceInfoData['approver']}}</td>
      <td>
        <a href="#">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <b>Members</b>
      </td>
      <td>{{this.workspaceInfoData['members']}}</td>
      <td>
        <a href="#">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <b>Role</b>
      </td>
      <td>{{this.workspaceInfoData['your_role']}}</td>
      <td></td>
    </tr>
    <tr>
      <td>
        <b>Metadata Version</b>
      </td>
      <td>{{this.workspaceInfoData['master_metadata_version']}}</td>
      <td>
        <a href="#">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>
