ul {
  margin-top: 12px;
  margin-bottom: 10px;
  float: left;
}

td {
  font-size: 12px;  
  width: 20%;
}

table {
  /* margin-top: 10px; */
  margin-left: 75px;
  width: 86%;
  text-align: left;
}

#voice{
  overflow-y: auto;
  display: block;
  height: 200px;
  overflow-x:hidden; 
  margin-right: 130px;
}
.workspace-panel-content{
  margin-top: 10px;
  widows: 100%;
}
.back {
  color: #fff;
  background-color: #2879ff;
  border-color: #2879ff;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
