
<div class workspace-info>
    <table style="width:40%; text-align: left;">
      <tr>
        <td>Name</td>
        <td><b>{{this.workspaceInfoData['name']}}</b></td>
      </tr>
      <br>
      <tr>
        <td>Owner</td>
        <td><b>{{this.workspaceInfoData['owner']}}</b></td>
      </tr>
      <br>
      <tr>
        <td>Approver</td>
        <td><b>{{this.workspaceInfoData['approver']}}</b></td>
      </tr>
      <br>
      <tr>
          <td>Members</td>
          <td><b>{{this.workspaceInfoData['members']}}</b></td>
      </tr>
      <br>
      <tr>
          <td>Your Role</td>
          <td><b>{{this.workspaceInfoData['your_role']}}</b></td>
      </tr>
      <br>
      <tr>
          <td>Master Metadata Version</td>
          <td><b>{{this.workspaceInfoData['master_metadata_version']}}</b></td>
      </tr>
    </table>
  </div>




