<app-navbar></app-navbar>
<div class="workspacelist-container">

  <div class="col-md-4">
    <div class="col-md-1 back-arrow">
      <a (click)="gotoDashboard()" data-tooltip="Back">
        <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
      </a>
    </div>

    <div class="col-md-8">
      <h3 class="workspace-panel-heading">
        Status Monitor <span id="loading-icon" [ngClass]="{'archon-loading-icon' : !loadStatus}"></span>
      </h3>
    </div>
  </div>

  <div class="col-md-12 m-l-45" *ngIf="loadStatus">
    <div class="btn-group col-md-2 p-0">
      <button type="button" class="trim-text btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" title="{{selectedJobOrigin? selectedJobOrigin : 'JOB ORIGIN: All'}}">
        {{selectedJobOrigin? selectedJobOrigin : ('JOB ORIGIN: All')}}
      </button>
      <div class="dropdown-menu">
        <div class="scrollable">
          <a id="job-origin-all" class="dropdown-item dropdown-data trim-text" title="JOB ORIGIN: ALL" (click)="selectJobOrigin('');getStart()">JOB
            ORIGIN: ALL</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item dropdown-data trim-text j-origin" *ngFor="let jOrigin of jobOriginList" title="{{jOrigin}}"
            (click)="selectJobOrigin(jOrigin);getStart()">{{jOrigin}}</a>
        </div>
      </div>
    </div>
    <div class="btn-group col-md-2 p-0" style="margin-left: -30px;">
      <button type="button" class="trim-text btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" title="{{selectedJobStatus? selectedJobStatus : 'JOB STATUS: ALL'}}">
        {{selectedJobStatus? selectedJobStatus : 'JOB STATUS: All'}}
      </button>
      <div class="dropdown-menu">
        <div class="scrollable">
          <a id="job-status-all" class="dropdown-item dropdown-data trim-text" title="JOB ORIGIN: ALL" (click)="selectJobStatus('');getStart()">JOB
            STATUS: All</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item dropdown-data trim-text j-status" *ngFor="let jStatus of jobStatusList" title="{{jStatus}}"
            (click)="selectJobStatus(jStatus);getStart()">{{jStatus}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
    <div *ngIf="errorObject?.show" class="alert alert-danger alert-dismissible m-t-6" role="alert">
      <button type="button" class="close" (click)="closeErrorMsg()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{errorObject?.message}}</strong>
    </div> 
    </div>
    <div class="btn-group col-md-3 p-0 align-refresh">
      <i (click)="refreshStatusTable()" class="fa fa-refresh col-archon-blue fa-2x cur-p" aria-hidden="true"></i>
    </div>
  </div>
  <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="col-md-6"></div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <mat-form-field class="search-wid">
              <input matInput #search placeholder="Search" (keyup)="getSearch()">
            </mat-form-field>
          </div>
          </div>
  <div class="row" style="padding-top: 170px;">
    <div class="example-table-container mat-elevation-z4" id="screen-table">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="Job Name">
          <th style="width:30%" mat-header-cell *matHeaderCellDef mat-sort-header> Job Name </th>
          <td style="width:30%" mat-cell *matCellDef="let element; let i = index;">{{element.jobName}}</td>
        </ng-container>
        <ng-container matColumnDef="Job Origin">
          <th style="width:12%" mat-header-cell *matHeaderCellDef mat-sort-header> Job Origin </th>
          <td style="width:12%" mat-cell *matCellDef="let element; let i = index;">{{element.jobOrigin}}</td>
        </ng-container>
        <ng-container matColumnDef="Scheduled Time">
          <th style="width:15%" mat-header-cell *matHeaderCellDef mat-sort-header> Scheduled Time </th>
          <td style="width:15%" mat-cell *matCellDef="let element; let i = index;">{{element.jobInfo.scheduledTime | date:'medium'}}</td>
        </ng-container>
        <ng-container matColumnDef="Start Time">
          <th style="width:15%" mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </th>
          <td style="width:15%" mat-cell *matCellDef="let element; let i = index;">{{element.jobInfo.startTime | date:'medium'}}</td>
        </ng-container>
        <ng-container matColumnDef="End Time">
          <th style="width:15%" mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </th>
          <td style="width:15%" mat-cell *matCellDef="let element; let i = index;">{{element.jobInfo.endTime | date:'medium'}}</td>
        </ng-container>
        <ng-container matColumnDef="Status">
          <th style="width:6%;text-align: center" mat-header-cell *matHeaderCellDef> Status </th>
          <td style="width:6%;text-align: center" mat-cell *matCellDef="let element; let i = index;">
            <i class="material-icons success" matTooltip="Success" *ngIf="element.jobInfo.jobStatus === 'SUCCESS'">check_circle</i>
            <i class="material-icons inpro" matTooltip="In_Progress" *ngIf="element.jobInfo.jobStatus === 'IN_PROGRESS'">sync</i>
            <i class="material-icons failure" matTooltip="Failed" *ngIf="element.jobInfo.jobStatus === 'FAILED'">error</i>
            <i class="material-icons sche" matTooltip="Scheduled" *ngIf="element.jobInfo.jobStatus === 'SCHEDULED'">schedule</i>
          </td>
        </ng-container>
        <ng-container matColumnDef="Details">
          <th style="width:6%;text-align: center" mat-header-cell *matHeaderCellDef> Details </th>
          <td style="width:6%;text-align: center" mat-cell *matCellDef="let element; let i = index;">
            <i class="material-icons details" matTooltip="View Job Details" *ngIf="element.id !== null" (click)="openDetail(element.id)">info</i>
            <i class="material-icons details" style="color: grey" matTooltip="No Job Details" *ngIf="element.id == null">info</i>
          </td>
        </ng-container>
        <ng-container matColumnDef="Retry">
          <th style="width:6%;text-align: center" mat-header-cell *matHeaderCellDef> Retry </th>
          <td style="width:6%;text-align: center" mat-cell *matCellDef="let element; let i = index;">
            <i class="material-icons replay" matTooltip="Retry" *ngIf="element.jobInfo.jobStatus === 'FAILED'" (click)="retryJob(element.id)">replay</i>
            <i class="material-icons replay" style="color: grey" matTooltip="Nope" *ngIf="element.jobInfo.jobStatus !== 'FAILED'">replay</i>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator id="screen-table" [length]="totalScreen" [pageSize]="50">
    </mat-paginator>
  </div>

<button #click data-toggle="modal" data-target="#jobDetailsModal" hidden></button>

<!-- Modal -->
<div id="jobDetailsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-left">Job Details</h4>
          </div>
        <div class="modal-body">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Field</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let i of common" class="text-left">
                    <td>{{i.name}}</td>
                    <td *ngIf="i.type !== 'Date'">{{i.value}}</td>
                    <td *ngIf="i.type == 'Date'">{{i.value | date: 'medium'}}</td>
                  </tr>
                  <tr><td colspan="2"><h4><b>Input</b></h4></td></tr>
                  <tr *ngFor="let i of input" class="text-left">
                    <td>{{i.name}}</td>
                    <td>{{i.value}}</td>
                  </tr>
                  <tr><td colspan="2"><h4><b>Message</b></h4></td></tr>
                  <tr><td>{{jobMessage?.name}}</td><td>{{jobMessage?.value}}</td></tr>
                  <tr><td colspan="2"><h4><b>Output</b></h4></td></tr>
                  <tr><td>{{jobOutput?.name}}</td><td>{{jobOutput?.value}}</td></tr>
                </tbody>
              </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
