<app-navbar></app-navbar>
<div class="workspacelist-container">

  <div class="col-md-4">
    <div class="col-md-1 back-arrow">
      <a (click)="gotoDashboard()" data-tooltip="Back">
        <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
      </a>
    </div>

    <div class="col-md-8">
      <h3 class="workspace-panel-heading">
        Status Monitor <span id="loading-icon" [ngClass]="{'archon-loading-icon' : !loadStatus}"></span>
      </h3>
    </div>
  </div>

  <div class="col-md-12 m-l-45" *ngIf="loadStatus">
    <div class="btn-group col-md-2 p-0">
      <button type="button" class="trim-text btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" title="{{selectedJobOrigin? selectedJobOrigin : 'JOB ORIGIN: All'}}">
        {{selectedJobOrigin? selectedJobOrigin : ('JOB ORIGIN: All')}}
      </button>
      <div class="dropdown-menu">
        <div class="scrollable">
          <a id="job-origin-all" class="dropdown-item dropdown-data trim-text" title="JOB ORIGIN: ALL" (click)="selectJobOrigin('');getJobList()">JOB
            ORIGIN: ALL</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item dropdown-data trim-text j-origin" *ngFor="let jOrigin of jobOriginList" title="{{jOrigin}}"
            (click)="selectJobOrigin(jOrigin);getJobList()">{{jOrigin}}</a>
        </div>
      </div>
    </div>
    <div class="btn-group col-md-2 p-0" style="margin-left: -30px;">
      <button type="button" class="trim-text btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" title="{{selectedJobStatus? selectedJobStatus : 'JOB STATUS: ALL'}}">
        {{selectedJobStatus? selectedJobStatus : 'JOB STATUS: All'}}
      </button>
      <div class="dropdown-menu">
        <div class="scrollable">
          <a id="job-status-all" class="dropdown-item dropdown-data trim-text" title="JOB ORIGIN: ALL" (click)="selectJobStatus('');getJobList()">JOB
            STATUS: All</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item dropdown-data trim-text j-status" *ngFor="let jStatus of jobStatusList" title="{{jStatus}}"
            (click)="selectJobStatus(jStatus);getJobList()">{{jStatus}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
    <div *ngIf="errorObject?.show" class="alert alert-danger alert-dismissible m-t-6" role="alert">
      <button type="button" class="close" (click)="closeErrorMsg()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{errorObject?.message}}</strong>
    </div> 
    </div>
    <div class="btn-group col-md-3 p-0 align-refresh">
      <i (click)="refreshStatusTable()" class="fa fa-refresh col-archon-blue fa-2x cur-p" aria-hidden="true"></i>
    </div>
  </div>

  <div class="row" style="padding-top: 95px;">
    <div id="schedule-job" class="workspace-panel-content" *ngIf="loadStatus">
    <div style="padding: 12px 13px">
    <table id="status-table" datatable [dtOptions]="dtOptions"  class="table table-hover table-bordered nowrap" style="width: 100%"></table>
    </div>
    </div>
  </div>

<button #click data-toggle="modal" data-target="#jobDetailsModal" [hidden]="true"></button>

<!-- Modal -->
<div id="jobDetailsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title text-left">Job Details</h4>
          </div>
        <div class="modal-body">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Field</th>
                    <th>Values</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let i of common" class="text-left">
                    <td>{{i.name}}</td>
                    <td *ngIf="i.type !== 'Date'">{{i.value}}</td>
                    <td *ngIf="i.type == 'Date'">{{i.value | date: 'medium': 'GMT' }}</td>
                  </tr>
                  <tr><td colspan="2"><h4><b>Input</b></h4></td></tr>
                  <tr *ngFor="let i of input" class="text-left">
                    <td>{{i.name}}</td>
                    <td>{{i.value}}</td>
                  </tr>
                  <tr><td colspan="2"><h4><b>Message</b></h4></td></tr>
                  <tr><td>{{jobMessage?.name}}</td><td>{{jobMessage?.value}}</td></tr>
                  <tr><td colspan="2"><h4><b>Output</b></h4></td></tr>
                  <tr><td>{{jobOutput?.name}}</td><td>{{jobOutput?.value}}</td></tr>
                </tbody>
              </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
