<app-navbar></app-navbar>
<div class="workspacelist-container">
  <div class="row">
    <div id="create-screen-header">
      <a (click)="gotoDashboard()" data-tooltip="Back">
        <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
      </a>
      <h3>Status Monitoring<span id="loading-icon" [ngClass]="{'archon-loading-icon' : !loadStatus}"></span> </h3>
    </div>
  </div>

  <div class="row-group" *ngIf="loadStatus">
    <div class="col-md-5 heading-item">
      <div *ngIf="errorObject?.show" class="alert alert-danger alert-dismissible m-t-6" role="alert">
        <button type="button" class="close" (click)="closeErrorMsg()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{errorObject?.message}}</strong>
      </div>
    </div>
    <div class="col-md-2 heading-item">     
        <mat-form-field>
          <mat-select [(ngModel)]="selectedJobOrigin" msInfiniteScroll name="jOrigin-select"
             placeholder="JOB ORIGIN: All">
            <mat-option appScrollServerCall [value]="" (click)="selectJobOrigin('');getStart()">
              JOB ORIGIN : All
            </mat-option>
            <mat-option appScrollServerCall *ngFor="let jOrigin of jobOriginList" [value]="jOrigin" (click)="selectJobOrigin(jOrigin);getStart()">
                {{jOrigin}}
            </mat-option>
          </mat-select>
        </mat-form-field>      
    </div>
    <div class="col-md-2 heading-item">
      <mat-form-field>
        <mat-select [(ngModel)]="selectedJobStatus" msInfiniteScroll name="jOrigin-select"
           placeholder="JOB STATUS: All">
          <mat-option appScrollServerCall [value]="" (click)="selectJobStatus('');getStart()">
            JOB STATUS : All
          </mat-option>
          <mat-option appScrollServerCall *ngFor="let jStatus of jobStatusList" [value]="jStatus" (click)="selectJobStatus(jStatus);getStart()">
              {{jStatus}}
          </mat-option>
        </mat-select>
      </mat-form-field>   
    </div>
    <div class="col-md-2 heading-item">
      <mat-form-field>
       <input matInput #search placeholder="Search" (keyup)="getSearch()">
      </mat-form-field>
    </div>
    <div class="col-md-1 heading-item" style="margin-top: 12px;">
      <i (click)="refreshStatusTable()" class="fa fa-refresh col-archon-blue fa-2x cur-p" aria-hidden="true"></i>
    </div>    
  </div>

  <div class="row" style="padding-top: 70px;">
    <div class="example-table-container mat-elevation-z4" id="screen-table">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortActive="jobInfo.startTime" matSortDirection="desc">
        <ng-container matColumnDef="jobName" sticky>
          <th style="width:25%" mat-header-cell *matHeaderCellDef mat-sort-header> Job Name </th>
          <td style="width:25%" mat-cell *matCellDef="let element; let i = index;">{{element.jobName}}</td>
        </ng-container>
        <ng-container matColumnDef="userid">
          <th style="width:10%" mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
          <td style="width:10%" mat-cell *matCellDef="let element; let i = index;">{{element.userId}}</td>
        </ng-container>
        <ng-container matColumnDef="Job Origin">
          <th style="width:10%" mat-header-cell *matHeaderCellDef mat-sort-header> Job Origin </th>
          <td style="width:10%" mat-cell *matCellDef="let element; let i = index;">{{element.jobOrigin}}</td>
        </ng-container>
        <ng-container matColumnDef="jobInfo.startTime">
          <th style="width:10%" mat-header-cell *matHeaderCellDef mat-sort-header> Scheduled Time </th>
          <td style="width:10%" mat-cell *matCellDef="let element; let i = index;">{{element.jobInfo.scheduledTime | date:'medium'}}</td>
        </ng-container>
        <ng-container matColumnDef="Start Time">
          <th style="width:10%" mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </th>
          <td style="width:10%" mat-cell *matCellDef="let element; let i = index;">{{element.jobInfo.startTime | date:'medium'}}</td>
        </ng-container>
        <ng-container matColumnDef="End Time">
          <th style="width:10%" mat-header-cell *matHeaderCellDef mat-sort-header> End Time </th>
          <td style="width:10%" mat-cell *matCellDef="let element; let i = index;">{{element.jobInfo.endTime | date:'medium'}}</td>
        </ng-container>
        <ng-container matColumnDef="Status">
          <th style="width:3%;text-align: center" mat-header-cell *matHeaderCellDef> Status </th>
          <td style="width:3%;text-align: center" mat-cell *matCellDef="let element; let i = index;">
            <i class="material-icons success" matTooltip="Success" *ngIf="element.jobInfo.jobStatus === 'SUCCESS'">check_circle</i>
            <i class="material-icons inpro" matTooltip="In_Progress" *ngIf="element.jobInfo.jobStatus === 'IN_PROGRESS'">sync</i>
            <i class="material-icons failure" matTooltip="Failed" *ngIf="element.jobInfo.jobStatus === 'FAILED'">error</i>
            <i class="material-icons sche" matTooltip="Scheduled" *ngIf="element.jobInfo.jobStatus === 'SCHEDULED'">schedule</i>
          </td>
        </ng-container>
        <ng-container matColumnDef="Details">
          <th style="width:3%;text-align: center" mat-header-cell *matHeaderCellDef> Details </th>
          <td style="width:3%;text-align: center" mat-cell *matCellDef="let element; let i = index;">
            <i class="material-icons details" matTooltip="View Job Details" *ngIf="element.id !== null" (click)="openDetail(element.id)">info</i>
            <i class="material-icons details" style="color: grey" matTooltip="No Job Details" *ngIf="element.id == null">info</i>
          </td>
        </ng-container>
        <ng-container matColumnDef="Retry">
          <th style="width:3%;text-align: center" mat-header-cell *matHeaderCellDef> Retry </th>
          <td style="width:3%;text-align: center" mat-cell *matCellDef="let element; let i = index;">
            <i class="material-icons replay" matTooltip="Retry" *ngIf="element.jobInfo.jobStatus === 'FAILED'" (click)="retryJob(element.id)">replay</i>
            <i class="material-icons replay" style="color: grey" matTooltip="Nope" *ngIf="element.jobInfo.jobStatus !== 'FAILED'">replay</i>
          </td>
        </ng-container>
        <ng-container matColumnDef="Stop">
          <th style="width:3%;text-align: center" mat-header-cell *matHeaderCellDef> Stop </th>
          <td style="width:3%;text-align: center" mat-cell *matCellDef="let element; let i = index;">
            <i class="material-icons stop" matTooltip="Stop" *ngIf="element.isCancellable" (click)="stopJob(element.id)">stop</i>
            <i class="material-icons stop" style="color: grey" matTooltip="Nope" *ngIf="!element.isCancellable">stop</i>
          </td>
        </ng-container>
        <ng-container matColumnDef="Download">
            <th style="width:3%;text-align: center" mat-header-cell *matHeaderCellDef> Download  </th>
            <td style="width:3%;text-align: center" mat-cell *matCellDef="let element; let i = index;">
             <!-- <i class="material-icons details" matTooltip="Download" *ngIf="(element.jobInfo.jobStatus === 'SUCCESS' && element.jobOrigin === 'RDBMS_EXTRACTION') || (element.jobInfo.jobStatus === 'SUCCESS' && element.jobOrigin === 'ERT_EXTRACTION' || (element.jobInfo.jobStatus === 'SUCCESS' && element.jobOrigin === 'GENERATE_XML_JSON') || (element.jobInfo.jobStatus === 'SUCCESS' && element.jobOrigin === 'ER_GENERATION'))" (click)="downloadJob(element.id)">cloud_download</i>
              <i class="material-icons details" style="color: grey" matTooltip="Not Available" *ngIf="(element.jobInfo.jobStatus !== 'SUCCESS' && element.jobOrigin === 'RDBMS_EXTRACTION') || (element.jobInfo.jobStatus !== 'SUCCESS' && element.jobOrigin === 'ERT_EXTRACTION') || (element.jobInfo.jobStatus !== 'SUCCESS' && element.jobOrigin === 'GENERAL_XML_JSON') || (element.jobInfo.jobStatus !== 'SUCCESS' && element.jobOrigin === 'ER_GENERATION')">cloud_download</i>
              <i class="material-icons details" style="color: grey" matTooltip="Not Available" *ngIf="(element.jobOrigin !== 'ERT_EXTRACTION') && (element.jobOrigin !== 'RDBMS_EXTRACTION') && (element.jobOrigin !== 'GENERATE_XML_JSON') && (element.jobOrigin !== 'ER_GENERATION')">cloud_download</i>  -->
              <i class="material-icons details" matTooltip="Download" *ngIf="element.isDownloadable === true" (click)="downloadJob(element.id)">cloud_download</i>
              <i class="material-icons details" style="color: grey" matTooltip="Not Available" *ngIf="element.isDownloadable !== true">cloud_download</i> </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator id="screen-table" [length]="dataSource.totalScreen" [pageSize]="50">
    </mat-paginator>
  </div>

<button #click data-toggle="modal" data-target="#jobDetailsModal" hidden></button>

<button #click1 data-toggle="modal" data-target="#stopPopupModal" hidden></button>

<!-- Modal -->
<div id="jobDetailsModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content" style="width: 900px;">
        <div class="info-popup-header-cls">
          <h4 class="popup-title-cls">
            <i class="material-icons popup-material-icon-cls" style="font-size: 22px;">list</i><div class="pop-title" style="margin-left: 0px;">Job Details</div></h4>
        </div>         
        <div class="modal-body">
            <mat-accordion>
            <mat-expansion-panel #mep="matExpansionPanel" *ngFor="let relation of jobArray;let ind=index;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <div class="expansion-outer">
                      <div class="expansion-item-sec">Attempt {{ind+1}}</div>
                      </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
               <div class="line"></div>  
               <div class="col-md-12 ws">           
                <div class="col-md-6" *ngFor="let i of relation.common;">               
                    <div class="inner-div-l">
                      <div *ngIf="i.value !== ''" class="inner-bold-item">{{i.name}}</div>
                      <div *ngIf="i.type !== 'Date'" class="inner-grey-item">{{i.value}}</div>
                      <div *ngIf="i.type == 'Date' && i.value !== 'null' && i.value !== 'N/A'" class="inner-grey-item">{{i.value | date: 'medium'}}</div>
                      <div *ngIf="i.type == 'Date' && i.value == 'N/A'" class="inner-grey-item">{{i.value}}</div>
                      <div *ngIf="i.type == 'Date' && i.value == 'null'" class="inner-grey-item">{{i.value}}</div>
                    </div>                   
                </div>
              </div>
              <div *ngIf="relation.input !== null" class="col-md-12 ws">
                <div class="bg">Input</div>
              </div>
              <div *ngIf="relation.input !== null" class="col-md-12 ws">           
                <div class="col-md-6" *ngFor="let i of relation.input">               
                    <div class="inner-div-l">
                      <div class="inner-bold-item">{{i.name}}</div>
                      <div class="inner-grey-item">{{i.value}}</div>
                    </div>                   
                </div>
              </div>
              <div class="col-md-12 ws">
                <div class="bg">Message</div>
              </div>
              <div class="col-md-12 ws">           
                <div class="col-md-12">               
                    <div class="inner-div-l">
                      <div class="inner-bold-item">{{relation.message?.name}}</div>
                      <div class="inner-grey-item">{{relation.message?.value}}</div>
                    </div>                   
                </div>
              </div>
              <div  *ngIf="relation.output !== null" class="col-md-12 ws">
                <div class="bg">Output</div>
              </div>
              <div  *ngIf="relation.output !== null" class="col-md-12 ws">           
                <div class="col-md-12">               
                    <div class="inner-div-l">
                      <div class="inner-bold-item">{{relation.output?.name}}</div>
                      <div class="inner-grey-item">{{relation.output?.value}}</div>
                    </div>                   
                </div>
              </div>
              <div class="col-md-12 ws">
                <div class="bg">ServerConfig</div>
              </div>
              <div class="col-md-12 ws">           
                <div class="col-md-6" *ngFor="let i of relation.serverConfiguration">               
                    <div class="inner-div-l">
                      <div class="inner-bold-item">{{i.name}}</div>
                      <div class="inner-grey-item">{{i.value}}</div>
                    </div>                   
                </div>
              </div> 
              </mat-expansion-panel>
              </mat-accordion>
           
      </div>
      <div class="modal-footer">        
        <button type="button" class="btn btn-padding btn-info-popup-primary-color"
          data-dismiss="modal">Close</button>
      </div>
    </div>
</div>
</div>


    <!-- Stop Popup -->
<div id="stopPopupModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 480px;">
        <div class="modal-content">
          <div class="info-popup-header-cls">
            <h4 class="popup-title-cls">
              <i class="material-icons popup-material-icon-cls" style="font-size: 22px;">info_outline</i><div class="pop-title" style="margin-left: 0px;">Notification</div></h4>
          </div>
          <div class="modal-body">
            <p class="popup-paragraph-cls">{{responsemsg}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-padding btn-info-popup-primary-color"
              data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
  </div>

  
  
