/* Global styles*/

body {
  font-family: "Montserrat", sans-serif;
  background: #FAFAFA;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}


/* Links */

a,
a:focus,
a:hover {
  color: #269af8;
}

a:focus,
a:hover {
  text-decoration: underline;
}

p {
  font-family: "Avenir Next", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.2px;
}

input {
  border-radius: 2px;
}


/* Custom default button */

.btn {
  border-radius: 2px;
  text-transform: uppercase;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/* Base structure */

html,
body {
  height: 100%;
  text-align: center;
}

.site-wrapper {
  display: table;
  width: 100%;
  /* For Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 100px rgba(184, 218, 255, 0.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  padding: 25px;
  padding-top: 5px;
  border-bottom-color: #333;
}

.layouthead,
.mastfoot,
.cover-container {
  width: 100%;
}


/* Header */

.layouthead {
  position: fixed;
  top: 0;
}

.layouthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.layouthead-nav>li {
  display: inline-block;
}

.layouthead-nav>li+li {
  margin-left: 20px;
}

.layouthead-nav>li>a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #999;
  /* IE8 proofing */
  border-bottom: 2px solid transparent;
}

.layouthead-nav>li>a:hover,
.layouthead-nav>li>a:focus {
  background-color: transparent;
  border-bottom-color: #999;
}

.layouthead-nav>.active>a,
.layouthead-nav>.active>a:hover,
.layouthead-nav>.active>a:focus {
  color: #333;
  border-bottom-color: #333;
}

.layouthead-name {
  margin-top: 30px;
  float: left;
}

.layouthead-nav {
  float: right;
}


/* Cover */

.cover {
  padding: 0px;
  /* top: 45%; */
  width: 100%;
  /* position: fixed; */
  margin: 10% 0;
}

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/* Footer */

.layoutfoot {
  color: #999;
  width: 100%
}


/* Start the vertical centering */

.site-wrapper-inner {
  vertical-align: middle;
}

.ws-title-position {
  float: left;
  margin-left: 25px;
}

.x_panel {
  position: relative;
  width: 90%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  opacity: 1;
  transition: all .2s ease;
  margin-top: 70px;
}

.x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
}

.x_title .filter {
  width: 40%;
  float: right;
}

.x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.x_title h2 small {
  margin-left: 10px;
}

.x_title span {
  color: #BDBDBD;
}

.x_content {
  padding: 0 5px 6px;
  position: relative;
  width: 100%;
  float: left;
  clear: both;
  margin-top: 5px;
}

.x_content h4 {
  font-size: 16px;
  font-weight: 500;
}

.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}

.form-control {
  height: 40px;
  border-radius: 2px;
}

.form-control-feedback {
  margin-top: 7px;
  height: 32px;
  color: #269af8;
  line-height: 30px;
}

.form-control-feedback.left {
  border-right: 2px solid #269af8;
  left: 15px;
}

.form-control-feedback.right {
  border-left: 2px solid #269af8;
  right: 15px;
}

.form-fields {
  min-height: 225px;
}

.btn-primary {
  color: #fff;
  background-color: #269af8;
  border-color: #269af8;
  padding-right: 42px;
  padding-left: 42px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #037ad8;
  border-color: #023e6d;
}

.btn-control {
  position: relative;
  width: 25px;
  height: auto;
  margin-top: auto;
  line-height: normal;
}

.has-feedback-right {
  padding-right: 45px;
}

.has-feedback-left {
  padding-right: 45px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

footer {
  padding: 15px 20px;
  display: block;
}

.footer_fixed footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.input-form {
  font-size: 17px;
  padding: 12px;
  height: 45px;
  margin: 0px;
  margin-bottom: 3px;
}

.btn-form {
  height: 40px;
  font-size: 17px;
}

.form-redirect {
  padding: 2px
}

.form-redirect>div>a {
  float: left;
  margin-left: 15px;
  padding: 6%;
}

#error-block {
  min-height: 80px;
  max-height: 80px;
}

.alert {
  border-radius: 2px;
}

.trim-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

input[type=search] {
  -webkit-appearance: searchfield;
}

.back-arrow {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 25px;
  float: left;
}

.back-arrow-modal {
  margin-left: 10px;
}

.workspace-panel-content {
  padding: 30px;
  margin: 0 30px 0 30px;
}

table.dataTable.no-footer {
  border-radius: 2px;
}

.workspace-panel-heading {
  text-align: left;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.m-10 {
  margin: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.w-180 {
  width: 180px;
}

.popup-panel-heading {
  text-align: left;
}

.btn-lg-arrow {
  margin-top: 50px;
}

.link {
  color: #269AF8;
  cursor: pointer;
}

.link:hover {
  color: #037AD8;
}

.link:focus,
.link:hover {
  text-decoration: underline;
}

i.link:focus,
i.link:hover {
  text-decoration: none;
}
.cur-p {
  cursor: pointer;
}
.col-archon-blue {
  color: #269AF8;
}
.disp-bl {
  display: block
}
.archon-icon {
  cursor: pointer;
  color: #269AF8;
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}

.inline-loader {
  position: absolute;
  right: 25px;
  margin: 3px;
}
.bg-disabled, .bg-disabled:hover {
  background-color: #ccc !important;
  cursor: default !important;
}

/* Data tables */
.cur-p {
  cursor: pointer;
}

.col-archon-blue {
  color: #269AF8;
}


.disp-bl {
  display: block
}

.archon-icon {
  cursor: pointer;
  color: #269AF8;
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}

.icon-disabled {
  color: #ccc;
  cursor: default;
}
/* Data tables */

/* Data tabes end */



/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 30%;
  margin-bottom: 5px;
  margin-left: -18px;
  padding: 6px;
  width: 55px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 12px;
  line-height: 0.8;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 4px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


.archon-names {
  text-align: center;
}
.archon-names [data-tooltip]:before {
  left: 20%;
  line-height: 1.3;
  width: 200px;
}
.archon-names-100 [data-tooltip]:before{
  left: 38%;
  width: 100px;
}

/**
 * Tooltip Styles End
 */

