<!-- <div class="row" fxFlexFill fxLayout="column" fxLayoutAlign="start stretch" id="analysis-view" style="padding-bottom: 10px;">
  <div fxflex fxlayout>
  <div fxFlex="26%" class="col-md-3" id="table-list"> -->
<div class="row" id="analysis-view" style="padding-bottom: 2%;">
  <div class="col-md-3" id="table-list">
    <div class="card">
      <div class="card-body">
        <div class="table-list">
          Table List <span [ngClass]="{'archon-loading-icon' : !isAvailable}" id="loading-icon"></span>
        </div>

        <div class='body-left'>
          <span style="z-index:1; margin-right:0px;text-decoration: none"
            class="glyphicon glyphicon-search inner-addon right-addon search-icon"></span>
          <input type="text" style="width: 89%;" class="form-control search-input" [(ngModel)]="searchTableName"
            id="listSearch" (keyup)="searchTablelist()" placeholder="Search Table">
        </div>

        <div class="tablename-list da-table-parent">
          <div class="list-group" id="list-tab" role="tablist"
            *ngFor="let table of tableList | paginate: {id: 'tablelist', itemsPerPage: 50, totalItems: schemaResultsTableCount, currentPage: page } | searchTable:searchTableName">
            <button type="button" class="btn btn-default list-group-item da-table" title="{{table.tableName}}"
              (click)="highlightTable($event, true, table); joinTable(table);">
              <div class="overflow-text">{{table.tableName}}
              </div>
              <div class="overflow-text-arrow"> <i class="fa fa-angle-right unselected"></i> </div>
            </button>
          </div>
          <h5 *ngIf="isTablelistAvailable">
            No Tables Available
          </h5>
        </div>
      </div>
      <div class="card-footer" style="height: 40px;margin-top: 3%;">
        <pagination-controls id="tablelist" (pageChange)="getPage(page = $event)"></pagination-controls>
      </div>
    </div>
  </div>
  <!-- <div fxFlex="68%" class="col-md-8 col-md-offset-2.5"> -->
  <div class="col-md-8 col-md-offset-2.5">
    <div class="card">
      <div class="card-body default-load" *ngIf="defaultModel">
        <h2 class="default-info">Choose one of the listed tables to view relationship information with other tables</h2>
      </div>
      <div class="card-body" *ngIf="!homeStage && !dataAModal">
        <router-outlet></router-outlet>
      </div>
      <div class="card-body" *ngIf="homeStage">
        <div class="col-md-12 card-header">
          <div class="col-md-3">
            <div class="card-title">Relationship Info</div>
          </div>
        </div>

        <div class="container-tab">
          <div class="col-md-12 primary-table">
            <h5 class="card-title sub-headerr">Primary Table:
              <strong>{{tableName}}</strong>
            </h5>
          </div>
        </div>
        <div class="row table-headers" *ngIf="isRelationShipAvailable" style="padding-bottom: 10px;">
          <div class="col col-md-3 sec-width" style="font-weight: bold">

            Secondary Table

          </div>
          <div class="col col-md-3 def-width" style="font-weight: bold">

            Definition Type

          </div>
          <div class="col col-md-3 conf-width" style="font-weight: bold">

            Config Mode

          </div>
          <div class="col col-md-3 join-width" style="font-weight: bold">

            Join Name

          </div>
        </div>
        <div class="row table-headers" *ngIf="!isRelationShipAvailable">
          <h5 style="padding-top: 30%; padding-left: 40%">
            Currently no relationship information available
          </h5>
        </div>
        <mat-accordion [multi]="true">
          <div class="items-list" style="padding-left: 0px" *ngIf="isRelationShipAvailable">
            <mat-expansion-panel #mep="matExpansionPanel" *ngFor="let relation of relationshipInfo;let ind=index;">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="expansion-outer">
                    <div title="{{relation.secondaryTable.tableName}}" class="expansion-item-sec">
                      {{relation.secondaryTable.tableName}}</div>
                    <div class="expansion-item-def"> {{relation.definitionType}}</div>
                    <div class="expansion-item-def"> {{relation.analysisMode}}</div>
                    <div title="{{relation.joinName}}" class="expansion-item-join">{{relation.joinName}}</div>
                    <div class="exp-trash-item">
                      <a data-toggle="modal" href="#confirmDelMemModal"
                        [matTooltip]="permissionToUser==='READ'?'Permission Denied':''"
                        (click)=" !(permissionToUser==='READ') &&  deleteRelationship(ind)">
                        <i class="material-icons" style="font-size: 23px"
                          *ngIf="serviceActionType === 'WRITE' || serviceActionType === 'ALL'">delete
                        </i>
                      </a>
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="line"></div>
              <div>
                <div class="exp-content-outer border-top-line">
                  <div class="exp-mat-item">
                    <strong>Primary Table Column</strong>
                  </div>
                  <div class="exp-mat-item">
                    <strong>Secondary Table Column</strong>
                  </div>
                </div>
                <div class="exp-content-outer" *ngFor="let x of relation.joinListInfo">
                  <div class="exp-mat-item">{{x.primaryColumn.columnName}}</div>
                  <div class="exp-mat-item">{{x.secondaryColumn.columnName}}</div>
                </div>
                <div class="action-btn">
                  <button class="mat-raised-button cancel btn-padding"
                    (click)="mep.expanded = !mep.expanded">Close</button>
                  <button *ngIf="permissionToUser!=='READ'" class="save mat-raised-button btn-padding"
                    data-toggle="modal" data-keyboard="false" data-backdrop="static"
                    data-target="#openEditRelationshipModal" (click)="openEditRelationship(relation)">Edit</button>
                </div>
              </div>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </div>
      <app-edit-relationship-info class="modal fade" (updateEvent)="refreshRelation($event)"
        id="openEditRelationshipModal" [relation]="editValues" [workspaceID]="workspaceID" role="dialog">
      </app-edit-relationship-info>
      <!-- Data Analyzer -->
      <div *ngIf="dataAModal" id="relationshipCard">
        <div class=" {{newWSinfo ? 'msg-modal' : ''}}" role="worskspace">
          <div class="text-left">
            <div class="modal-header" id="arch-hdr">
              <div class="col-md-5 analyze-header">Relationship Info</div>
            </div>
            <div class="modal-body row">
              <div class="col-md-12" style="margin-bottom: 12px;">
                <div class="back-arrowr" id="da-arrow">
                  <a class="arrow" (click)="gotoBack();resetDataAModal()" mat-tooltip="Back">
                    <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="title-header">Data Analyzer</div>
              </div>
              <div class="container-tab">
                <div class="col-md-12 primary-table" style="margin-top: 0px; margin-bottom: 21px;">
                  <h5 class="card-title sub-headerr">Primary Table:
                    <strong>{{tableName}}</strong>
                  </h5>
                </div>
              </div>
              <div class="container-da">
                <div class="col-md-12 mat-elevation-z2">
                  <div class="mat-step-data-analyzer" *ngIf="!newWSinfo">
                    <mat-horizontal-stepper [selectedIndex]="stepperIndex" #stepper labelPosition="bottom">
                      <mat-step label="Primary Column">
                        <div class="col-md-12 dataA-panel-body">

                          <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
                            <div class="col-md-10"
                              style="margin-left: 6%; width: 88%;padding-left: 0px; padding-right: 0px;">
                              <div class="col-md-6" style="padding-left: 0px; padding-right: 0px;">
                                <span style="z-index:1; margin-right:3%;"
                                  class="glyphicon glyphicon-search inner-addon right-addon search-icon"></span>
                                <input type="text" style="width: 89%; margin-left: 3%" class="form-control search-input"
                                  [(ngModel)]="searchPrimary" placeholder="Search Column">
                              </div>

                              <div class="col-md-6">
                                <div class="selected-sty">
                                  {{selectedPrimColMap.size}} out of {{primColArray.length}} selected
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="col-md-10 ana-br p-0" title="Select All" style="margin-top: 15px;margin-left: 6%;
                            width: 88%; font-weight: 600;">
                              <!-- <mat-checkbox style="float:left; padding-top: 5px;" (change)="selectAll($event)" ></mat-checkbox> -->
                              <input type="checkbox" style="margin-right: 10px;" (change)="selectAll($event)">
                              Select All
                              <span class="col-loader"
                                [ngClass]="{'archon-loading-icon' : primColArray.length === 0}"></span>
                            </div>
                            <div class="col-md-10 dataA-scrollable-div" id="panel-0" style="margin-left: 6%;
                            width: 88%;">
                              <div class="col-md-12">
                              </div>
                              <div class="col-md-12 list-block" style="padding-left: 0px; padding-right: 0px;">
                                <div class="col-md-12 plr-0"
                                  *ngFor="let pColumn of primColArray| searchTable : searchPrimary | paginate: {id: 'dalist0', itemsPerPage: 50, totalItems: primColArray.length, currentPage: primaryPage } let i=index;">
                                  <div [class.selected]="i == selectedRow" class="col-md-12 trim-text ana-br da-table"
                                    id="list-br" title="{{pColumn.column_name}}">
                                    <input id="{{pColumn}}" type="checkbox" [checked]="pColumn.selected"
                                      (change)="toggleColSelection($event, true, pColumn)" (click)="bgsel(i)"
                                      class="m-r-10">
                                    {{pColumn.columnName}}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-11" style="float: right; 
                        margin-right: 4%;" id="table-list">
                          <pagination-controls id="dalist0" (pageChange)="primaryPage = $event"></pagination-controls>
                        </div>
                        <div class="col-md-10" style="margin-left: 8%;">
                          Percentage of Rows to consider for Analysis
                          <input mat-input type="number" class="inpt-sty" placeholder="Analysis"
                            [(ngModel)]="analysisRowCount" min="1" max="100">
                        </div>

                        <div class="col-md-12 action-btn" style="text-align: right">
                          <button type="button" (click)="gotoBack();resetDataAModal()" class="btn cancel btn-padding"
                            style="margin-right: 10px;">Cancel</button>
                          <button type="button" [disabled]="selectedPrimColMap.size===0"
                            (click)="gotoSecTableAndColSelection($event,stepper)"
                            class="btn {{selectedPrimColMap.size===0? 'save-disabled': 'save'}} btn-padding matStepperNext"
                            style="margin-right: -3%;">Next</button>
                        </div>
                      </mat-step>
                      <mat-step label="Secondary Table">
                        <div class="dataA-panel-body" id="panel-1" style="margin-left:0px">
                          <div class="col-md-12" style="margin-left: 2%;padding-left: 0px;padding-right: 0px;">

                            <div class="col-md-6" style="height: 295px;padding-left: 0px;padding-right: 0px;">
                              <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                                <div class="col-md-6" style="margin-top: 9px; margin-left: 3px;">
                                  <h4 style="font-weight: 600">Secondary Table</h4>
                                </div>
                                <div class="col-md-6" style="margin-top: 2px;margin-left: -9%;">
                                  <div class="selected-sty1">
                                    {{selectedSecTbl.size}} out of {{secTblArray.length - 1}} selected
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                                <div class="body-left" style="margin-bottom: 10px; width: 98.7%; margin-left: -4px;">
                                  <span style="z-index:1; margin-right:3%;"
                                    class="glyphicon glyphicon-search inner-addon right-addon search-icon"></span>
                                  <input type="text" style="width: 86%" class="form-control search-input "
                                    [(ngModel)]="searchSec1" placeholder="Search Table">
                                </div>
                              </div>

                              <div class="col-md-12" style="margin-left: 2px;padding-right: 12%;">
                                <div class="col-md-12 p-0 dataA-scrollable-div">
                                  <div class="da-table-parent">
                                    <div class="col-md-12 p-0"
                                      *ngFor="let secTbl of secTblArray | searchTable : searchSec1 | paginate: {id: 'dalist1', itemsPerPage: 50, totalItems: schemaResultssecTableCount, currentPage: pagesec } let i=index;"
                                      [hidden]="secTbl.tableName === selectedPrimTbl">
                                      <div class="col-md-12 cur-p da-table trim-text ana-br sec-br" id="list-br"
                                        title="{{secTbl.tableName}}" (click)="highlightTable($event, false, secTbl)">
                                        <input id="{{prefixSecTblId + (secTbl.tableName)}}" class="cb-{{i}}"
                                          type="checkbox" (change)="toggleSecTblSelection($event, secTbl)"
                                          class="m-r-10" [checked]="secTbl.selected">
                                        {{secTbl.tableName}}
                                        <i class="fa fa-angle-right unselected"></i>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-12" id="table-list" style="margin-top: 18px;float: right; 
                                  margin-right: -4%;padding-right: 0px;">
                                  <pagination-controls id="dalist1" (pageChange)="getsecPage(pagesec = $event)">
                                  </pagination-controls>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6" *ngIf="secColArray.length > 0"
                              style="padding-left: 0px; padding-right: 0px;">
                              <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                                <div class="col-md-6" style="margin-top: 9px; margin-left: 3px;">
                                  <h4 style="font-weight: 600">Column List</h4>
                                </div>
                                <div class="col-md-6" style="margin-top: 2px;margin-left: -9%;">
                                  <div class="selected-sty2">
                                    {{selectedSecColMap.size}} out of {{secColArray.length}} selected
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
                                <div class="body-left" style="margin-bottom: 10px; width: 99%; margin-left: 0px;">
                                  <span style="z-index:1; margin-right:5%"
                                    class="glyphicon glyphicon-search inner-addon right-addon search-icon"></span>
                                  <input type="text" class="form-control search-input " [(ngModel)]="searchSec2"
                                    placeholder="Search Column">
                                </div>
                              </div>

                              <div class="col-md-12 p-0 dataA-scrollable-div" id="panel-1" style="margin-left: 4.8%;                                
                                  width: 83%;">
                                <div class="col-md-12 p-0">
                                  <div class="col-md-12 column-header ana-br" title="Select All"
                                    style="font-weight: 600">
                                    <input type="checkbox" style="margin-right: 10px; font-weight: 600"
                                      (change)="selectAllSec($event)">
                                    Select All
                                    <span class="col-loader"
                                      [ngClass]="{'archon-loading-icon' : secColArray.length === 0}"></span>
                                  </div>
                                </div>
                                <div class="col-md-12 p-0"
                                  *ngFor="let sColumn of secColArray | searchTable : searchSec2 | paginate: {id: 'dalist2', itemsPerPage: 50, totalItems: secColArray.length, currentPage: pageColumn } let c=index;"
                                  id="secondaryColums">
                                  <div [class.selected]="c == selectedRow" class="col-md-12  trim-text ana-br da-table"
                                    id="list-br" title="{{sColumn.columnName}}">
                                    <input id="{{SecondaryTableName + secTblColJoiner + sColumn.columnName}}" class="cb"
                                      type="checkbox" (change)="toggleColSelection($event, false, sColumn)"
                                      checked="{{sColumn.selected ? 'checked' : null}}" class="m-r-10 m-r-sec"
                                      [checked]="sColumn.selected" (click)="bgcol(c)">
                                    {{sColumn.columnName}}
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-12" id="table-list" style="margin-top: 18px;float: right; 
                                  margin-right: 4%;">
                                <pagination-controls id="dalist2" (pageChange)="pageColumn = $event">
                                </pagination-controls>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="action-btn" style="text-align: right">
                          <button (click)="gotoPrimarySel($event,stepper)"
                            class="btn cancel btn-padding">Previous</button>
                          <button style="margin-right: -1%" (click)="gotoAnalyze($event,stepper)"
                            [disabled]="finalSecColMap.size===0"
                            class="btn {{finalSecColMap.size===0? 'save-disabled': 'save'}} btn-padding matStepperNext">Next</button>
                        </div>
                      </mat-step>
                      <mat-step label="Data Analysis">
                        <div class="panel-body dataA-panel-body-r" id="panel-1">
                          <div class="col-md-4 dataA-scrollable-div-A">
                            <div class="col-md-12 plr-0" style="margin-bottom: 12px;">
                              <h4 style="font-weight: bold;">Primary Table Columns</h4>
                            </div>
                            <div class="col-md-12 plr-0" *ngFor="let x of finalPrimColArray">
                              <div class="col-md-12 trim-text ana-br" id="list-br" title="{{x.columnName}}">
                                {{x.columnName}}
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 dataA-scrollable-div-A">
                            <div class="col-md-12 plr-0" style="margin-bottom: 12px;">
                              <h4 style="font-weight: bold;">Secondary Tables</h4>
                            </div>
                            <div class="col-md-12 plr-0" *ngFor="let x of finalSecondaryTableList; let i = index"
                              (click)="finalSecCol(x,i)">
                              <div [class.selected]="i == selectedRow" class="col-md-12 cur-p trim-text ana-br da-table"
                                id="list-br" title="{{x.tableName}}">
                                {{x.tableName}}
                                <i class="fa fa-angle-right unselected"></i>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 dataA-scrollable-div-A">
                            <div class="col-md-12 plr-0" style="margin-bottom: 12px;">
                              <h4 style="font-weight: bold;">Secondary Column Names</h4>
                            </div>
                            <div class="col-md-12 plr-0" *ngFor="let x of finalSecColArray">
                              <div class="col-md-12 trim-text ana-br" id="list-br" title="{{x.columnName}}">
                                {{x.columnName}}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="action-btn" style="text-align: right">
                          <button (click)="gotoSecTableAndColSelection($event,stepper)"
                            class="btn cancel btn-padding matStepperPrevious">Previous</button>
                          <button data-keyboard="false" style="margin-right: -1%" data-backdrop="static"
                            data-toggle="modal" href="#analyzes" (click)="dataAnalyse()"
                            class="btn save btn-padding matStepperNext">Analyze</button>
                        </div>
                      </mat-step>
                      <mat-step label="Result">
                        <div class="panel-body dataA-panel-body-r" id="panel-r">
                        </div>
                      </mat-step>
                    </mat-horizontal-stepper>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<button type="button" style="display: none" id="open-analyzer-popup" data-toggle="modal"
  data-target="#analyzes"></button>
<button type="button" style="display: none" id="close-analyzer-popup" data-dismiss="modal"></button>
<!--  start analyze popup -->
<div id="analyzes" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 680px;">
    <div class="modal-content">
      <div class="modal-header info-popup-header-cls">
        <h4 class="modal-title popup-title-cls">
          <i class="material-icons popup-material-icon-cls" style="font-size: 22px;">image_search</i>
          <div class="pop-title" style="margin-left: 0px;">Analysis {{JobStatus}}</div>
        </h4>
      </div>
      <div class="modal-body" style="height: 180px;">

        <div class="col-md-12">
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
            </div>
          </div>

          <div class="col-md-12">
            <div class="progress-back" style="vertical-align: middle;">
              <div class="msg">
                Data analysis scheduled. Please wait until the current job finishes to schedule another data analysis
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn save btn-padding" (click)="gotoBack()" data-dismiss="modal">Run As
          Background</button>
        <button type="button" class="btn save btn-padding" (click)="getJobStatus()" style="margin-left: 10px;"
          data-dismiss="modal">Refresh</button>
      </div>
    </div>
  </div>
</div>
<!--  end analyze popup -->

<!--  start analyze popup error-->
<button style="display:none" type="button" id="anaerror" class="btn btn-info btn-lg" data-keyboard="false"
  data-backdrop="static" data-toggle="modal" data-target="#analyzeserror">Open Modal</button>

<div id="analyzeserror" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 480px;">
    <div class="modal-content">
      <div class="error-popup-header-cls">
        <h4 class="popup-title-cls">
          <i class="material-icons popup-material-icon-cls" style="font-size: 22px;margin-top: 12px;">error_outline</i>
          <div class="pop-title" style="margin-left: 0px;margin-top: 12px;">Failed</div>
        </h4>
      </div>
      <div class="modal-body">
        <p class="popup-paragraph-cls">Data analysis failed</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-padding btn-error-popup-primary-color" (click)="closeScreen();"
          data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
<!--  end analyze popup error -->

<!-- relationship delete -->
<div class="modal fade" id="confirmDelMemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

  <div class="modal-dialog" style="width: 480px;">
    <div class="modal-content">
      <div class="error-popup-header-cls">
        <h4 class="popup-title-cls">
          <i class="material-icons popup-material-icon-cls" style="font-size: 22px;margin-top: 15px;">error_outline</i>
          <div class="pop-title" style="margin-left: 0px;margin-top: 15px;">Delete Confirmation</div>
        </h4>
      </div>
      <div class="modal-body">
        <p class="popup-paragraph-cls"> Are you sure you want to delete this relationship? </p>
      </div>
      <div class="modal-footer">
        <div *ngIf="deleteNotif?.show" class="alert alert-danger alert-dismissible m-t-10" role="alert">
          <button type="button" class="close" (click)="closeErrorMsg()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Error!</strong> {{deleteNotif?.message}}
        </div>
        <button type="button" id="dismissmodel" class="btn btn-padding btn-secondary-popup" (click)="closeErrorMsg();"
          data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-padding btn-error-popup-primary-color"
          (click)="confirmDelete();">OK</button>
        <!-- <div class="action-btn">
                <button class="mat-raised-button cancel btn-padding" (click)="closeErrorMsg()" data-dismiss="modal">Cancel</button>
                <button class="save mat-raised-button btn-padding" (click)="confirmDelete();" disabled="{{delProgress ? 'true' : null }}">Confirm<span [ngClass]="{'archon-loading-icon' : delProgress}"></span></button> 
          </div>  -->

      </div>
    </div>
  </div>
</div>

<button style="display:none" type="button" id="successPop" class="btn btn-info btn-lg" data-keyboard="true"
  data-backdrop="static" data-toggle="modal" data-target="#confirmCancelInvite">Open Modal</button>
<div id="confirmCancelInvite" class="modal fade" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header adhoc-modal-header">
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        <p>{{message}}</p>
      </div>
      <div class="modal-footer">
        <div class="action-btn">
          <button type="button" class="mat-raised-button save btn-padding" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>

<button style="display: none" id="dataanalyze" (click)="openDataAModal()">Data Analyzer</button>
<button style="display: none" id="directjoin" (click)="adddirectjoin()">Direct
  Join</button>
<button style="display: none" id="spv" (click)="openStoredProcView($event)">SP/View Join</button>
<button style="display: none" id="exxml" (click)="exportxml()">XML</button>
<button style="display: none" id="exjson" (click)="exportjson()">JSON</button>


<button style="display: none" type="button" id="editsuccess" data-toggle="modal" data-target="#editsuccesstarget">Open
  Modal</button>
<div class="modal fade" id="editsuccesstarget" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" style="width: 480px;">
    <div class="modal-content">
      <div class="success-popup-header-cls">
        <h4 class="popup-title-cls">
          <i class="material-icons popup-material-icon-cls"
            style="font-size: 22px;margin-top: 15px;">check_circle_outline</i>
          <div class="pop-title" style="margin-left: 0px;margin-top: 15px;">Success</div>
        </h4>
      </div>
      <div class="modal-body">
        <p class="popup-paragraph-cls"> Relationship updated successfully </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-padding btn-success-popup-primary-color" data-dismiss="modal"
          (click)="closeScreen(); closeErrorMsg();">OK</button>
      </div>
    </div>
  </div>
</div>