#table-list {
  margin-left: 35px;
}

.input-group {
  padding: 5%;
}

#title-name {
  padding-right: 64%;
  margin-top: -20px;
}

#table-view-body {
  height: 350px;
}

.form-control {
  height: 40px;
  border-radius: 20px;
  width: 270px;
  margin-left: 8px;
}

.form-control-feedback {
  position: relative;
  margin-top: -34px;
  margin-left: 240px;
  height: 32px;
  color: #269af8;
  line-height: 30px;
}

.inner-addon {
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 2%;
}

#search-body {
  padding: 4%;
}

.list-group {
  padding-right: 40px;
}

.list-group-item {
  margin-left: 25px;
  /* width: 100%; */
  text-transform: capitalize;
  margin-bottom: -15px;
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
}

.table-header,
h4 {
  display: inline;
  margin-left: 75px;
  float: left;
  padding-right: 5%;
}

.well {
  margin-left: 40px;
  width: 90%;
  margin-top: 5px;
}

#item {
  text-align: center;
  margin-top: 10px;
}

#trash,
#down-arrow {
  font-size: 20px;
  padding-left: 30px;
}

.items-list {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 300px;
  padding-left: 20px;
}

.tablename-list {
  width: 230%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 250px;
}

.card {
  width: 105%;
  height: 400px;
}

button {
  border-color: grey;
}
