<div class="row" id="analysis-view">
  <div class="col-md-3" id="table-list">
    <div class="card">
      <div class="card-body" id="search-body">
        <div class="form-group has-feedback">
          <input type="text" class="form-control" id="inputSuccess2" autofocus="autofocus" />
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
        <div class="row" id="title-name">
          <h2>Tables</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2.5" id="right-side">
    <div class="card">
      <div class="card-body">
        <h3>Choose one of the listed tables to view relationship information with the other</h3>
      </div>
    </div>
  </div>
</div>
