.manage-members {
    padding: 30px;
    height: 40px;
    overflow-y: auto;
}

td{
    font-size: 14px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
th {
    font-size: 15px;
    text-align: center;
}