<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-1 back-arrow back-arrow-modal">
            <a data-tooltip="Back" data-dismiss="modal">
              <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-md-8">
            <h3 class="popup-panel-heading">
              Add New Members 
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <table *ngIf="userList.length > 0" datatable id="manage-members-table" class="display scroll" cellspacing="0" width="100%">
        <thead>
          <tr style="width: 401px;">
            <th style="width: 25px;"> Select</th>
            <th style="width: 162px;">User name</th>
            <th style="width: 254px;">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of userList">
            <td style="width: 55px;"><input class="box1" type="checkbox" /></td>
            <td style="width: 200px;">{{item.name}}</td>
            <td style="width: 270px;">{{item.emailAddress}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-popup" data-dismiss="modal">Cancel</button>
      <button type="button" (click)="addMembers()" class="btn btn-primary btn-popup" data-dismiss="modal">Add</button>
    </div>
  </div>
</div>
