

/* td{
    font-size: 14px;
    text-align: center;
    
}
th {
    font-size: 15px;
    text-align: center;
} */

table.scroll {
    /* width: 100%; */ /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    border: 1px solid;
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th { 
    height: 30px;
    line-height: 30px;
    text-align: center;
}

table.scroll tbody {
    height: 300px;
    overflow-y: auto;
    /* overflow-x: hidden; */
}

tbody { border-top: 0px; }


tbody td:last-child, thead th:last-child {
    border-right: none;
}