#nextbtn {
  position: absolute;
  right: 16px;
  margin-top: 20px;
}

#ert-table-id {
  position: relative;

  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.2
}

.search-input {
  border-radius: 0px;
  margin-left: 0px;
  width: 100%;
  height: 35px;
}

#table-heading {
  padding: 12px 0px 13px 0px;
  float: left;
  margin: 5px 0px 0px 24px;
}

.glyphicon {
  position: relative;
  top: 21px;
  margin-right: 10px;
  float: right;
  display: inline-block;

  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inner-addon {
  position: relative;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.right-addon .glyphicon {
  right: 29px;
  bottom: 53px;
  top: 56px
}

.right-addon input {
  padding-right: 30px;
}

.icon-list {
  margin: -2px -21px 0px 0px;
  font-size: 25px;
  color: #269af8;
}

.icon-list:hover {
  margin: -2px -21px 0px 0px;
  font-size: 25px;
  color: #000;
}

#sel-table-name {
  padding: 8px 28px 6px 18px;
  text-align: left;
}

input#tablename {
  border: none;
  /* border-bottom: 1px solid #2196F3;
   margin-left: 13px; */
}

#lbl-alias {
  margin-left: -20px;
  color: #2196F3;
}

#ert-tbl-search {
  padding-bottom: 13px;
  border-bottom: 0px solid #E6E9ED;
}

.pointer {
  cursor: pointer;
}

#get-tbl-list {
  z-index: 1;
  margin: 21px 0px 1px 0px;
  padding: 0px 6px 0px 71px
}

#select-tbl-list {
  width: 98%;
  border-bottom: 1px solid #E6E9ED;
  margin-left: 13px;
}

.first-div {
  display: block;
  width: 66%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  margin-left: 15px;
  text-align: left;
}

div.sticky {
  color: white;
  position: sticky;
  top: 0;
  padding: 8px 10px;
  background-color: #2196F3;
  font-size: 12px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.icon-div {
  width: 5%;
  float: right;
  margin-top: -14px;
  color: #64b5f6;
}

#select-tbl-list .scroll-div {
  height: 340px;
  overflow: auto;
}

#tbl-list .scroll-div {
  height: 323px;
  margin-top: 10px;
  max-height: 326px;
  overflow: auto;
  width: 100%;
  padding-left: 10px;
  padding-right: 15px;
}

.well {
  min-height: 30px;
  margin-bottom: 6px;
  box-shadow: inset 0 1px 1px #fcf8e3;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  padding: 7px 5px 7px 6px;
  cursor: pointer;
  border-radius: 3px;
  border: solid 1px #c8c9ca;
  background-color: #ffffff;
  opacity: 0.8;
}

.well:not(.selectTableCls):hover {
  color: #333;
  background-color: #f5f5f5;
  border-color: #8c8c8c
}

input[type=checkbox],
input[type=radio] {
  margin: 1px 0 0;
  margin-top: 1px\9;
  line-height: normal;
}

.well input[type=checkbox] {
  margin: 1.7px 0 0;
  line-height: normal;
}

input#ucolumnname {
  border: none;
  border-bottom: 1px solid #2196F3;
}

#ccm-header {
  font-weight: 600;
}

.edit-column {
  margin-top: 10px;
  margin-bottom: 5px;
}

#lbl-id {
  float: left;
  font-size: 12px;
  margin: 3xp 3px 3px 3px;
  padding: 5px 0px 5px;
}

#edit-column-div {
  border: 1px solid #E6E9ED;
}

#add-edit-column {

  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.2;
  border: 1px solid #E6E9ED;
}

.add-edit-heading {
  width: 25%;
}

#plusbtn {
  cursor: pointer;
  color: black;
}

#add-edit {
  border-bottom: 1px solid #E6E9ED;
  background-color: #2196F3;
  color: white;
  font-size: 12px;
}

.add-edit-form-item {
  float: left;
  margin: 9px 15px 11px 12px;
}

#add-edit-form {
  overflow: auto;
}

.add-edit-form-item a {
  padding: 6px 31px 4px 5px;
}

.action {
  margin: 11px 2px 12px 45px;
  text-align: start;
  float: inherit;
  font-size: 18px;
  cursor: pointer;
}

#nav-tab {
  margin: 0px 0px 11px 0px;
  background-color: #64b5f6;
}

#nav-tab a {
  float: left;
  margin: 0px 0px 0px 0px;
  padding: 7px 27px 7px 26px;
  color: white;
  font-size: 13px;
  text-decoration: none;
}

#nav-tab .active-tab {
  background-color: #2879ff;
  text-decoration: none;
}

#filter-modal .add-edit-heading {
  width: 33.33%;
  font-size: 12px;
}

#filter-modal .add-edit-form-item {
  float: left;
  font-size: 12px;
  margin: 11px 88px 23px 40px;
}

#filter-modal .action {
  margin: 8px 2px 0px 35px;
  cursor: pointer;
  padding: 10px 0px 0px 0px;
  font-size: 18px;
}

#select-tbl-list thead {
  color: #0c0c0c;
  font-size: 12px;
  letter-spacing: 0.2px;
}

#select-tbl-list td {
  text-align: left;
}

.save-extract-heading {
  width: 100%;
  border-bottom: 1px solid #E6E9ED
}

.save-extract-heading div {
  margin: 24px 350px 10px 0px;
}

.save-extract-heading label {
  padding: 15px;
}

.add-edit-form-item select {
  width: 215px
}

#config-table-header div {
  width: 20%;
  font-size: 12px;
}

#config-table div {
  width: 20%;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.config-table {
  border: 1px solid #E6E9ED;
  height: 200px;
  overflow: auto;
}

table tr td:nth-child(6) {
  cursor: pointer;
}

#config-table-header {
  background-color: #2196F3;
  color: white
}

#add-edit-tbl {
  border: 1px solid #E6E9ED;
  height: 200px;
  overflow: auto;
}

#filter-conf div.form-group.filter-well {
  float: left;
  width: 17%;
  padding: 8px 6px 7px 8px;
  margin: 10px 8px 8px 12px;
}

#filter-conf div.form-group {
  float: left;
  padding: 8px 5px 7px 8px;
  margin: 1px 9px 4px 6px;
}

#filter-option {
  border: 1px solid #E6E9ED;
  height: 395px;
}

.filter-item-list {
  border: 1px solid #E6E9ED;
  overflow: auto;
}

.filter-well {
  min-height: 22px;
  margin-bottom: 9px;
  background-color: #fff;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  /* box-shadow: inset 0 1px 1px #fcf8e3; */
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  padding: 6px 6px;
  cursor: pointer;
}

.filter-well:hover {
  background-color: #f5f5f5;
  border: 1px solid white;
}

#add-edit-column {

  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.2;
  border: 1px solid #E6E9ED;
}

#user-defined {
  border-bottom: 1px solid #E6E9ED;
  background-color: #2196F3;
  color: white;
}

#user-defined-table .add-edit-form-item {
  float: left;
  margin: 6px 0px 11px 0px;
  width: 25%;
}

#user-defined-table {
  margin: -2px 0px 1px 0px;
  border: 1px solid #E6E9ED;
  font-size: 12px;
  height: 136px;
  overflow: auto
}

.user-defined-box {
  padding: 0px 2px 3px 0px;
  border-bottom: 1px solid #E6E9ED;
  height: 39px;
}

:host {
  display: block;
  font-size: 18px;
}

.note {
  color: #999999;
  font-size: 15px;
  font-style: italic;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.filter-div {
  display: inline-block;
  border: 1px solid #E6E9ED;
  margin: 2px 2px 2px 0px;
  padding: 5px 8px 5px 15px;
}

.filter-div div {
  margin: 2px 5px 0px 24px;
  float: left;
}

.filter-toogle-div {
  color: white;
  margin: 2px;
  padding: 3px;
  text-align: left;
  background-color: #2196F3;
  font-size: 14px;
}

#avaliable-table-list {
  font-size: 12px;
  overflow: auto;
  height: 350px;
}

#avaliable-table-list div {
  padding: 4px 0px 0px 12px;
  text-align: left;
  display: inline-block;
  margin: 0px 0px 4px 0px;
}

.filter-div span {
  float: left;
  margin: 6px 2px 2px 4px;
}

alert1 {
  padding: 15px;
  border: 1px solid transparent
}

.table-list {
  background-color: #64b5f6;
  text-align: left;
  padding: 8px;
  font-size: 16px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-left: 14px;
}

.body-left {
  display: inline-block;
  padding: -1px 0px 0px 10px;
  margin-left: 10px;
  font-size: 12px;
  width: 80%;
  color: #a0a2a4;
}

.body-right {
  display: inline-block;
  float: right;
  padding: 9px 10px 0px 0px;
  font-size: 26px;
  width: 15%;
  color: #2b2b2b;
}

.alias-name {
  display: inline-block;
  padding: -1px 0px 0px 10px;
  margin-left: 10px;
  font-size: 12px;
  width: 93%;
  color: #121212;
}

.alias {
  display: inline-block;
  /* float: right;
  padding: 13px 10px 0px 0px; */
  font-size: 26px;
  width: 63%;
  color: #2b2b2b;
}

.form-control {
  font-size: 12px;
  height: 30px;
  border-radius: 2px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 4px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}

/* .edit-circle {
  text-align: center;
  font-size: 15px;  
  color: #ffffff;
  cursor: pointer;
  background-color: #6daeeb;
  width: 26px;
  height: 26px;
  border-radius: 15px;
  padding-top: 5px;
  padding-left: 3px;
}
.edit-circle:hover {
   background-color: #0A85F8;
 } */

.a {
  color: #80adf8;
}

.a:focus,
a:hover {
  color: #2879ff;
}

.fa-cog {
  font-size: 22px;
  color: #80adf8;
}

.fa-cog:hover {
  font-size: 22px;
  color: #2879ff;
}

.fa-edit {
  font-size: 22px;
  color: #80adf8;
}

.fa-edit:hover {
  font-size: 22px;
  color: #2879ff;
}

.fa-trash {
  font-size: 22px;
  color: #80adf8;
}

.fa-trash:hover {
  font-size: 22px;
  color: #2879ff;
}

.nav-tabs>li>a {
  background: transparent;

}

.nav-tabs>li>a:hover {
  background: transparent;
  border: 1px solid transparent;
}

.nav-tabs {
  border-bottom: 0px solid #ddd;
}

.cancelBtn {
  color: #fff;
  background-color: #64b5f6;
  border-color: #64b5f6;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.cancelBtnp {
  color: #fff;
  background-color: #64b5f6;
  border-color: #64b5f6;
  padding-right: 25px;
  padding-left: 25px;
  text-transform: capitalize;
}

.next {
  color: #fff;
  background-color: #2879ff;
  border-color: #2879ff;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.back {
  color: #fff;
  background-color: #2879ff;
  border-color: #2879ff;
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

/* .modal-header {
  padding: 4px;
  padding-left: 15px;
  background-color: #2879ff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
} */

.modal-title {
  float: left;
  display: inline-block;
  font-size: 18px;
  padding: -1px 15px 10px 15px;
  text-align: left;
  color: #ffffff;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  /* color: inherit; */
}

a.disabled {
  color: gray;
  cursor: not-allowed;
  text-decoration: underline;
}

.alert-hide {
  display: none;
}

.alert-show {
  display: block;
}

.selectTableCls {
  border-radius: 3px;
  border: solid 1px #64b5f6;
  background-color: #e8f0f6
}

.inline-loader-ert {
  position: absolute;
  margin: 3px
}

#create-job-select-table-list {
  text-align: left;
  height: 350px;
  overflow: auto
}

.mb-5 {
  margin-bottom: 5px;
}

.align-checkbox {
  vertical-align: text-top;
}

.search-original-table {
  font-size: 12px;
  color: #121212;
  margin-bottom: 4px;
}

.startIndex {
  margin-right: 2%;
  width: 50%;
  border: none;
  border-bottom: 1px solid #2196F3
}

.endIndex {
  width: 50%;
  border: none;
  border-bottom: 1px solid #2196F3
}

.select-all-checkbox {
  vertical-align: middle;
  margin-right: 2px;
}

.add-time-div {
  width: 100%;
  border: none;
  border-bottom: 1px solid #2196F3
}

.error-div {
  text-align: -webkit-left !important;
  font-size: 14px !important;
  font-family: roboto !important;
  line-height: 1.42857143 !important;
}

.filter-add-or {
  background-color: #2879ff;
  color: #fff;
  transition: 0.5s;
}

.filter-add-or:hover {
  transform: scale(1.1, 1.1);
  background-color: #2879ff;
  color: #fff;
}

.filter-add-or-disabled {
  background-color: #2879ff;
  color: #fff;
}

.btn-padding-filter {
  font-size: 16px;
  padding: 4px 12px;
  float: left;
  margin-left: 2px;
  margin-right: 24px;
  float: left;
}

.margin-span {
  margin-right: 26px !important;
}