#nextbtn {
  position: absolute;
  right: 16px;
  margin-top: 20px;
}

#ert-table-id {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.2
}

.search-input {
  border-radius: 20px;
  margin-left: 20px;
  width: 85%;
}

#table-heading {
  padding: 12px 0px 13px 0px;
  float: left;
  margin: 5px 0px 0px 24px;
}

.inner-addon {
  position: relative;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.right-addon .glyphicon {
  right: 29px;
  bottom: 53px;
  top: 56px
}

.right-addon input {
  padding-right: 30px;
}

.icon-list {
  margin: -4px -10px 0px 0px;
  font-size: 16px;
  color: #269af8;
}

#sel-table-name {
  padding: 11px 28px 9px 37px;
  text-align: left;
}

input#tablename {
  border: none;
  border-bottom: 1px solid #2196F3;
  margin-left: 13px;
}

#lbl-alias {
  float: left;
  margin-left: 20px;
  color: #2196F3;
  padding: 1px;
}

#ert-tbl-search {
  padding-bottom: 13px;
  border-bottom: 2px solid #E6E9ED;
}

.pointer {
  cursor: pointer;
}

#get-tbl-list {
  z-index: 1;
  margin: 21px 0px 1px 0px;
  padding: 0px 6px 0px 71px
}

#select-tbl-list {
  width: 98%;
  border-bottom: 2px solid #E6E9ED;
  margin-left: 13px;
}

.first-div {
  display: block;
  width: 66%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  margin-left: 27px;
  text-align: left;
}

div.sticky {
  color: white;
  position: sticky;
  top: 0;
  padding: 8px 10px;
  background-color: #1abc9c;
  font-size: 13px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.icon-div {
  width: 5%;
  float: right;
  margin-top: -16px;
  color: cornflowerblue;
}

#select-tbl-list .scroll-div {
  height: 303px;
  overflow: scroll;
}

#tbl-list .scroll-div {
  height: 326px;
  overflow: scroll;
}

.well {
  min-height: 22px;
  margin-bottom: 9px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px #fcf8e3;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  padding: 10px 10px;
  cursor: pointer;
}

.well:hover {
  background-color: #f5f5f5;
  border: 1px solid white;
}

input#ucolumnname {
  border: none;
  border-bottom: 1px solid #2196F3;
}

#ccm-header {
  font-weight: 600;
}

.edit-column {
  margin-top: 10px;
  margin-bottom: 5px;
}

#lbl-id {
  float: left;
  margin: 3xp 3px 3px 3px;
  padding: 10px 0px 5px;
}

#edit-column-div {
  border: 2px solid #E6E9ED;
}

#add-edit-column {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.2;
  border: 2px solid #E6E9ED;
}

.add-edit-heading {
  width: 25%;
}

#plusbtn {
  cursor: pointer;
  color: black;
}

#add-edit {
  border-bottom: 2px solid #E6E9ED;
  background-color: #1abc9c;
  color: white;
}

.add-edit-form-item {
  float: left;
  margin: 9px 15px 11px 12px;
}

#add-edit-form {
  overflow: auto;
}

.add-edit-form-item a {
  padding: 6px 31px 4px 5px;
}

.action {
  margin: 23px 2px 12px 35px;
  cursor: pointer;
}

#nav-tab {
  margin: 0px 0px 11px 0px;
  background-color: #0a6f5b;
}

#nav-tab a {
  float: left;
  margin: 0px 0px 0px 28px;
  padding: 7px 27px 7px 26px;
  color: white;
  font-size: 13px;
}

#nav-tab .active-tab {
  background-color: cadetblue;
}

#filter-modal .add-edit-heading {
  width: 33.33%;
}

#filter-modal .add-edit-form-item {
  float: left;
  margin: 11px 88px 23px 40px;
}

#filter-modal .action {
  margin: 8px 2px 0px 35px;
  cursor: pointer;
  padding: 17px 0px 0px 0px;
}

#select-tbl-list thead {
  font-family: "Montserrat", sans-serif;
  background-color: #1abc9c;
  color: white;
  font-size: 13px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

#select-tbl-list td {
  text-align: left;
}

.save-extract-heading {
  width: 100%;
  border-bottom: 2px solid #E6E9ED
}

.save-extract-heading div {
  margin: 24px 350px 10px 0px;
}

.save-extract-heading label {
  padding: 15px;
}

.add-edit-form-item select {
  width: 215px
}

#config-table-header div {
  width: 20%;
}

#config-table div {
  width: 20%;
}


.config-table {
  border: 2px solid #E6E9ED;
  height: 200px;
  overflow: auto;
}

table tr td:nth-child(6) {
  cursor: pointer;
}

#config-table-header {
  background-color: #1abc9c;
  color: white
}

#add-edit-tbl {
  border: 2px solid #E6E9ED;
  height: 200px;
  overflow: auto;
}

#filter-conf div.form-group.filter-well {
  float: left;
  width: 17%;
  padding: 8px 6px 7px 8px;
  margin: 10px 8px 8px 12px;
}

#filter-conf div.form-group {
  float: left;
  padding: 8px 5px 7px 8px;
  margin: 1px 9px 4px 6px;
}

#filter-option {
  border: 2px solid #E6E9ED;
  height: 395px;
}

.filter-item-list {
  border: 2px solid #E6E9ED;
  overflow: auto;
}

.filter-well {
  min-height: 22px;
  margin-bottom: 9px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px #fcf8e3;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  padding: 10px 10px;
  cursor: pointer;
}

.filter-well:hover {
  background-color: #f5f5f5;
  border: 1px solid white;
}

#add-edit-column {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.2;
  border: 2px solid #E6E9ED;
}

#user-defined {
  border-bottom: 2px solid #E6E9ED;
  background-color: #1abc9c;
  color: white;
}

#user-defined-table .add-edit-form-item {
  float: left;
  margin: 5px 0px 11px 0px;
  width: 25%;
}

#user-defined-table {
  margin: 8px 3px 1px 0px;
  border: 2px solid #E6E9ED;
  height: 166px;
  overflow: auto
}

.user-defined-box {
  padding: 8px 2px 3px 0px;
  border-bottom: 2px solid #E6E9ED;
  height: 50px;
}



:host {
  display: block;
  font-size: 18px;
}

.note {
  color: #999999;
  font-size: 15px;
  font-style: italic;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.filter-div {
  display: inline-block;
  border: 2px solid #E6E9ED;
  margin: 2px 2px 2px 0px;
  padding: 5px 8px 5px 15px;
}

.filter-div div {
  margin: 0px 5px 0px 24px;
  float: left;
}

.filter-toogle-div {
  margin: 2px;
  padding: 3px;
  text-align: left;
  background-color: #2196F3;
}

#avaliable-table-list {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.2;
}

#avaliable-table-list div {
  padding: 9px 0px 0px 9px;
  text-align: left;
  display: inline-block;
  margin: 0px 0px 4px 0px;
}
