<div id="ert-table-id">
  <div class="row">
    <div class="col-md-3">
      <div class="card" style="height:455px; margin-left: 25px;">
        <div class="table-list">
          Table List
        </div>
        <div class='body-left'><span style="z-index:1"
            class="glyphicon glyphicon-search inner-addon right-addon"></span>
          <input type="text" class="form-control search-input" [(ngModel)]="searchTableName" id="listSearch"
            (keyup)="searchTablelist()" placeholder="Search Table"></div>

        <div class='body-right'>

          <a (click)="getErtAvailableTable()" matTooltip="Add More Table" *ngIf="showAvilableBtn" class="cursor-poniter"
            data-toggle="modal" data-target="#ert_available_table_modal"><i class="fa fa-plus-circle"></i></a></div>


        <div class="card-body" id="ert-tbl-search">
          <div *ngIf="!showNoTablesMsg" id="tbl-list" style="height: 326px;">
            <div class="scroll-div border">
              <div
                *ngFor="let item of selectedTableList | paginate: { itemsPerPage: itemsPerPage, totalItems: schemaResultsTableCount, currentPage: page } | searchTable:searchTableName"
                (click)="getERTcolumnlist(item.tableId,$event)"
                [ngClass]="item.tableId===selectedTableId ?'selectTableCls well':'well'">
                <div><input [disabled]="item.isSelected && (from=='data-record' || from=='SIP')" style="float:left"
                    (click)="selectTable(item.tableId,item.tableName,$event)" [(ngModel)]="item.isSelected"
                    type="checkbox"></div>
                <div class="first-div">{{item.tableName}}</div>
                <div>
                </div>
              </div>
            </div>
            <pagination-controls *ngIf="this.ertJobId === undefined" (pageChange)="getPage(page = $event)">
            </pagination-controls>
          </div>
          <h4 *ngIf="showNoTablesMsg" style="margin-top: 50%;" >No tables available</h4>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card" style="height:455px; margin-right: 25px;">
        <div class="table-list">
          Selected Table Columns List
        </div>
        <div class="card-body">
            <ng-container *ngIf="!showNoTablesMsg">
          <div class="row">
            <div class="col-md-5" id="sel-table-name">
              <div class='alias-name'>

                <mat-form-field>
                  <input type="text" matInput name="tablename" id="tablename" [(ngModel)]="modifiedTableName"
                    placeholder="Table Alias Name" (keyup)="toModifiedTableName()">
                </mat-form-field>
              </div>
            </div>

            <div id="" class="col-md-4">
              <div *ngIf="errorMsg!==''" class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" (click)="closeErrorMsg()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button> {{errorMsg}}
              </div>
            </div>

            <div class="col-md-3">
              <ul class="nav nav-tabs mgmt-panel fl-r" style="margin-right: 12px;">
                <li matTooltip="Add User Defined Column" class="icon-list trim-text"><a href="#"
                    (click)="openUsrDefinedColumnModel('addNewColumn')" data-toggle="modal"
                    data-target="#add-edit-user-defined-column-modal"><i class="fa fa-plus-circle edit-circle"></i></a>
                <li>
                <li matTooltip="Add Filter" style="cursor:pointer" class="icon-list trim-text"><a
                    (click)="openFilteronfig()"><i class="fa fa-filter"></i></a>
                <li>
                <li matTooltip="Reset all modification" data-toggle="modal" data-target="#reset_confirm_model"
                  class="icon-list trim-text"><a class="cursor-poniter"><i class="fa fa-undo"></i></a>
                <li>
              </ul>
            </div>
          </div>
          <div id="select-tbl-list">
            <ngx-spinner bdOpacity=0.9 bdColor="#f9f9f9" size="medium" color="#0a85f8" type="ball-beat"
              [fullScreen]="true">
              <p style="color: #000000"> Loading... </p>
            </ngx-spinner>
            <div *ngIf="!showNoTablesMsg" class="scroll-div">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Include</th>
                    <th>Column</th>
                    <th>Column(As required in Output)
                    <th>Type</th>
                    <th>Config</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of showColumns()">
                    <td><input (change)="selectColumns(item?.originalColumnName,item?.isSelected)"
                        [(ngModel)]="item.isSelected" type="checkbox"></td>
                    <td>{{item?.originalColumnName}} <i [ngClass]="{'fa fa-key':item?.isKey}"></i></td>
                    <td><input class="form-control" type="text" (ngModelChange)="item.modifiedColumnName=$event"
                        [ngModel]="item?.modifiedColumnName"></td>
                    <td>{{item?.dataType}}</td>
                    <td><a *ngIf="item.dataType!=='USERDEFINED'" href="" data-toggle="modal"
                        (click)="openModelForColumnConfig(item?.originalColumnName,item?.dataType)"
                        [attr.data-target]="item.dataType==='USERDEFINED' ? '#config-modal' : '#config-modal'"><i
                          class="fa fa-cog"></i></a></td>
                    <td><a *ngIf="item.dataType==='USERDEFINED'"
                        (click)="openUsrDefinedColumnModel(item?.originalColumnName)" data-toggle="modal"
                        data-target="#add-edit-user-defined-column-modal"><i class="fa fa-edit"></i></a></td>
                    <td><a (click)="deleteUsrDefinedColumnForEdit(item?.originalColumnName)"
                        *ngIf="item.dataType==='USERDEFINED'"><i class="fa fa-trash"></i></a></td>
                  </tr>
                  <tr *ngFor="let item of showUserDefinedColumn()">

                    <td><input (change)="selectUserDefinedColumns(item?.originalColumnName,item?.isSelected)"
                        [(ngModel)]="item.isSelected" type="checkbox"></td>
                    <td>{{item?.originalColumnName}}</td>
                    <td><input class="form-control" type="text" (ngModelChange)="item.modifiedColumnName=$event"
                        [ngModel]="item?.modifiedColumnName"></td>
                    <td>{{item?.dataType}}</td>
                    <td></td>
                    <td><a (click)="openUsrDefinedColumnModel(item?.originalColumnName)" data-toggle="modal"
                        data-target="#add-edit-user-defined-column-modal"><i class="fa fa-edit"></i></a></td>
                    <td><a (click)="deleteUsrDefinedColumn(item?.originalColumnName)"><i class="fa fa-trash"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>
        </div>
        <h4 *ngIf="showNoTablesMsg" style="margin-top: 19%;" >No Columns available</h4>
      </div>
    </div>
  </div>
  <div class="row" id="nextbtn">
    <button type="button" class="btn btn-primary next" (click)="gotoExtractDigestExtraction()"
      style="float: right;margin-right: 24px">Next</button>
    <button class="btn btn-primary Previous back" id="back-to-job-config" (click)="gotoJobConfiguration()"
      style="float:right;margin-right:5px;">&laquo;
      Back</button>
    <button class="btn btn-primary Previous cancelBtn" id="cancelBtn" data-toggle="modal" data-target="#confirm_model"
      style="float:right;margin-right:5px;">
      Cancel</button>
  </div>
</div>

<div id="add-edit-user-defined-column-modal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:915px">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Add/Edit user defined columns
        </div>
      </div>
      <div class="modal-body">
        <div id="table-name-heading" class="form-group">
          <input type="text" class="form-control" (keyup)="setQueryModeUserDefined()"
            [disabled]="disabledUserDefinedColName" [(ngModel)]="usrDefinedColumnName" name="ucolumnname"
            id="ucolumnname" placeholder="Enter unique column name">
        </div>
        <div>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 style="text-align:left" class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Combined Column Mode
                  </a>
                  <i style="float:right" class="fa fa-chevron-right"></i>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <div id="add-edit-column">
                    <div class="form-inline" id="add-edit">
                      <div class="add-edit-heading form-group">
                        Prefix
                      </div>
                      <div class=" add-edit-heading form-group">
                        Column
                      </div>
                      <div class=" add-edit-heading form-group">
                        Suffix
                      </div>
                      <div class=" add-edit-heading form-group">
                        Action
                      </div>
                    </div>
                    <form class="form-inline" id="add-edit-form" [formGroup]="myForm">
                      <div formArrayName="addEditColumn">
                        <div *ngFor="let addEditItem of myForm.controls.addEditColumn['controls']; let i=index">
                          <div [formGroupName]="i">
                            <div class="add-edit-form-item form-group">
                              <input type="text" class="form-control form-control-sm" formControlName="prefix">
                            </div>
                            <div class="add-edit-form-item form-group">
                              <select class="form-control" formControlName="column">
                                <option [ngValue]="null">Select Column</option>
                                <option [ngValue]="item" *ngFor="let item of ursDefinedColumnNameList">{{item}}</option>
                              </select>
                            </div>
                            <div class="add-edit-form-item form-group">
                              <input type="text" class="form-control form-control-sm" formControlName="suffix">
                            </div>
                            <div class="add-edit-form-item action form-group">
                              <a (click)="addColumns(i)"><i class="fa fa-plus"></i></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div id="user-defined-table">
                    <div *ngFor="let item of userDefinedList;let i=index" class="user-defined-box form-inline">
                      <div class="clearflex add-edit-form-item form-group">{{item.prefix}}</div>
                      <div class="clearflex add-edit-form-item form-group">{{item.column}}</div>
                      <div class="clearflex add-edit-form-item form-group">{{item.suffix}}</div>
                      <div class="clearflex add-edit-form-item form-group"><a
                          (click)="deleteUsrDefinedCol(i,item.column)"><i class="fa fa-trash"></i></a></div>
                    </div>
                  </div>
                  <div id="query-mode-div">
                    <label id="lbl-id">Query Mode</label>
                    <textarea class="form-control" [disabled]="true" [(ngModel)]="usrDefinedQueryView"
                      style="width: 100%;height: 106px;"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 style="text-align:left" class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Query Mode
                  </a>
                  <i style="float:right" class="fa fa-chevron-right"></i>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <textarea class="form-control" (keyup)="queryMode()"
                    [(ngModel)]="usrDefinedQueryViewMode" style="width: 100%;height: 106px;"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div style="text-align: -webkit-left" id="query-alert" class="alert-hide alert alert-danger alert-dismissible">
          <a class="close" (click)="closeUserDefinedAlert()" aria-label="close">&times;</a>
          <strong>Alert! </strong>{{usrDefinedAlertMessage}}
        </div>
        <button type="button" class="btn btn-primary cancelBtnp" id="usr-defined-close"
          data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary next" [disabled]="enableUserDefined"
          (click)="saveUsrDefinedColumn()">Save</button>

      </div>
    </div>
  </div>
</div>
<button data-toggle="modal" id="addFilterModelId" data-target="#filter-modal" style="display: none"></button>
<div id="filter-modal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:915px">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Filter/Order Conditions</div>
      </div>
      <div class="modal-body">
        <section id="tabs">
          <div class="row">
            <div class="col-md-12 ">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active-tab" (click)="filterOrderConfig($event)" id="nav-filter-tab"
                    data-toggle="tab" href="#nav-filter" role="tab" aria-controls="nav-filter"
                    aria-selected="true">Filter
                    Config</a>
                  <a class="nav-item nav-link" (click)="filterOrderConfig($event)" id="nav-data-tab" data-toggle="tab"
                    href="#nav-data" role="tab" aria-controls="nav-data" aria-selected="false">Data Order Config</a>
                </div>
              </nav>
              <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div *ngIf="filterdata.root!==null" class="tab-pane fade active in" id="nav-filter" role="tabpanel"
                  aria-labelledby="nav-filter-tab">
                  <ng-template #nodeTemplateRef let-node>
                    <div class="node" [class.node--selected]="( node === selectedTreeNode )">
                      <div aria-expanded="false" data-toggle="collapse" [attr.href]="'#' + node.id">
                        <div class="filter-toogle-div" (click)="showFilterChild($event)"
                          [style.margin-left.px]="node.margin_left" *ngIf="node.children.length>0"><i
                            class="fa fa-chevron-down"></i>{{node.operation}}</div>
                        <div *ngIf="node.children.length==0" [style.margin-left.px]="node.margin_left"
                          class="filter-div form-inline">
                          <span (click)="deleteFilterConfigTreeNode(node.id)" class="cursor-poniter"><i
                              class="fa fa-trash"></i></span>
                          <div class="form-group filter-well"
                            (click)="insertFilterNode(node.id,'AND',selectfiltercolumn.value,selectcondition.value,input.value,$event)">
                            AND</div>
                          <div class="form-group filter-well"
                            (click)="insertFilterNode(node.id,'OR',selectfiltercolumn.value,selectcondition.value,input.value,$event)">
                            OR</div>
                          <div class="form-group">
                            <select class="form-control" [(ngModel)]="node.column" #selectfiltercolumn>
                              <option [ngValue]="null" selected>Select Column</option>
                              <option [value]="item" *ngFor="let item of filterConfigColumnNameList">{{item}}</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <select #selectcondition [(ngModel)]="node.condition" class="form-control">
                              <option value="null" selected>Select condition</option>
                              <option value="=">=</option>
                              <option value="!=">!=</option>
                              <option value="<=">
                                <=</option> <option value="<">
                                  <</option> <option value=">=">>=
                              </option>
                              <option value=">">></option>
                              <option value="between">between</option>
                              <option value="in">in</option>
                              <option value="is null">is null</option>
                              <option value="is not null">is not null</option>
                              <option value="like">like</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <input type="text" [(ngModel)]="node.value" #input class="form-control">
                          </div>
                        </div>
                      </div>
                      <div *ngIf="node.children.length>0" [style.margin-left.px]="node.margin_left" [attr.id]="node.id"
                        class="collapse" class="node__children">
                        <ng-template ngFor [ngForOf]="node.children" [ngForTemplate]="nodeTemplateRef">
                        </ng-template>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template [ngTemplateOutlet]="nodeTemplateRef"
                    [ngTemplateOutletContext]="{ $implicit: filterdata.root }">
                  </ng-template>
                </div>
                <div class="tab-pane fade" id="nav-data" role="tabpanel" aria-labelledby="nav-data-tab">
                  <div id="add-edit-tbl">
                    <div class="form-inline" id="add-edit">
                      <div class=" add-edit-heading form-group">
                        Column
                      </div>
                      <div class=" add-edit-heading form-group">
                        Order By
                      </div>
                      <div class=" add-edit-heading form-group">
                        Action
                      </div>
                    </div>
                    <div id="add-sel-table">
                      <div class="form-inline" *ngFor="let item of dataOrderList;let i=index">
                        <div class="add-edit-heading form-group">{{item.column}}</div>
                        <div class="add-edit-heading form-group">{{item.order}}</div>
                        <div class="add-edit-heading form-group"><i (click)="deleteOrderConfig(item.column,i)" class="fa fa-trash"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-inline" id="add-edit-form">
                    <div>
                      <div class="add-edit-form-item form-group">
                        <select [(ngModel)]="dataOrderObj.column" class="form-control">
                          <option [value]="null" selected>Select Column</option>
                          <option [value]="item" *ngFor="let item of orderFilterConfigColumnNameList">{{item}}</option>
                        </select>
                      </div>
                      <div class="add-edit-form-item form-group">
                        <select [(ngModel)]="dataOrderObj.order" class="form-control">
                          <option value="null" selected>Select Order</option>
                          <option value='Asc'>Ascending</option>
                          <option value='desc'>Descending</option>
                        </select>
                      </div>
                      <div class="add-edit-form-item action form-group">
                        <a (click)="addOrder()"><i class="fa fa-plus"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancelBtnp" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary next" (click)="createFilterColumnConfig()"
          data-dismiss="modal">save</button>

      </div>
    </div>
  </div>
</div>
<div id="config-modal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:915px">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Column Configuration</div>
      </div>
      <div class="modal-body">
        <div id="table-name-heading" class="form-group">
          <input type="text" class="form-control" disabled="true" [ngModel]="configColumnObject.selectedColumnName"
            name="ucolumnname" id="ucolumnname">
        </div>
        <div class="form-group">
          <select class="form-control" #selectValue="ngModel" [ngModel]="configColumnObject.selectedConfigFunction"
            name="configName" (ngModelChange)="setColumnConfigObj(selectValue.value)">
            <option value="null">Select Column</option>
            <option *ngFor="let item of columnConfigFunctionList" [value]="item.function">{{item.function}}</option>
          </select>
        </div>
        <div class="form-group">
          <button type="button" [disabled]="selectValue.value===null" (click)="saveColumnConfig()"
            class="btn btn-primary next">save</button>
        </div>
        <div class="config-table">
          <div class="form-inline" id="config-table-header">
            <div class="form-group">#</div>
            <div class="form-group">Function</div>
            <div class="form-group">Param</div>
            <div class="form-group">Output Type</div>
            <div class="form-group">Delete</div>
          </div>
          <div class="form-inline" *ngFor="let item of configColumnList;let i=index" id="config-table">
            <div class="form-group">{{i + 1}}</div>
            <div class="form-group">{{item.selectedConfigFunction}}</div>
            <div class="form-group">{{item.selectedColumnName}}</div>
            <div class="form-group">{{item.outputType}}</div>
            <div class="form-group cursor-pointer"><i class="fa fa-trash" (click)="deleteColumnCOnfig(i)"></i></div>
          </div>
        </div>
        <div style="font-size:12px; padding-top:8px;">
          Query preview:{{configColumnQuery}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary cancelBtnp" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="ert_available_table_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">Avaliable Ert Table List</div>
      </div>
      <div class="modal-body">
        <div id="avaliable-table-list">
          <div class="form-control"
            *ngFor="let item of ertAvillableTableList.erttableList.ertTableList | paginate: { itemsPerPage: itemsPerPage, totalItems: avilableTableCount, currentPage: avilablePage } ">
            <input type="checkbox" (click)="selectAvaliableTable(item.tableId,$event)" [(ngModel)]="item.isSelected">
            {{item.tableName}}
          </div>
        </div>
        <pagination-controls style="font-size:13px" (pageChange)="getAvilableTablePage(avilablePage = $event)">
        </pagination-controls>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary cancelBtnp" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary next" (click)="addAvailableTable()"
          data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
<div id="reset_confirm_model" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 430px;">
      <div class="modal-header">
        <div class="modal-title">Confirm reset</div>
      </div>
      <div class="modal-body">
        <p style="text-align:left; font-size: 13px;">Are you sure ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary cancelBtnp" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary next" (click)="refreshColumn()" data-dismiss="modal">Yes</button>

      </div>
    </div>
  </div>
</div>
<div id="confirm_model" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 430px;">
      <div class="modal-header">
        <div class="modal-title">Confirm Cancel</div>
      </div>
      <div class="modal-body">
        <p style="text-align:left; font-size: 13px;">Are you sure ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary cancelBtnp" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary next" (click)="cancel()" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<button style="display:none" type="button" id="warning-popup-btn" class="btn btn-info btn-lg" data-toggle="modal"
  data-target="#success">Open Modal</button>
<div id="success" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header adhoc-modal-header">
        <h4 class="modal-title">Alert!</h4>
      </div>
      <div class="modal-body">
        <p>Filter can only be applied on primary table.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-padding btn-transform adhoc-modal-btn"
          data-dismiss="modal">Ok</button>
        <button type="button" style="display:none" class="btn btn-default adhoc-modal-btn"
          data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>