.col-title {
  width: 200px;
  vertical-align: middle;
}

.col-info-data {
  width: 500px;
  padding: 0px 5px;
  vertical-align: middle;
}

.col-info-data>.trim-text {
  max-width: 450px;
  min-width: 100px;
}

#user-info .table-hover {
  margin-top: 20px;
  margin-left: 75px;
  width: 72%;
  text-align: left;
}

.text-overflow-hid {
  overflow: hidden;
}




/**
 * Demo styles
 * Not needed for tooltips to work
 */

/* `border-box`... ALL THE THINGS! */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 64px auto;
  text-align: center;
  font-size: 100%;
  max-width: 640px;
  width: 94%;
}

a:hover {
  text-decoration: none;
}

header,
.demo,
.demo p {
  margin: 4em 0;
  text-align: center;
}
